/*
 * Copyright (c) 2018 ISP RAS (http://www.ispras.ru)
 * Ivannikov Institute for System Programming of the Russian Academy of Sciences
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#include <ldv/verifier/common.h>
#include <ldv/linux/common.h>

enum
{
	LDV_NOT_INITIALIZED,
	LDV_INITIALIZED,
	LDV_CHANGED,
	LDV_DESTROYED
};

// for arg_sign in idr_arg_signs

static int ldv_idr{{ arg_sign.id }} = LDV_NOT_INITIALIZED;

void ldv_idr_init{{ arg_sign.id }}(void)
{
	if (ldv_idr{{ arg_sign.id }} != LDV_NOT_INITIALIZED)
		/* ASSERT If IDR not initialized it can be initialized */
		ldv_error();

	/* NOTE Initialize state{{ arg_sign.id }} */
	ldv_idr{{ arg_sign.id }} = LDV_INITIALIZED;
}

void ldv_idr_alloc{{ arg_sign.id }}(void)
{
	if (ldv_idr{{ arg_sign.id }} == LDV_NOT_INITIALIZED)
		/* ASSERT IDR should be initialized */
		ldv_error();

	if (ldv_idr{{ arg_sign.id }} == LDV_DESTROYED)
		/* ASSERT IDR should not be destroyed */
		ldv_error();

	/* NOTE Alloc in state{{ arg_sign.id }} */
	ldv_idr{{ arg_sign.id }} = LDV_CHANGED;
}

void ldv_idr_find{{ arg_sign.id }}(void)
{
	if (ldv_idr{{ arg_sign.id }} == LDV_NOT_INITIALIZED)
		/* ASSERT IDR should be initialized */
		ldv_error();

	if (ldv_idr{{ arg_sign.id }} == LDV_DESTROYED)
		/* ASSERT IDR should not be destroyed */
		ldv_error();

	/* NOTE Find in state{{ arg_sign.id }} */
	ldv_idr{{ arg_sign.id }} = LDV_CHANGED;
}

void ldv_idr_remove{{ arg_sign.id }}(void)
{
	if (ldv_idr{{ arg_sign.id }} == LDV_NOT_INITIALIZED)
		/* ASSERT IDR should be initialized */
		ldv_error();

	if (ldv_idr{{ arg_sign.id }} == LDV_DESTROYED)
		/* ASSERT IDR should not be destroyed */
		ldv_error();

	/* NOTE Remove from state{{ arg_sign.id }} */
	ldv_idr{{ arg_sign.id }} = LDV_CHANGED;
}

void ldv_idr_destroy{{ arg_sign.id }}(void)
{
	if (ldv_idr{{ arg_sign.id }} == LDV_NOT_INITIALIZED)
		/* ASSERT IDR should be initialized */
		ldv_error();

	if (ldv_idr{{ arg_sign.id }} == LDV_DESTROYED)
		/* ASSERT IDR should not be destroyed */
		ldv_error();

	/* NOTE Destroy state{{ arg_sign.id }} */
	ldv_idr{{ arg_sign.id }} = LDV_DESTROYED;
}

// endfor

void ldv_check_final_state(void)
{
	// for arg_sign in idr_arg_signs
	if (ldv_idr{{ arg_sign.id }} != LDV_NOT_INITIALIZED && ldv_idr{{ arg_sign.id }} != LDV_DESTROYED
		/* ASSERT Check if {{ arg_sign.text }} is destroyed or not changed */
		ldv_error();
	// endfor
}
