{
  "Klever": {
    "version": "master",
    "path": "."
  },
  "Klever Addons": {
    "BenchExec": {
      "version": "master",
      "path": "../benchexec"
    },
    "CIF": {
      "version": "58ca670",
      "path": "addons/cif-58ca670"
    },
    "CIL": {
      "version": "1.5.1-ldv",
      "path": "addons/cil-1.5.1",
      "executable path": "obj/x86_LINUX"
    },
    "Consul": {
      "version": "0.9.2",
      "path": "addons/consul"
    },
    "VerifierCloud Client": {
      "version": "trunk:26155",
      "path": "addons/CPAchecker-1.6.1-svn edde8bf827-unix/scripts/",
      "executable path": "benchmark"
    },
    "Verification Backends": {
      "CPAchecker LDV": {
        "name": "CPAchecker",
        "version": "trunk:26155",
        "path": "addons/CPAchecker-1.6.1-svn edde8bf827-unix",
        "executable path": "scripts"
      },
      "CPAchecker LDV BAM": {
        "name": "CPAchecker",
        "version": "ldv-bam:25793",
        "path": "addons/CPAchecker-1.6.1-svn 816d5667b1-unix",
        "executable path": "scripts"
      },
      "CPAchecker LDV SMG": {
        "name": "CPAchecker",
        "version": "smg_witness_for_ldv:26912",
        "path": "addons/CPAchecker-1.6.1-svn c25a8706c8-unix",
        "executable path": "scripts"
      },
      "CPALockator": {
        "name": "CPAchecker",
        "version": "CPALockator:26692",
        "path": "addons/CPAchecker-1.6.1-svn ea117e2ecf-unix",
        "executable path": "scripts"
      }
    }
  },
  "Programs": {
    "linux-3.14": {
      "version": "3.14",
      "path": "programs/linux-3.14.tar.xz"
    },
    "linux-4.2.6": {
      "version": "4.2.6",
      "path": "programs/linux-4.2.6"
    },
    "linux-stable": {
      "version": "master",
      "path": "programs/linux-stable"
    }
  }
}
