{% load i18n %}
<!--
Include with variables:
view_type (int/str),
view_id (int/str),
views(list of dictionaries: [{'name': <name>, 'id': <view_id>}, ...])
-->

<div class="ui grid">
    <div class="ten wide column">
        <div class="ui small action input fluid">
            <input id="{{ view_type }}__view_name_input" type="text" placeholder="{% trans 'New view name' %}">
            <button id="{{ view_type }}__save_view_btn" type="button" class="ui olive button">{% trans 'Save' %}</button>
        </div>
    </div>
    <div class="six wide column right aligned">
        <button id="{{ view_type }}__show_unsaved_view_btn" type="button" class="ui violet button">{% trans 'Show' %}</button>
    </div>
</div>
<div class="ui divider"></div>
<div class="ui action input">
    <label for="{{ view_type }}__available_views"></label>
    <select id="{{ view_type }}__available_views" class="ui dropdown">
        <option value="default">{% trans 'Default' %}</option>
        {% for v in views %}
            <option title="{{ v.name }}" value="{{ v.id }}"{% if view_id == v.id %} selected{% endif %}>{{ v.name }}</option>
        {% endfor %}
    </select>
    <br><br>
    <button id="{{ view_type }}__show_view_btn" type="button" class="ui teal icon button note-popup" data-content="{% trans 'Show' %}"><i class="unhide icon"></i></button>
    <button id="{{ view_type }}__prefer_view_btn" type="button" class="ui green icon button note-popup" data-content="{% trans 'Make preferred' %}"><i class="thumbs up icon"></i></button>
    <button id="{{ view_type }}__update_view_btn" type="button" class="ui pink icon button note-popup" data-content="{% trans 'Update' %}"><i class="refresh icon"></i></button>
    <button id="{{ view_type }}__remove_view_btn" type="button" class="ui red icon button note-popup" data-content="{% trans 'Delete' %}"><i class="remove icon"></i></button>
</div>
<input class="buttons-view-type" type="hidden" value="{{ view_type }}">