[Unit]
Description=Klever cgroup Service
Requires=klever-native-scheduler.service
After=klever-native-scheduler.service

[Service]
Type=simple
ExecStart=/bin/sh -c "chmod -R o+wt /sys/fs/cgroup/cpuset '/sys/fs/cgroup/cpu,cpuacct' /sys/fs/cgroup/memory /sys/fs/cgroup/freezer"

[Install]
WantedBy=multi-user.target
