[Unit]
Description=Klever Celery Beat Development Service
After=network.target local-fs.target remote-fs.target

[Service]
Type=simple
EnvironmentFile=/etc/default/klever
ExecStart=/bin/sh -c "cd ${KLEVER_SOURCE_DIRECTORY}/klever/bridge && ${KLEVER_PYTHON_BIN_DIR}/celery beat -A bridge --loglevel=info"

[Install]
WantedBy=multi-user.target
