[Unit]
Description=Klever VerifierCloud Scheduler Service
Requires=rabbitmq-server.service

[Service]
Type=idle
User=klever
EnvironmentFile=/etc/default/klever
ExecStart=/bin/sh -c "${KLEVER_PYTHON_BIN_DIR}/klever-verifiercloud-scheduler ${KLEVER_DEPLOYMENT_DIRECTORY}/klever-conf/verifiercloud-scheduler.yml"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
