[Unit]
Description=Klever Celery Beat Service
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
EnvironmentFile=-/etc/conf.d/klever-celery.conf
EnvironmentFile=/etc/default/klever
WorkingDirectory=/var/www/klever-bridge/bridge
ExecStart=/bin/sh -c '${KLEVER_PYTHON_BIN_DIR}/celery beat  \
    -A ${CELERY_APP} --pidfile=${CELERYBEAT_PID_FILE} \
    --logfile=${CELERYBEAT_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL} \
    $CELERYBEAT_OPTS'

[Install]
WantedBy=multi-user.target
