{% extends 'base.html' %}

{% load staticfiles %}
{% load tz %}
{% load i18n %}

{% get_current_timezone as TIME_ZONE %}

{% block title %}Settings{% endblock %}

{% block head_block %}
    <link href="/static/users/css/style.css" rel="stylesheet">
{% endblock %}

{% block body_block %}

    {% if changed %}
        <strong>{% trans 'Your profile was changed!' %}</strong>
    {% else %}
        <h3><strong>{% trans 'Please type your old password to save changes.' %}</strong></h3><br>
        <form id="user_form" method="post" action="{% url 'users:edit_profile' %}">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
            <label for="timezone">{% trans 'Time zone' %}:</label>
            <select id="timezone" name="timezone">
                {% for tmz in timezones %}
                    <option value="{{ tmz }}"{% if tmz == user.extended.timezone %} selected="selected"{% endif %}>{{ tmz }}</option>
                {% endfor %}
            </select>
        <br><input type="submit" name="submit" value="Submit">
        </form>
    {% endif %}

{% endblock %}