{% extends 'base.html' %}

{% load staticfiles %}
{% load tz %}
{% load i18n %}

{% get_current_timezone as TIME_ZONE %}

{% block title %}{% trans 'Settings' %}{% endblock %}

{% block head_block %}
    <script src="/static/users/js/users.js"></script>
    <link href="/static/users/css/style.css" rel="stylesheet">
{% endblock %}

{% block body_block %}
    <div class="ui olive segment">
        <h3 class="ui header">{% trans 'Settings' %}</h3>
        <form id="user_form" method="post" action="{% url 'users:edit_profile' %}">
            {% csrf_token %}
            <div class="ui grid form">
                <div class="five wide column">
                    <div class="field">
                        <label>{{ user_form.new_password.label }}</label>
                        {{ user_form.new_password }}
                        <br>{{ user_form.errors.new_password }}
                    </div>
                    <div class="field">
                        <label>{{ user_form.retype_password.label }}</label>
                        {{ user_form.retype_password }}
                        <br>{{ user_form.errors.retype_password }}
                    </div>
                    <div class="field">
                        <label>{{ user_form.email.label }}</label>
                        {{ user_form.email }}
                    </div>
                </div>
                <div class="five wide column">
                    <div class="field">
                        <label>{{ profile_form.first_name.label }}</label>
                        {{ profile_form.first_name }}
                        <br>{{ profile_form.errors.first_name }}
                    </div>
                    <div class="field">
                        <label>{{ profile_form.last_name.label }}</label>
                        {{ profile_form.last_name }}
                        <br>{{ profile_form.errors.last_name }}
                    </div>
                </div>
                <div class="four wide column">
                    <div class="field">
                        <label>{{ profile_form.accuracy.label }}</label>
                        {{ profile_form.accuracy }}
                        <br>{{ profile_form.errors.accuracy }}
                    </div>
                    <div class="field">
                        <label>{{ profile_form.data_format.label }}</label>
                        {{ profile_form.data_format }}
                    </div>
                    <div class="field">
                        <label>{{ profile_form.language.label }}</label>
                        {{ profile_form.language }}
                    </div>
                    <div class="field">
                        <label for="timezone">{% trans 'Time zone' %}</label>
                        <select id="timezone" class="ui search dropdown" name="timezone">
                            {% for tmz in timezones %}
                                <option value="{{ tmz }}"{% if tmz == user.extended.timezone %} selected="selected"{% endif %}>{{ tmz }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <input type="submit" class="ui olive button" style="float: right;" name="submit" value="{% trans 'Save' %}">
            <br><br>
        </form>
    </div>
    <div class="ui purple segment right aligned">
        {% include 'users/notifications.html' %}
    </div>
    <div class="ui green segment">
        <h3 class="header">{% trans 'VerifierCloud login info' %}</h3>
        <label for="scheduler_login">{% trans 'Login' %}</label>
        <input id="scheduler_login" type="text" value="{{ sch_u.login }}">
        <br><br>
        <label for="scheduler_password">{% trans 'Password' %}</label>
        <input id="scheduler_password" type="password">
        <br><br>
        <label for="scheduler_password_retype">{% trans 'Confirm password' %}</label>
        <input id="scheduler_password_retype" type="password">
        <br>
        <div class="ui buttons">
            <button id="add_new_scheduler_data" class="ui green button">{% trans 'Save' %}</button>
            <button id="remove_scheduler_login_data" class="ui red button">{% trans 'Delete' %}</button>
        </div>
        <span id="new_login_scheduler_required" hidden>{% trans 'Login required' %}</span>
        <span id="new_password_scheduler_required" hidden>{% trans 'Password required' %}</span>
        <span id="new_password_scheduler_required" hidden>{% trans "Passwords don't match" %}</span>
    </div>
    <br><br>
{% endblock %}