{% extends 'base.html' %}

{% load staticfiles %}
{% load tz %}
{% load i18n %}

{% get_current_timezone as TIME_ZONE %}

{% block title %}{% trans 'Settings' %}{% endblock %}

{% block head_block %}
    <script src="/static/users/js/users.js"></script>
    <link href="/static/users/css/style.css" rel="stylesheet">
{% endblock %}

{% block body_block %}
    <div class="ui olive segment">
        <h3 class="ui header">{% trans 'Settings' %}</h3>
        <form id="user_form" method="post" action="{% url 'users:edit_profile' %}">
            {% csrf_token %}
            <div class="ui grid form">
                <div class="five wide column">
                    <div class="field">
                        <label>{{ user_form.new_password.label }}</label>
                        {{ user_form.new_password }}
                        <br>{{ user_form.errors.new_password }}
                    </div>
                    <div class="field">
                        <label>{{ user_form.retype_password.label }}</label>
                        {{ user_form.retype_password }}
                        <br>{{ user_form.errors.retype_password }}
                    </div>
                    <div class="field">
                        <label>{{ user_form.email.label }}</label>
                        {{ user_form.email }}
                    </div>
                </div>
                <div class="five wide column">
                    <div class="field">
                        <label>{{ profile_form.first_name.label }}</label>
                        {{ profile_form.first_name }}
                        <br>{{ profile_form.errors.first_name }}
                    </div>
                    <div class="field">
                        <label>{{ profile_form.last_name.label }}</label>
                        {{ profile_form.last_name }}
                        <br>{{ profile_form.errors.last_name }}
                    </div>
                </div>
                <div class="four wide column">
                    <div class="field">
                        <label>{{ profile_form.accuracy.label }}</label>
                        {{ profile_form.accuracy }}
                        <br>{{ profile_form.errors.accuracy }}
                    </div>
                    <div class="field">
                        <label>{{ profile_form.data_format.label }}</label>
                        {{ profile_form.data_format }}
                    </div>
                    <div class="field">
                        <label>{{ profile_form.language.label }}</label>
                        {{ profile_form.language }}
                    </div>
                    <div class="field">
                        <label for="timezone">{% trans 'Time zone' %}</label>
                        <select id="timezone" class="ui search dropdown" name="timezone">
                            {% for tmz in timezones %}
                                <option value="{{ tmz }}"{% if tmz == user.extended.timezone %} selected="selected"{% endif %}>{{ tmz }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <input type="submit" class="ui olive button" style="float: right;" name="submit" value="{% trans 'Save' %}">
            <br><br>
        </form>
    </div>
    <div class="ui purple segment right aligned">
        {% include 'users/notifications.html' %}
    </div>
    <div class="ui green segment">
        <h3 class="header">{% trans 'VerifierCloud login info' %}</h3>
        <div class="ui grid">
            <div class="five wide column">
                <div class="ui grid">
                    <div class="eleven wide column">
                        <label for="scheduler_login">{% trans 'Login' %}</label>
                        <div class="ui input fluid">
                            <input id="scheduler_login" type="text" value="{{ user.scheduleruser.login }}">
                        </div>
                    </div>
                    <div class="five wide column">
                        <br>
                        <i id="sch_u_login_warn" class="for_popup ui warning red big icon" style="display: none"></i>
                        <div class="ui popup top left transition hidden">
                            <span style="white-space: nowrap">{% trans 'Required' %}</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui grid">
                    <div class="eleven wide column">
                        <label for="scheduler_password">{% trans 'Password' %}</label>
                        <div class="ui input fluid">
                            <input id="scheduler_password" type="password">
                        </div>
                    </div>
                    <div class="five wide column">
                        <br>
                        <i id="sch_u_password_warn" class="for_popup ui warning red big icon" style="display: none"></i>
                        <div class="ui popup top left transition hidden">
                            <span style="white-space: nowrap">{% trans 'Required' %}</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui grid">
                    <div class="eleven wide column">
                        <label for="scheduler_password_retype">{% trans 'Confirm password' %}</label>
                        <div class="ui input fluid">
                            <input id="scheduler_password_retype" type="password">
                        </div>
                    </div>
                    <div class="five wide column">
                        <br>
                        <i id="sch_u_password_retype_warn" class="for_popup ui warning red big icon" style="display: none"></i>
                        <div class="ui popup top left transition hidden">
                            <span style="white-space: nowrap">{% trans 'Required' %}</span>
                        </div>
                        <i id="sch_u_password_retype_warn_2" class="for_popup ui warning red big icon" style="display: none"></i>
                        <div class="ui popup top left transition hidden">
                            <span style="white-space: nowrap">{% trans "Passwords don't match" %}</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui grid">
                    <div class="eleven wide column right aligned">
                        <div class="ui buttons">
                            <button id="add_new_sch_u" class="ui green button disabled">{% trans 'Save' %}</button>
                            {% if user.scheduleruser %}<button id="remove_sch_u" class="ui red button">{% trans 'Delete' %}</button>{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    {% if user.scheduleruser %}
        <div id="remove_sch_u_popup" class="ui basic modal">
            <div class="ui icon header">
                <i class="warning sign icon"></i>
                {% trans 'Are you sure' %}?
            </div>
            <div class="content">
                <div class="ui center aligned grid">
                    <p>{% trans 'You will not be able to restore login information' %}!</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui center aligned grid">
                    <button id="cancel_remove_sch_u" type="button" class="ui blue basic inverted button">{% trans 'Cancel' %}</button>
                    <button id="confirm_remove_sch_u" type="button" class="ui red basic inverted button">{% trans 'Delete' %}</button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}