{% extends 'base.html' %}
{% load tz %}

{% block title %}Index{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <h1>Hello, {{ user.username }}!</h1>
    {% else %}
        <h1>Hello world!</h1>
    {% endif %}
    {% if chdate and user_tz %}
        {% timezone user_tz %}
        <p>Your account was changed last time: {{ chdate }} by
            {{ user.extended.change_author.extended.first_name }}
            {{ user.extended.change_author.extended.last_name }}</p>
        {% endtimezone %}
    {% elif chdate %}
        <p>Your account was changed last time: {{ chdate }} by
            {{ user.extended.change_author.extended.first_name }}
            {{ user.extended.change_author.extended.last_name }}</p>
    {% endif %}
{% endblock %}