{% load i18n %}

<table class="table table-bordered tree table-fixed" style="margin-bottom: 10px;; text-align: center;">
    <thead>
        <tr class="info"><th></th><th style="text-align: center;" colspan="{{ tdata.table.colspan }}">{{ tdata.table.head_0 }}</th></tr>
        <tr class="info">
            <th></th>
            {% for h1 in tdata.table.head_1 %}
                <th style="text-align: center;">{{ h1 }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for rd in tdata.table.rows %}
        <tr>
            <th class="info col-sm-4" style="text-align: right;">{{ rd.name }}</th>
            {% for id in rd.ids %}
                <td><label><input type="checkbox" id="ntf__{{ id }}"{% if id in tdata.settings %} checked{% endif %}></label></td>
            {% endfor %}
        </tr>
    {% endfor %}
        <tr class="info">
            <th style="text-align: right;"><label for="self_ntf">{{ tdata.table.footer }}</label></th>
            <th colspan="{{ tdata.table.colspan }}"><input type="checkbox" id="self_ntf"{% if tdata.self_ntf %} checked{% endif %}></th>
        </tr>
    </tbody>
</table>
<button id="save_notifications" class="btn btn-success">{% trans 'Save' %}</button>