.tagsmap {
    overflow-x: auto;
    margin: 20px;
    padding-bottom: 20px;
}

.mark-tag {
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700;
    color: #ffffff !important;
    padding: 3px 10px 3px 10px;
    text-align: center;
    background-clip: border-box;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
	-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
}

.mark-tag.unsafe {
    background: linear-gradient(to bottom, #e8843e, #ffad4f);
}
.mark-tag.unsafe:hover {
    background: linear-gradient(to bottom, #ffad4f, #ffad4f);
}
.mark-tag.safe {
    background: linear-gradient(to bottom, #27bc62, #29de7d);
}
.mark-tag.safe:hover {
    background: linear-gradient(to bottom, #29de7d, #29de7d);
}

.line {
    min-width: 30px;
    padding: 0;
    margin: 0;
    background-size: 100%;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
}
