# Klever
addons
build bases

# celery
celerybeat*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
Pipfile*

# virtualenv
.venv
venv/
ENV/

# dotenv
.env

# PyCharm
.idea/workspace.xml
*/.idea/workspace.xml
.idea/dictionaries/*
.idea/dataSources*

# mypy
.mypy_cache/

# macOS
.DS_STORE

# pytest
.pytest_cache

# white list
!klever/cli/build/
