amqp==5.1.0
asgiref==3.5.0
attrs==21.4.0
BenchExec==3.11
billiard==3.6.4.0
cchardet==2.1.7
celery==5.2.3
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
clade==3.4.12
click==8.0.4
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
Django==4.0.3
django-appconf==1.0.5
django-celery-results==2.3.0
django-compressor==3.1
django-js-asset==2.0.0
django-mptt==0.13.4
djangorestframework==3.13.1
graphviz==0.19.1
gunicorn==20.1.0
idna==3.3
iniconfig==1.1.1
Jinja2==3.0.3
kombu==5.2.4
MarkupSafe==2.1.0
packaging==21.3
pika==1.2.0
pluggy==1.0.0
ply==3.11
prompt-toolkit==3.0.28
psycopg2-binary==2.9.3
py==1.11.0
Pygments==2.11.2
pyparsing==3.0.7
pytest==7.1.0
python-slugify==6.1.1
pytz==2021.3
PyYAML==6.0
rcssmin==1.1.0
requests==2.27.1
rjsmin==1.2.0
setuptools-scm==6.4.2
six==1.16.0
sortedcontainers==2.4.0
sqlparse==0.4.2
text-unidecode==1.3
tomli==2.0.1
ujson==5.1.0
urllib3==1.26.8
vine==5.0.0
wcwidth==0.2.5
