{% load i18n %}

{% if data %}
    <table class="ui compact selectable table">
        <thead>
            <tr>
                <th>{% trans 'Function name' %}</th>
                <th>{% trans 'Successfully finished' %}?</th>
                <th>{% trans 'Enter' %}</th>
                <th>{% trans 'Waiting lock' %}</th>
                <th>{% trans 'Try lock' %}</th>
                <th>{% trans 'Execution' %}</th>
                <th>{% trans 'Execution time' %}</th>
                <th>{% trans 'Return' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
                <tr>
                    <td><a class="func_name" href="#" data-time="{{ d.enter.0 }}">{{ d.name }}</a></td>
                    <td>
                        {% if d.failed %}
                            <i class="ui red remove icon"></i>
                        {% else %}
                            <i class="ui green checkmark icon"></i>
                        {% endif %}
                    </td>
                    <td>{{ d.enter.1|date:'d.m.y H:i:s.u' }}</td>
                    <td>{{ d.wait1.0 }} {% trans 's' %}</td>
                    <td>{{ d.wait2.0 }} {% trans 's' %}</td>
                    <td>{{ d.exec.1|date:'H:i:s.u' }}</td>
                    <td>{{ d.exec_time }} {% trans 's' %}</td>
                    <td>{{ d.return.1|date:'H:i:s.u' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
