{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Manager Tools' %}{% endblock %}

{% block head_block %}
    <script src="{% static 'tools/js/manager.js' %}"></script>
{% endblock %}

{% block body_block %}
    {% if user.extended.role != '2' %}
        <h1>{% trans 'No access' %}</h1>
    {% else %}
        <div class="ui grid">
            <div class="six wide column">
                <div class="ui violet segment">
                    <h3 class="header">{% trans 'Components' %}</h3>
                    {% if components|length > 0 %}
                        <div style="max-height: 35vh; overflow-y: auto">
                            {% for component in components %}
                                <div id="component__{{ component.pk }}">
                                    <div class="ui action input fluid">
                                        <input id="component_name_input__{{ component.pk }}" type="text" placeholder="{% trans 'Component name' %}" value="{{ component.name }}">
                                        <button id="rename_component_btn__{{ component.pk }}" class="ui teal button">{% trans 'Rename' %}</button>
                                    </div>
                                    <br>
                                </div>
                            {% endfor %}
                        </div>
                        <br>
                        <button id="clear_all_components" class="ui red button">{% trans 'Delete all unused components' %}</button>
                    {% else %}
                        <h4>{% trans 'There are no components yet' %}</h4>
                    {% endif %}
                </div>
            </div>
            <div class="five wide column">
                <div class="ui violet segment">
                    <h3 class="header">{% trans 'Problems' %}</h3>
                    {% if problems|length > 0 %}
                        <div style="max-height: 35vh; overflow-y: auto">
                            <ul>
                                {% for problem in problems %}
                                    <li>{{ problem.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <br>
                        <button id="clear_all_problems" class="ui red button">{% trans 'Delete all unused problems' %}</button>
                    {% else %}
                        <h4>{% trans 'There are no problems yet' %}</h4>
                    {% endif %}
                </div>
            </div>
            <div class="five wide column">
                <a class="ui violet button fluid" href="{% url 'service:test' %}">Test service requests</a>
                <div class="ui divider"></div>
                <div class="ui vertical fluid buttons">
                    <a href="{% url 'marks:download_all' %}" class="ui teal button">{% trans 'Download all marks' %}</a>
                    <button id="upload_all_marks" class="ui teal button">{% trans 'Upload all marks' %}</button>
                </div>
                <div class="ui divider"></div>
                <div class="ui vertical fluid buttons">
                    <button id="clear_system" class="ui red button">{% trans 'Remove unused files and DB rows' %}</button>
                    <button id="clear_tasks" class="ui red button">{% trans 'Remove tasks for not solving jobs' %}</button>
                </div>
                <div class="ui divider"></div>
                <div class="ui vertical fluid buttons">
                    <a href="{% url 'tools:processing_list' %}" class="ui yellow button">{% trans 'View processing reqeusts' %}</a>
                    <a href="{% url 'tools:view_call_logs' %}" class="ui yellow button">{% trans 'View function call logs' %}</a>
                    <button id="clear_call_logs" class="ui yellow button">{% trans 'Remove call log that is older than 30 days' %}</button>
                </div>
            </div>
        </div>
        <div class="ui grid">
            <div class="ten wide column">
                <h3>{% trans 'Jobs' %}<i class="ui help blue icon"></i></h3>
                <div style="max-height: 25vh;overflow: auto;">
                    <table class="ui compact violet table celled">
                        <thead>
                            <tr>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'Identifier' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in jobs %}
                                <tr class="one wide column">
                                    <td>
                                        <div class="ui checkbox">
                                            <input id="job__{{ job.pk }}" type="checkbox" value="{{ job.pk }}">
                                            <label for="job__{{ job.pk }}">{{ job.name }}</label>
                                        </div>
                                    </td>
                                    <td>{{ job.identifier }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="six wide column">
                <h3>{% trans 'Recalculate' %}:</h3>
                <div id="recalc_for_all_jobs_checkbox" class="ui checkbox">
                    <input id="recalc_for_all_jobs" type="checkbox">
                    <label for="recalc_for_all_jobs">{% trans 'All jobs' %}</label>
                </div>
                <br><br>
                <div class="ui vertical orange buttons">
                    <button id="recalc_leaves" class="ui button">{% trans 'Leaf reports cache' %}</button>
                    <button id="recalc_safe" class="ui button">{% trans 'Safe marks cache' %}</button>
                    <button id="recalc_unsafe" class="ui button">{% trans 'Unsafe marks cache' %}</button>
                    <button id="recalc_unknown" class="ui button">{% trans 'Unknown marks cache' %}</button>
                    <button id="recalc_verdicts" class="ui button">{% trans 'Verdicts cache' %}</button>
                    <button id="recalc_resources" class="ui button">{% trans 'Resources cache' %}</button>
                    <button id="recalc_compinst" class="ui button">{% trans 'Cache of instances of components' %}</button>
                    <button id="recalc_coverage" class="ui button">{% trans 'Coverage cache' %}</button>
                </div>
                <br><br>
                <button id="recalc_all" class="ui red button">{% trans 'All caches' %}</button>
            </div>
        </div>
        <div id="upload_all_marks_popup" class="ui modal">
            <div class="header">{% trans 'Upload marks' %}</div>
            <div class="content">
                <div class="ui checkbox">
                    <input id="delete_marks_before_upload" type="checkbox">
                    <label for="delete_marks_before_upload">{% trans 'Delete all marks before upload' %}</label>
                </div>
                <br><br>
                <div class="ui grid">
                    <div class="four wide column right aligned">
                        <span class="ui violet button btn-file">{% trans 'Browse' %}<input id="upload_all_marks_file_input" type="file"></span>
                    </div>
                    <div class="twelve wide column">
                        <span id="upload_all_marks_filename" class="italic"></span>
                    </div>
                </div>
            </div>
            <div class="actions">
                <button id="upload_all_marks_start" type="button" class="ui positive left button">{% trans 'Upload' %}</button>
                <button id="upload_all_marks_cancel" type="button" class="ui blue button">{% trans 'Cancel' %}</button>
            </div>
        </div>
        <div id="uploaded_marks_modal" class="ui modal">
            <div class="header">{% trans 'Uploaded marks' %}</div>
            <div class="content">
                <h5 class="ui orange header">{% trans 'Unsafe' %}: <span id="num_uploaded_unsafe_marks"></span></h5>
                <h5 class="ui green header">{% trans 'Safe' %}: <span id="num_uploaded_safe_marks"></span></h5>
                <h5 class="ui red header">{% trans 'Unknown' %}: <span id="num_uploaded_unknown_marks"></span></h5>
                <h5 class="ui purple header">{% trans 'Failed' %}: <span id="num_uploaded_fail_marks"></span></h5>
            </div>
            <div class="actions">
                <button id="uploaded_marks_close" type="button" class="ui blue button">{% trans 'OK' %}</button>
            </div>
        </div>
    {% endif %}
{% endblock %}
