{% extends 'bridge/base.html' %}

{% block body_block %}
    <button id="fix_global_coverages" class="ui small violet button">Fix global coverage archives</button>
    <script type="application/javascript">
    jQuery(function () {
        $('#fix_global_coverages').click(function () {
            $.post("{% url 'tools:api-secret-fix-old-coverage' %}", function (resp) {
                success_notify(`Number of affected archives: ${resp.number}`);
            });
        });
    });
    </script>
{% endblock %}