.tableScroll {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    max-height: 670px;
    overflow-y: auto;
}

th {
    text-align: center;
}

.treegrid-span-obj {
    color: indigo;
}

.btn-close-x {
    background-color:#fd7e83;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius:25px;
    border:1px solid #ef1924;
    display:inline-block;
    color:#ffffff;
    font-weight:bold;
    height:20px;
    line-height:20px;
    width:20px;
    padding-left: 3px;
}

.btn-close-x:hover {
	background-color: #e61924;
}
.btn-close-x:active {
	position:relative;
	top:1px;
}

#jobstree-fullscreen-btn {
    float: right;
    height: 20px;
    width: 20px;
    padding-top: 0;
}

.show-job-title {
    color: #6416ad;
    font-weight: bold;
    font-size: 1.2em;
}

.show-job-name {
    font-style: italic;
}

#available_views {
    max-width: 187px;
}

#new_view_name_input {
    width: 300px;
}

#available_columns {
    max-width: 150px;
}

.col-vertical-buttons {
    float: left;
    width: 4%;
}

.dt-text {
    white-space: pre-wrap;
    padding-left: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #a1b0dd;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.glyphicon-button {
    padding-left: 3px;
}

.unimportant-text {
    color: silver;
}

.job-subtitle {
    color: #73b284;
}

.modal-loading {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8 )
                url('/static/images/loading.gif')
                50% 50%
                no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .modal-loading {
    display: block;
}