{% extends 'marks/base.html' %}

{% load i18n %}
{% block title %}{% trans 'Create mark' %}{% endblock %}
{% block body_block %}
{% if type == 'unsafe' %}
    <form autocomplete="off" onsubmit="return false">
        <input id="report_pk" type="hidden" value="{{ report.pk }}">
        <input id="report_type" type="hidden" value="{{ type }}">
        <div style="overflow-x: auto">
            {% include 'marks/MarkAttrTable.html' with data=AttrTable %}
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <label for="convert_function">{% trans 'Error traces conversion function' %}</label>
                <select id="convert_function" class="form-control">
                    {% for f in markdata.convertion %}
                        <option value="{{ f.value }}"{% if f.selected %} selected{% endif %}>{{ f.name }}</option>
                    {% endfor %}
                </select>
                <br>
                <p id="convert_function_description" class="omega-text" style="margin: 0">{{ markdata.convert_desc }}</p>
            </div>
            <div class="col-sm-4">
                <label for="compare_function">{% trans 'Error traces comparison function' %}</label>
                <select id="compare_function" class="form-control">
                    {% for f in markdata.comparison %}
                        <option value="{{ f.value }}"{% if f.selected %} selected{% endif %}>{{ f.name }}</option>
                    {% endfor %}
                </select>
                <br>
                <p id="compare_function_description" class="omega-text" style="margin: 0">{{ markdata.compare_desc }}</p>
            </div>
            <div class="col-sm-4">
                <h4>{% trans 'Verdict' %}</h4>
                <div style="margin-left: 25px">
                    {% for v in markdata.verdicts %}
                        <input id="selected_verdict__{{ v.value }}" type="radio" name="selected_verdict" value="{{ v.value }}"{% if v.checked %} checked{% endif %}>
                        <label for="selected_verdict__{{ v.value }}" style="color: {{ v.color }}">{{ v.title }}</label>
                        <br>
                    {% endfor %}
                </div>
                <hr>
                <h4>{% trans 'Status' %}</h4>
                <div style="margin-left: 25px">
                    {% for s in markdata.statuses %}
                        <input id="selected_status__{{ s.value }}" type="radio" name="selected_status" value="{{ s.value }}"{% if s.checked %} checked{% endif %}>
                        <label for="selected_status__{{ s.value }}" style="color: {{ s.color }}">{{ s.title }}</label>
                        <br>
                    {% endfor %}
                </div>
                {% include 'marks/Tags.html' %}
                <hr>
                {% if can_freeze %}
                    <label><input type="checkbox" id="is_modifiable" checked>  {% trans 'Editable' %}</label><br>
                {% endif %}
                <a href="{% url 'reports:leaf' type report.pk %}" class="btn btn-primary" style="float: right">{% trans 'Cancel' %}</a>
                <button id="save_new_mark_btn" class="btn btn-success">{% trans 'Save' %}</button>
            </div>
        </div>
    </form>
{% elif type == 'safe' %}
    <form autocomplete="off" onsubmit="return false">
        <input id="report_pk" type="hidden" value="{{ report.pk }}">
        <input id="report_type" type="hidden" value="{{ type }}">
        <div style="overflow-x: auto">
            {% include 'marks/MarkAttrTable.html' with data=AttrTable %}
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <h4>{% trans 'Verdict' %}</h4>
                <div style="margin-left: 25px">
                    {% for v in markdata.verdicts %}
                        <input id="selected_verdict__{{ v.value }}" type="radio" name="selected_verdict" value="{{ v.value }}"{% if v.checked %} checked{% endif %}>
                        <label for="selected_verdict__{{ v.value }}" style="color: {{ v.color }}">{{ v.title }}</label>
                        <br>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-4">
                <h4>{% trans 'Status' %}</h4>
                <div style="margin-left: 25px">
                    {% for s in markdata.statuses %}
                        <input id="selected_status__{{ s.value }}" type="radio" name="selected_status" value="{{ s.value }}"{% if s.checked %} checked{% endif %}>
                        <label for="selected_status__{{ s.value }}" style="color: {{ s.color }}">{{ s.title }}</label>
                        <br>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-5">
                {% include 'marks/Tags.html' %}
            </div>
        </div>
        <hr>
        {% if can_freeze %}
            <label><input type="checkbox" id="is_modifiable" checked>  {% trans 'Editable' %}</label><br>
        {% endif %}
        <a href="{% url 'reports:leaf' type report.pk %}" class="btn btn-primary" style="float: right">{% trans 'Cancel' %}</a>
        <button id="save_new_mark_btn" class="btn btn-success">{% trans 'Save' %}</button>
    </form>
{% elif type == 'unknown' %}
    <form autocomplete="off" onsubmit="return false">
        <input id="report_pk" type="hidden" value="{{ report.pk }}">
        <input id="report_type" type="hidden" value="{{ type }}">
        <div class="row">
            <div class="col-sm-6">
                <span class="purple-title">{% trans 'Component' %}: </span><strong>{{ report.component.name }}</strong>
                <br>
                <span class="purple-title">{% trans 'Status' %}</span>
                <div style="margin-left: 25px">
                    {% for s in markdata.statuses %}
                        <input id="selected_status__{{ s.value }}" type="radio" name="selected_status" value="{{ s.value }}"{% if s.checked %} checked{% endif %}>
                        <label for="selected_status__{{ s.value }}" style="color: {{ s.color }}">{{ s.title }}</label>
                        <br>
                    {% endfor %}
                </div>
                <label for="unknown_function" class="purple-title">{% trans 'Function' %}</label>
                <input id="unknown_function" type="text" class="form-control" placeholder="{% trans 'Regular expression' %}">
                <br>
                <label for="unknown_problem_pattern" class="purple-title">{% trans 'Problem pattern' %}</label>
                <input id="unknown_problem_pattern" type="text" class="form-control">
                <br>
                <label for="unknown_link" class="purple-title">{% trans 'Link to the problem' %}</label>
                <input id="unknown_link" type="url" class="form-control">
            </div>
            <div class="col-sm-6">
                <p class="problem-description-content">{{ report.problem_description }}</p>
            </div>
        </div>
        <hr>
        {% if can_freeze %}
            <label><input type="checkbox" id="is_modifiable" checked>  {% trans 'Editable' %}</label><br>
        {% endif %}
        <a href="{% url 'reports:leaf' type report.pk %}" class="btn btn-primary" style="float: right">{% trans 'Cancel' %}</a>
        <button id="save_new_mark_btn" class="btn btn-success">{% trans 'Save' %}</button>
    </form>
    <span id="error__function_required" hidden>{% trans 'Function is requred' %}</span>
    <span id="error__problem_required" hidden>{% trans 'Problem pattern is requred' %}</span>
{% endif %}
{% endblock %}