{% extends 'base.html' %}

{% load i18n %}

{% block body_block %}
    <h1>{% trans 'Unlinked marks' %}</h1>
    {% if unsafes.values|length %}
        <h2>{% trans 'Unsafe' %}</h2>
        {% include 'table.html' with data=unsafes %}
    {% else %}
        <h4>{% trans 'There are no unsafe marks' %}</h4>
    {% endif %}
    <br>
    {% if safes.values|length %}
        <h2>{% trans 'Unsafe' %}</h2>
        {% include 'table.html' with data=safes %}
    {% else %}
        <h4>{% trans 'There are no safe marks' %}</h4>
    {% endif %}
    <br>
    {% if unknowns.values|length %}
        <h2>{% trans 'Unsafe' %}</h2>
        {% include 'table.html' with data=unknowns %}
    {% else %}
        <h4>{% trans 'There are no unknown marks' %}</h4>
    {% endif %}
{% endblock %}
