<table class="ui celled compact purple table">
    <thead>
        {% for column_row in data.header %}
            <tr>
            {% for coldata in column_row %}
                <th colspan="{{ coldata.columns }}" rowspan="{{ coldata.rows }}">{{ coldata.column }}</th>
            {% endfor %}
            </tr>
        {% endfor %}
    </thead>
    <tbody>
        <tr>
            {% for v in data.values %}
                <td class="collapsing">
                    <div class="ui checkbox">
                        <label for="attr_checkbox__{{ v.0 }}">{{ v.1 }}</label>
                        <input id="attr_checkbox__{{ v.0 }}" type="checkbox" value="{{ v.0 }}"{% if v.2 %} checked{% endif %}>
                    </div>
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>
