{% load i18n %}

{% if versions|length %}
    <div id="versions_to_delete_form">
        <div class="ui brown attached segment" style="max-height: 300px; overflow-y: auto">
            {% for version in versions %}
                <div>
                    <div class="ui checkbox">
                        <input id="checkbox_version__{{ version.version }}" type="checkbox">
                        <label for="checkbox_version__{{ version.version }}">{{ version.title }}</label>
                    </div>
                    <br><br>
                </div>
            {% endfor %}
        </div>
        <div class="ui buttons bottom attached">
            <button id="show_remove_mark_versions_popup" class="ui red button">{% trans 'Delete' %}</button>
            <button id="cancel_del_versions_mark_btn" class="ui blue button" style="float: right">{% trans 'Cancel' %}</button>
        </div>

        <div id="remove_versions_popup" class="ui basic modal">
            <div class="ui icon header">
                <i class="warning sign icon"></i>
                {% trans 'Are you sure' %}?
            </div>
            <div class="content">
                <div class="ui center aligned grid">
                    <p>{% trans "You won't be able to restore deleted versions" %}!</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui center aligned grid">
                    <button id="cancel_remove_mark_versions" type="button" class="ui blue basic inverted button">{% trans 'Cancel' %}</button>
                    <button id="delete_versions_btn" type="button" class="ui red basic inverted button">{% trans 'Delete' %}</button>
                </div>
            </div>
        </div>
    </div>
    <div id="no_versions_to_delete" hidden>
        <h4 class="header">{% trans "No versions to delete (you can't remove first and last versions)" %}</h4>
        <button id="reload_page__versions" class="ui blue button">{% trans 'OK' %}</button>
    </div>
{% else %}
    <h4 class="header">{% trans "No versions to delete (you can't remove first and last versions)" %}</h4>
    <button id="cancel_del_versions_mark_btn" class="ui blue button">{% trans 'OK' %}</button>
{% endif %}