{% load i18n %}

{% if markdata.type == 'unsafe' %}
    <label for="compare_function" class="purple-title">{% trans 'Error traces comparison function' %}</label>
    <select id="compare_function" class="form-control">
        {% for f in markdata.comparison %}
            <option value="{{ f.value }}"{% if f.selected %} selected{% endif %}>{{ f.name }}</option>
        {% endfor %}
    </select>
    <br>
    <p id="compare_function_description" class="omega-text">{{ markdata.compare_desc }}</p>
{% endif %}

<div class="row">
    <div class="col-sm-6">
        <p class="purple-title">{% trans 'Verdict' %}</p>
        <div style="margin-left: 25px">
            {% for v in markdata.verdicts %}
                <input id="selected_verdict__{{ v.value }}" type="radio" name="selected_verdict" value="{{ v.value }}"{% if v.checked %} checked{% endif %}>
                <label for="selected_verdict__{{ v.value }}" style="color: {{ v.color }}">{{ v.title }}</label>
                <br>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-6">
        <p class="purple-title">{% trans 'Status' %}</p>
        <div style="margin-left: 25px">
            {% for s in markdata.statuses %}
                <input id="selected_status__{{ s.value }}" type="radio" name="selected_status" value="{{ s.value }}"{% if s.checked %} checked{% endif %}>
                <label for="selected_status__{{ s.value }}" style="color: {{ s.color }}">{{ s.title }}</label>
                <br>
            {% endfor %}
        </div>
    </div>
</div>
<label for="mark_description" class="purple-title">{% trans 'Description' %}</label>
<textarea id="mark_description" class="form-control" rows="5" style="resize:none" placeholder="{% trans 'Description' %}">{{ markdata.description }}</textarea>
{% include 'marks/Tags.html' %}
