{% extends 'marks/base.html' %}

{% block body_block %}
    <table class="table table-bordered tree table-fixed" style="margin-bottom: 0;">
        <thead>
            {% for column_row in MarkTable.header %}
                <tr class="info">
                {% for coldata in column_row %}
                    <th colspan="{{ coldata.columns }}" rowspan="{{ coldata.rows }}">{{ coldata.title }}</th>
                {% endfor %}
                </tr>
            {% endfor %}
        </thead>
        <tbody>
            {% for row_data in MarkTable.values %}
                <tr>
                    {% for v in row_data %}
                        <td class="text-nowrap">
                            {% if v.href %}
                                <a href="{{ v.href }}">{{ v.value }}</a>
                            {% else %}
                                <span{% if v.color %} style="color: {{ v.color }}"{% endif %}>{{ v.value }}</span>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {%  endfor %}
        </tbody>
    </table>
{% endblock %}
