{% extends 'marks/base.html' %}
{% load i18n %}
{% block body_block %}
    {% if MarkTable.values|length %}
        <div style="overflow-x: auto; max-height: 1000px; overflow-y: auto;">
            <h1 class="header" style="text-align:center;">{% trans 'Changes in associations of marks with leaf reports' %}</h1>
            <table class="ui celled compact pink table tree">
                <thead>
                    {% for column_row in MarkTable.header %}
                        <tr>
                        {% for coldata in column_row %}
                            <th colspan="{{ coldata.columns }}" rowspan="{{ coldata.rows }}">{{ coldata.title }}</th>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for row_data in MarkTable.values %}
                        <tr>
                            {% for v in row_data %}
                                <td class="collapsing">
                                    {% if v.href %}
                                        <a href="{{ v.href }}">{{ v.value }}</a>
                                    {% else %}
                                        <span{% if v.color %} style="color: {{ v.color }}"{% endif %}>{{ v.value|safe }}</span>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {%  endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h1 class="header" style="text-align:center;">{% trans 'No changes in associations of marks with leaf reports' %}</h1>
    {% endif %}
    <br>
    <a href="{% url 'marks:edit_mark' mark_type mark.pk %}" class="ui green button" style="float: right">{% trans 'Continue editing' %}</a>
{% endblock %}
