{% load i18n %}

<div class="ui pink segment">
    <h4 class="header ui pink">{% trans 'Tags' %}</h4>
    {% if can_edit %}
        <label for="tag_list"></label>
        <select id="tag_list" class="ui search selection dropdown fluid" multiple>
            <option value="">{% trans 'Enter tag' %}</option>
            {% for tag in tags.tags_old %}
                <option value="{{ tag }}" selected>{{ tag }}</option>
            {% endfor %}
            {% for tag in tags.tags_available %}
                <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
        </select>
    {% else %}
        {% if tags.tags_old|length == 0 %}
            <small class="italic">{% trans 'No tags to display' %}</small>
        {% else %}
            <div class="ui {% if markdata.type == 'safe' %}green{% elif markdata.type == 'unsafe' %}orange{% endif %} labels">
                {% for tag in tags.tags_old %}
                    <a class="ui label">{{ tag }}</a>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
</div>
<span id="tags__add_tag" hidden>{% trans 'Add' %}</span>
<span id="tag_label_color" hidden>{% if markdata.type == 'safe' %}green{% elif markdata.type == 'unsafe' %}orange{% endif %}</span>
