{% load i18n %}

<h4>{% trans 'Tags' %}</h4>
<div id="tag_list" class="tag-list"></div>
{% if can_edit %}<p style="color: #6d6d6d;">{% trans "After entering press 'Enter'" %}</p>{% endif %}
<br>

<ul id="tags_old" hidden>
    {% for tag in tags.tags_old %}
        <li>{{ tag }}</li>
    {% endfor %}
</ul>
<ul id="tags_available" hidden>
    {% for tag in tags.tags_available %}
        <li>{{ tag }}</li>
    {% endfor %}
</ul>
<span id="tags__not_tags_to_display" hidden>{% trans '__No tags to display' %}</span>
<span id="tags__enter_tags" hidden>{% trans 'Enter tag' %}</span>