{% extends 'marks/base.html' %}

{% load i18n %}
{% load tz %}
{% block body_block %}
    <div id="mark_attributes_table" style="overflow-x: auto">
        <table class="table table-bordered">
            <thead>
                {% for column_row in AttrTable.header %}
                    <tr class="info">
                    {% for coldata in column_row %}
                        <th colspan="{{ coldata.columns }}" rowspan="{{ coldata.rows }}">{{ coldata.column }}</th>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </thead>
            <tbody>
                <tr>{% for v in AttrTable.values %}<td>{{ v.1 }}</td>{%  endfor %}</tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-5">
            <a href="{% url 'marks:download_mark' type mark.pk %}" class="btn btn-success">{% trans 'Download' %}</a>
            <br><br>
            <span class="purple-title">{% trans 'Identifier' %}: </span> {{ mark.identifier }}<br>
            <span class="purple-title">{% trans 'Format' %}: </span> {{ mark.format }}<br>
            {% if first_version.author %}<span class="purple-title">{% trans 'Author' %}: </span><a href="{% url 'users:show_profile' first_version.author.pk %}">{{ first_version.author.extended.last_name }} {{ first_version.author.extended.first_name }}</a><br>{% endif %}
            <span class="purple-title">{% trans 'Last change' %}</span>
            <br>
            {% if version.author %}
                <span class="green-subtitle">{% trans 'Author' %}: </span><a href="{% url 'users:show_profile' version.author.pk %}">{{ version.author.extended.last_name }} {{ version.author.extended.first_name }}</a>
                <br>
            {% endif %}
            <span class="green-subtitle">{% trans 'Date' %}: </span>
            {% timezone user.extended.timezone %}
                {{ version.change_date|date:'d.m.y H:i:s' }}
            {% endtimezone %}
            {% if version.comment|length %}
                <br>
                <span class="green-subtitle">{% trans 'Comment' %}:</span> <small>"{{ version.comment }}"</small><br>
            {% endif %}
            <br>

            <h4>{% trans 'Associated leaf reports' %}</h4>
            <div style="overflow-x: auto; max-height: 400px;">
                {% include 'table.html' with data=reports auto=True %}
            </div>
        </div>
        <div class="col-sm-7">
            <div class="row">
                {% if markdata.type == 'unsafe' %}
                <div class="col-sm-6">
                <h4>{% trans 'Error traces comparison function' %}</h4>
                    {% for f in markdata.comparison %}<strong>{% if f.selected %}{{ f.name }}{% endif %}</strong>{% endfor %}
                    <br>
                    <p id="compare_function_description" class="omega-text">{{ markdata.compare_desc }}</p>
                </div>
                {% endif %}
                <div class="col-sm-6">
                    <h4>{% trans 'Verdict' %}</h4>
                    <div style="margin-left: 25px">
                        {% for v in markdata.verdicts %}
                            {% if v.checked %}<label style="color: {{ v.color }}">{{ v.title }}</label>{% endif %}
                        {% endfor %}
                    </div>
                {% if markdata.type == 'safe' %}
                    </div>
                    <div class="col-sm-6">
                {% else %}
                    <hr>
                {% endif %}
                    <h4>{% trans 'Status' %}</h4>
                    <div style="margin-left: 25px">
                        {% for s in markdata.statuses %}
                            {% if s.checked %}<label style="color: {{ s.color }}">{{ s.title }}</label>{% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% include 'marks/Tags.html' %}
        </div>
    </div>
{% endblock %}