{% extends 'marks/base.html' %}

{% load i18n %}
{% load tz %}
{% block body_block %}
    {% if markdata.type != 'unknown' %}
        <div id="mark_attributes_table" style="overflow-x: auto">
            <table class="ui celled compact purple table">
                <thead>
                    {% for column_row in AttrTable.header %}
                        <tr class="info">
                        {% for coldata in column_row %}
                            <th colspan="{{ coldata.columns }}" rowspan="{{ coldata.rows }}">{{ coldata.column }}</th>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </thead>
                <tbody>
                    <tr>{% for v in AttrTable.values %}<td class="collapsing">{{ v.1 }}</td>{%  endfor %}</tr>
                </tbody>
            </table>
        </div>
        <br>
    {% endif %}
    <div class="ui grid">
        <div class="seven wide column">
            <a href="{% url 'marks:download_mark' type mark.pk %}" class="ui olive button top attached">{% trans 'Download' %}</a>
            <table class="ui selectable compact inverted violet table attached">
                <tbody>
                    <tr>
                        <th class="right aligned">{% trans 'Identifier' %}</th>
                        <td>{{ mark.identifier }}</td>
                    </tr>
                    <tr>
                        <th class="right aligned">{% trans 'Format' %}</th>
                        <td>{{ mark.format }}</td>
                    </tr>
                    {% if first_version.author %}
                        <tr>
                            <th class="right aligned">{% trans 'Author' %}</th>
                            <td><a class="violet-link" href="{% url 'users:show_profile' first_version.author.pk %}">{{ first_version.author.extended.last_name }} {{ first_version.author.extended.first_name }}</a></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th class="right aligned">{% trans 'Last change' %}</th>
                        <td>
                            {% timezone user.extended.timezone %}
                                {{ version.change_date|date:'d.m.y H:i:s' }}
                            {% endtimezone %}
                            {% if version.author %}
                                (<a class="violet-link" href="{% url 'users:show_profile' version.author.pk %}">{{ version.author.extended.last_name }} {{ version.author.extended.first_name }}</a>)
                            {% endif %}
                            {% if version.comment|length %}
                                <p><span class="italic">{% trans 'Comment' %}:</span> <small>"{{ version.comment }}"</small></p>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <h4 class="header ui teal">{% trans 'Associated leaf reports' %}</h4>
            <div style="overflow-x: auto; max-height: 400px;">
                <table class="ui compact teal celled table" style="width:auto;">
                    <thead>
                        {% for column_row in reports.header %}
                            <tr>
                            {% for coldata in column_row %}
                                <th colspan="{{ coldata.columns }}" rowspan="{{ coldata.rows }}">{{ coldata.title }}</th>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for row_data in reports.values %}
                            <tr>
                                {% for v in row_data %}
                                    <td class="collapsing">
                                        {% if v.href %}
                                            <a href="{{ v.href }}">{{ v.value }}</a>
                                        {% else %}
                                            <span{% if v.color %} style="color:{{ v.color }}"{% endif %}>{{ v.value }}</span>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {%  endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="nine wide column">
            {% if markdata.type == 'unsafe' %}
                <div class="ui horizontal segments">
                    <div class="ui green segment">
                        <span class="header ui green"><small>{% trans 'Verdict' %}:</small> </span>
                        {% for v in markdata.verdicts %}
                            {% if v.checked %}<strong style="color: {{ v.color }}">{{ v.title }}</strong>{% endif %}
                        {% endfor %}
                        <div class="ui hidden divider"></div>
                        <span class="header ui green"><small>{% trans 'Status' %}:</small> </span>
                        {% for s in markdata.statuses %}
                            {% if s.checked %}<strong style="color: {{ s.color }}">{{ s.title }}</strong>{% endif %}
                        {% endfor %}
                    </div>
                    {% include 'marks/Tags.html' %}
                </div>
                <div class="ui teal segment">
                    <h4 class="header ui teal">{% trans 'Error traces comparison function' %}</h4>
                    <div class="ui teal raised segment">
                        <a class="ui teal ribbon label">{% for f in markdata.comparison %}{% if f.selected %}{{ f.name }}{% endif %}{% endfor %}</a>
                        <div class="filecontent">{{ markdata.compare_desc }}</div>
                    </div>
                </div>

            {% elif markdata.type == 'safe' %}
                <div class="ui horizontal segments">
                    <div class="ui green segment">
                        <span class="header ui green"><small>{% trans 'Verdict' %}:</small> </span>
                        {% for v in markdata.verdicts %}
                            {% if v.checked %}<strong style="color: {{ v.color }}">{{ v.title }}</strong>{% endif %}
                        {% endfor %}
                        <div class="ui hidden divider"></div>
                        <span class="header ui green"><small>{% trans 'Status' %}:</small> </span>
                        {% for s in markdata.statuses %}
                            {% if s.checked %}<strong style="color: {{ s.color }}">{{ s.title }}</strong>{% endif %}
                        {% endfor %}
                    </div>
                    {% include 'marks/Tags.html' %}
                </div>
            {% elif markdata.type == 'unknown' %}
                <div class="ui horizontal segments">
                    <div class="ui segment" style="max-width: 50%;">
                        <div class="ui top left attached purple label">{% trans 'Function' %}</div>
                        <div class="filecontent">{{ markdata.unknown_data.0 }}</div>
                    </div>
                    <div class="ui segment" style="max-width: 50%;">
                        <div class="ui top left attached purple label">{% trans 'Problem' %}</div>
                        <div>
                        {% if markdata.unknown_data.2 %}
                            <a href="{{ markdata.unknown_data.2 }}">{{ markdata.unknown_data.1 }}</a>
                        {% else %}
                            <span>{{ markdata.unknown_data.1 }}</span>
                        {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if markdata.description|length > 0 %}
                <div class="ui blue segment">
                    <div class="ui blue top left attached label">{% trans 'Description' %}</div>
                    <div>{{ markdata.description|safe }}</div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}