body {
    padding-top: 55px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.purple-title {
    color: #6416ad;
    font-weight: bold;
    font-size: 1.1em;
}

.omega-tooltip>p {
    outline: none;
    color: darkblue;
    text-decoration: underline;
}
.omega-tooltip strong {
    line-height: 30px;
}
.omega-tooltip:hover {
    text-decoration: none;
    cursor: pointer;
}
.omega-tooltip .tooltip-content {
    z-index: 10;
    display: none;
    padding: 14px 20px;
    width: 300px;
    line-height: 16px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #CCC;
}

.omega-tooltip:hover .tooltip-content {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
}

p.omega-text {
    white-space: pre;
    font-family: monospace;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #669ad1;
    padding: 5px;
    border-radius: 5px;
}

.purple-subtitle {
    color: #6416ad;
    font-style: italic;
}

.attrs-table {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 500px;
}

.panel-collapse {
    padding: 10px;
}

.error-trace-content {
    white-space: pre;
    font-family: monospace;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #feae08;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.safe-proof-content {
    white-space: pre;
    font-family: monospace;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #7efe7f;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.problem-description-content {
    white-space: pre;
    font-family: monospace;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #fe0018;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.filecontent {
    white-space: pre;
    font-family: monospace;
    overflow-y: auto;
    overflow-x: auto;
    height: 700px;
}

.green-subtitle {
    color: #73b284;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.violet-link:link {
    color: #fff16c;
}

.violet-link:visited {
    color: #fff16c;
}

.violet-link:hover {
    color: #87ffbf;
}
