
body {
    padding-top: 55px;
    padding-bottom: 20px;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.purple-title {
    color: #6416ad;
    font-weight: bold;
    font-size: 1.2em;
}

.omega-tooltip>p {
    outline: none;
    color: darkblue;
    text-decoration: underline;
}
.omega-tooltip strong {
    line-height: 30px;
}
.omega-tooltip:hover {
    text-decoration: none;
    cursor: pointer;
}
.omega-tooltip .tooltip-content {
    z-index: 10;
    display: none;
    padding: 14px 20px;
    width: 300px;
    line-height: 16px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #CCC;
}

.omega-tooltip:hover .tooltip-content {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
}

p.omega-text {
    white-space: pre-wrap;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #669ad1;
    padding: 5px;
    border-radius: 5px;
}

.purple-subtitle {
    color: #6416ad;
    font-style: italic;
}

.attrs-table {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 500px;
}

.panel-collapse {
    padding: 10px;
}

.error-trace-content {
    white-space: pre-wrap;
    max-height: 800px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #feae08;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.safe-proof-content {
    white-space: pre-wrap;
    max-height: 700px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #7efe7f;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.problem-description-content {
    white-space: pre-wrap;
    max-height: 700px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #fe0018;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.file-view-div {
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background: rgba(177, 238, 253, 0.8);
}

.file-view-div div {
    white-space: pre-wrap;
    position: fixed;
    top: 10%;
    left: 20%;
    height: 85%;
    width: 60%;
    overflow-y: auto;
    padding: 10px;
    background: rgba(255, 255, 255, 1);
}

body.file-view {
    overflow: hidden;
    display: block;
}

.file-view-div #download_file_form_view {
    position: absolute;
    left: 20%;
    top: 6%;
}

.file-view-div #close_file_view {
    position: absolute;
    right: 20%;
    top: 6%;
}

.green-subtitle {
    color: #73b284;
}