body {
    padding-top: 55px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}

.purple-title {
    color: #6416ad;
    font-weight: bold;
    font-size: 1.1em;
}

.purple-subtitle {
    color: #6416ad;
    font-style: italic;
}

.attrs-table {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 500px;
}

.panel-collapse {
    padding: 10px;
}

.filecontent {
    white-space: pre;
    font-family: monospace;
    overflow-y: auto;
    overflow-x: auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 20px;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.violet-link:link {
    color: #fff16c;
}

.violet-link:visited {
    color: #fff16c;
}

.violet-link:hover {
    color: #87ffbf;
}

.klever-active {
    background: #dcfbfe;
}
