.lined-textarea-container {
    width: 100%;
    height: 75vh;
    font-size: 14px;
    font-family: monospace;
    line-height: 18px;
    clear: both;
    border: 1px solid #9382c9;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.lined-textarea-container .lines {
    float: left;
    width: 50px;
    height: 100%;
    overflow: hidden;
    box-sizing: inherit;
}

.lined-textarea-container .lines .linesContainer {
    box-sizing: inherit;
    position: relative;
    padding-top: 2px;
    border-right: 1px solid #9382c9;
}

.lined-textarea-container .lines .linesContainer .line-number {
    width: 100%;
    display: block;
    color: #9382c9;
    text-align: right;
    padding: 0 3px;
    line-height: inherit;
    box-sizing: inherit;
}

.lined-textarea-container .lined-textarea {
    resize: none;
    float: left;
    margin-left: 10px;
    width: calc(100% - 60px);
    height: 100%;
    padding: 0;
    box-sizing: inherit;
    line-height: inherit;
    border: 0;
    overflow: auto;
    white-space: pre;
}

.lined-textarea-container .lined-textarea:focus {
    outline: none;
}

.lined-textarea::-webkit-scrollbar-track {
    box-shadow: inherit;
    -webkit-box-shadow: inset 0 0 6px rgba(65, 26, 140, 0.3);
    background-color: #FFF;
}

.lined-textarea::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #FFF;
}

.lined-textarea::-webkit-scrollbar-thumb {
    background-color: #afa7d6;
}

.lined-textarea-container pre {
    margin: 0;
}
