@charset "UTF-8";
/*
* CSS TOGGLE SWITCH
*
* IonuÈ› Colceriu - ghinda.net
* https://github.com/ghinda/css-toggle-switch
*
*/
.switch-toggle a {
    display: none;
}

@media only screen {
    .switch-toggle {
        position: relative;
        display: block;
        padding: 0 !important;
    }
    .switch-toggle::after {
          clear: both;
          content: "";
          display: table;
    }
    .switch-toggle *,
    .switch-toggle *:before,
    .switch-toggle *:after {
        box-sizing: border-box;
    }
    .switch-toggle a {
        display: block;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    .switch-toggle label,
    .switch-toggle > span {
        line-height: 2em;
        vertical-align: middle;
    }
    .switch-toggle input:focus ~ span a,
    .switch-toggle input:focus + label {
        outline: 2px solid Highlight;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {
    .switch-toggle input:focus ~ span a,
    .switch-toggle input:focus + label {
        outline-color: -webkit-focus-ring-color;
        outline-style: auto;
    }
}

@media only screen {
    .switch-toggle input {
        position: absolute;
        left: 0;
        opacity: 0;
    }

    .switch-toggle input + label {
        position: relative;
        z-index: 2;
        display: block;
        float: left;
        padding: 0 0.5em;
        margin: 0;
        text-align: center;
    }

    .switch-toggle a {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        z-index: 1;
        width: 10px;
        height: 100%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(4),
    .switch-toggle label:nth-child(2):nth-last-child(4) ~ label,
    .switch-toggle label:nth-child(2):nth-last-child(4) ~ a {
        width: 50%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(4) ~ input:checked:nth-child(3) + label ~ a {
        left: 50%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(6),
    .switch-toggle label:nth-child(2):nth-last-child(6) ~ label,
    .switch-toggle label:nth-child(2):nth-last-child(6) ~ a {
        width: 33.33%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(3) + label ~ a {
        left: 33.33%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(5) + label ~ a {
        left: 66.66%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(8),
    .switch-toggle label:nth-child(2):nth-last-child(8) ~ label,
    .switch-toggle label:nth-child(2):nth-last-child(8) ~ a {
        width: 25%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(3) + label ~ a {
        left: 25%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(5) + label ~ a {
        left: 50%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(7) + label ~ a {
        left: 75%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(10),
    .switch-toggle label:nth-child(2):nth-last-child(10) ~ label,
    .switch-toggle label:nth-child(2):nth-last-child(10) ~ a {
        width: 20%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(3) + label ~ a {
        left: 20%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(5) + label ~ a {
        left: 40%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(7) + label ~ a {
        left: 60%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(9) + label ~ a {
        left: 80%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(12),
    .switch-toggle label:nth-child(2):nth-last-child(12) ~ label,
    .switch-toggle label:nth-child(2):nth-last-child(12) ~ a {
        width: 16.6%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(3) + label ~ a {
        left: 16.6%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(5) + label ~ a {
        left: 33.2%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(7) + label ~ a {
        left: 49.8%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(9) + label ~ a {
        left: 66.4%;
    }

    .switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(11) + label ~ a {
        left: 83%;
    }

    .switch-toggle.switch-candy,
    .switch-light.switch-candy > span {
        background-color: #f3f3f3;
        border-radius: 3px;
        box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2);
    }

    .switch-light.switch-candy span span,
    .switch-light.switch-candy input:checked ~ span span:first-child,
    .switch-toggle.switch-candy label {
        color: #dcdcdc;
        font-weight: bold;
        text-align: center;
        text-shadow: 1px 1px 1px #191b1e;
    }

    .switch-light.switch-candy input ~ span span:first-child,
    .switch-light.switch-candy input:checked ~ span span:nth-child(2),
    .switch-candy input:checked + label {
        color: #333;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }

    .switch-candy a {
        border: 1px solid #333;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
        background-color: #70c66b;
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), transparent);
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
    }

    .switch-candy-blue a {
        background-color: #38a3d4;
    }

    .switch-candy-yellow a {
        background-color: #f5e560;
    }

    .switch-ios.switch-light span span {
        color: #888b92;
    }

    .switch-ios.switch-light a {
        left: 0;
        top: 0;
        width: 2em;
        height: 2em;
        background-color: #fff;
        border-radius: 100%;
        border: 0.25em solid #D8D9DB;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .switch-ios.switch-light > span {
        display: block;
        width: 100%;
        height: 2em;
        background-color: #D8D9DB;
        border-radius: 1.75em;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
    }

    .switch-ios.switch-light > span span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        line-height: 1.875em;
        vertical-align: middle;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .switch-ios.switch-light > span span:first-of-type {
        opacity: 1;
        padding-left: 1.875em;
    }

    .switch-ios.switch-light > span span:last-of-type {
        padding-right: 1.875em;
    }

    .switch-ios.switch-light input:checked ~ span a {
        left: 100%;
        border-color: #4BD865;
        margin-left: -2em;
    }

    .switch-ios.switch-light input:checked ~ span {
        border-color: #4BD865;
        box-shadow: inset 0 0 0 30px #4BD865;
    }

    .switch-ios.switch-light input:checked ~ span span:first-of-type {
        opacity: 0;
    }

    .switch-ios.switch-light input:checked ~ span span:last-of-type {
        opacity: 1;
        color: #fff;
    }

    .switch-ios.switch-toggle {
        background-color: #D8D9DB;
        border-radius: 30px;
        box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0;
    }

    .switch-ios.switch-toggle a {
        background-color: #4BD865;
        border: 0.125em solid #D8D9DB;
        border-radius: 1.75em;
        -webkit-transition: all 0.12s ease-out;
        -moz-transition: all 0.12s ease-out;
        transition: all 0.12s ease-out;
    }

    .switch-ios.switch-toggle label {
        height: 2.4em;
        color: #888b92;
        line-height: 2.4em;
        vertical-align: middle;
    }

    .switch-ios input:checked + label {
        color: #3e4043;
    }

    .switch-toggle.switch-holo,
    .switch-light.switch-holo > span {
        background-color: #464747;
        border-radius: 1px;
        box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0;
        color: #fff;
        text-transform: uppercase;
    }

    .switch-holo label {
        color: #fff;
    }

    .switch-holo > span span {
        opacity: 0;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        transition: all 0.1s;
    }

    .switch-holo > span span:first-of-type {
        opacity: 1;
    }

    .switch-holo > span span,
    .switch-holo label {
        font-size: 85%;
        line-height: 2.15625em;
    }

    .switch-holo a {
        background-color: #666;
        border-radius: 1px;
        box-shadow: inset rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.3) 0 -1px 0;
    }

    .switch-holo.switch-light input:checked ~ span a {
        background-color: #0E88B1;
    }

    .switch-holo.switch-light input:checked ~ span span:first-of-type {
        opacity: 0;
    }

    .switch-holo.switch-light input:checked ~ span span:last-of-type {
        opacity: 1;
    }
}
/* Bugfix for older Webkit, including mobile Webkit. Adapted from
 * http://css-tricks.com/webkit-sibling-bug/
 */
@media only screen and (-webkit-max-device-pixel-ratio: 2) and (max-device-width: 80em) {
  .switch-light,
  .switch-toggle {
    -webkit-animation: webkitSiblingBugfix infinite 1s; }
}

@-webkit-keyframes webkitSiblingBugfix {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
