{% load i18n %}

{% if reportdata.data.unsafes|length or reportdata.unsafes_total or reportdata.data.safes|length or reportdata.safes_total or reportdata.data.unknowns|length %}
    <div class="ui grid">
        {% if reportdata.unsafes_total or reportdata.data.tags_unsafe|length %}
            <div class="eight wide column">
                <h4 class="header ui violet">
                    {% trans 'Unsafes' %}:
                    {% if reportdata.unsafes_total %}
                        {% if reportdata.unsafes_total.confirmed.0 > 0 %}
                            <a href="{{ reportdata.unsafes_total.confirmed.1 }}">{{ reportdata.unsafes_total.confirmed.0 }}</a>
                        {% else %}
                            <span>{{ reportdata.unsafes_total.confirmed.0 }}</span>
                        {% endif %}
                        (<a href="{{ reportdata.unsafes_total.total.1 }}">{{ reportdata.unsafes_total.total.0 }}</a>)
                    {% endif %}
                </h4>
                <div class="ui list">
                    {% for v in reportdata.data.unsafes %}
                        <div class="item">
                            <i class="pointing right mini icon"></i>
                            <div class="content">
                                <span{% if v.color %} style="color:{{ v.color }};"{% endif %}>{{ v.title }}: </span>
                                {% if v.href.0 %}<a href="{{ v.href.0 }}">{{ v.value.0 }}</a>{% else %}<span>{{ v.value.0 }}</span>{% endif %}
                                {% if v.value|length == 2 %}
                                    ({% if v.href.1 %}<a href="{{ v.href.1 }}">{{ v.value.1 }}</a>{% else %}<span>{{ v.value.1 }}</span>{% endif %})
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if reportdata.data.tags_unsafe|length %}
                    <h5 class="header ui orange">{% trans 'Tags' %}</h5>
                    <div class="ui list">
                        {% for t in reportdata.data.tags_unsafe %}
                            <div class="item" style="padding-left: {{ t.padding }}px;">
                                <i class="tag tiny orange icon"></i>
                                <div class="content">
                                    <span{% if t.description != '' %} id="tag_description_id_{{ t.id }}" class="tag-description-popup" data-variation="very wide" data-content="{{ t.description }}"{% endif %}>{{ t.name }}: </span><a href="{{ t.href }}">{{ t.number }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if reportdata.data.unsafes_attr_stat|length and reportdata.view.attr_stat %}
                    <h5 class="header">{% trans 'Statistics of' %} "{{ reportdata.view.attr_stat.0 }}"</h5>
                    <div class="ui small list">
                        {% for uas in reportdata.data.unsafes_attr_stat %}
                            <div class="item">
                                <i class="pointing right mini icon"></i>
                                <div class="content">{{ uas.0 }}: <a href="{{ uas.2 }}">{{ uas.1 }}</a></div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if reportdata.safes_total or reportdata.data.tags_safe|length %}
            <div class="eight wide column">
                <h4 class="header ui violet">
                    {% trans 'Safes' %}:
                    {% if reportdata.safes_total %}
                        {% if reportdata.safes_total.confirmed.0 > 0 %}
                            <a href="{{ reportdata.safes_total.confirmed.1 }}">{{ reportdata.safes_total.confirmed.0 }}</a>
                        {% else %}
                            <span>{{ reportdata.safes_total.confirmed.0 }}</span>
                        {% endif %}
                        (<a href="{{ reportdata.safes_total.total.1 }}">{{ reportdata.safes_total.total.0 }}</a>)
                    {% endif %}
                </h4>
                <div class="ui list">
                    {% for v in reportdata.data.safes %}
                        <div class="item">
                            <i class="pointing right mini icon"></i>
                            <div class="content">
                                <span{% if v.color %} style="color:{{ v.color }};"{% endif %}>{{ v.title }}: </span>
                                {% if v.href.0 %}<a href="{{ v.href.0 }}">{{ v.value.0 }}</a>{% else %}<span>{{ v.value.0 }}</span>{% endif %}
                                {% if v.value|length == 2 %}
                                    ({% if v.href.1 %}<a href="{{ v.href.1 }}">{{ v.value.1 }}</a>{% else %}<span>{{ v.value.1 }}</span>{% endif %})
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if reportdata.data.tags_safe|length %}
                    <h5 class="header ui green">{% trans 'Tags' %}</h5>
                    <div class="ui list">
                        {% for t in reportdata.data.tags_safe %}
                            <div class="item" style="padding-left: {{ t.padding }}px;">
                                <i class="tag green icon"></i>
                                <div class="content">
                                    <span{% if t.description != '' %} id="tag_description_id_{{ t.id }}" class="tag-description-popup" data-variation="very wide" data-content="{{ t.description }}"{% endif %}>{{ t.name }}: </span><a href="{{ t.href }}">{{ t.number }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if reportdata.data.safes_attr_stat|length and reportdata.view.attr_stat %}
                    <h5 class="header">{% trans 'Statistics of' %} "{{ reportdata.view.attr_stat.0 }}"</h5>
                    <div class="ui small list">
                        {% for sas in reportdata.data.safes_attr_stat %}
                            <div class="item">
                                <i class="pointing right mini icon"></i>
                                <div class="content">{{ sas.0 }}: <a href="{{ sas.2 }}">{{ sas.1 }}</a></div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endif %}

<div class="ui grid">
    {% if reportdata.data.resources|length or reportdata.data.compinst|length %}
        <div class="ui nine wide column">
            {% if reportdata.data.resources|length %}
                <h4 class="header ui violet">{% trans 'Consumed resources' %}
                    <i id="resources-note" class="ui blue help icon" data-content="{% trans "Component (Finished instances/Total instances): Wall time, CPU time and maximum memory size" %}"></i>
                </h4>
                <div class="ui list">
                    {% for res_data in reportdata.data.resources %}
                        <div class="item">
                            <i class="laptop mini icon"></i>
                            <div class="content">
                                {% if reportdata.report.component.name == res_data.component %}
                                    <strong style="color: #86188c;">{{ res_data.component }}{{ res_data.instances }}:</strong>
                                {% else %}
                                    {{ res_data.component }}{{ res_data.instances }}:
                                {% endif %}<span style="color: darkblue">{{ res_data.val }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if reportdata.data.compinst|length %}
                <h4 class="header ui violet">{% trans 'Instances of components' %}</h4>
                <div class="ui list">
                    {% for cinst in reportdata.data.compinst %}
                        <div class="item">
                            <i class="pointing right mini icon"></i>
                            <div class="content">
                                {% if reportdata.report.component.name == cinst.0 %}
                                    <strong style="color: #86188c;">{{ cinst.0 }}:</strong>
                                {% else %}
                                    {{ cinst.0 }}:
                                {% endif %}
                                <span style="color: darkblue">
                                    {{ cinst.1 }}
                                    {% if cinst.2 == 1 %}
                                        ({{ cinst.2 }} {% trans 'is still running' %})
                                    {% elif cinst.2 > 1 %}
                                        ({{ cinst.2 }} {% trans 'are still running' %})
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% if reportdata.data.unknowns|length %}
        <div class="seven wide column">
            <h4 class="header ui violet">{% trans 'Unknowns' %}{% if reportdata.unknowns_total %} (<a href="{{ reportdata.unknowns_total.href }}">{{ reportdata.unknowns_total.num }}</a>){% endif %}</h4>
            <div class="ui small list">
                {% for comp in reportdata.data.unknowns %}
                    <div class="item">
                        <i class="cube mini icon"></i>
                        <div class="content">{{ comp.component }}{% for probl in comp.problems %}{% if probl.problem == 'total' %} (<a href="{{ probl.href }}">{{ probl.num }}</a>){% endif %}{% endfor %}</div>
                    </div>
                    <div class="item">
                        <div class="ui list">
                            {% for probl in comp.problems %}
                                {% if probl.problem != 'total' %}
                                <div class="item" style="margin-left: 20px;">
                                    <i class="pointing right mini icon"></i>
                                    <div class="content">{{ probl.problem }}: <a href="{{ probl.href }}">{{ probl.num }}</a></div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if reportdata.data.unknowns_attr_stat|length and reportdata.view.attr_stat %}
                <h5 class="header">{% trans 'Statistics of' %} "{{ reportdata.view.attr_stat.0 }}"</h5>
                <div class="ui small list">
                    {% for fas in reportdata.data.unknowns_attr_stat %}
                        <div class="item">
                            <i class="pointing right mini icon"></i>
                            <div class="content">{{ fas.0 }}: <a href="{{ fas.2 }}">{{ fas.1 }}</a></div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
<br><br>
