{% load i18n %}
<div class="ui form">
    <form id="edit_job_form" autocomplete="off" onsubmit="return false">
        {% if job_versions|length %}
            <label for="job_version_selector" class="purple-title">{% trans 'You can choose one of the previous versions' %}</label>
            <select id="job_version_selector" class="ui dropdown fluid">
                {% for jv in job_versions %}
                    <option value="{{ jv.version }}"{% if jv.version == version %} selected{% endif %}>{{ jv.title }}</option>
                {% endfor %}
            </select>
            <label class="purple-title">{% trans 'or change the job' %}</label>
            <br>
        {% endif %}

        {% if not job_id %}
            <div class="ui grid">
                <div class="seven wide column">
        {% endif %}

        <div class="ui violet segment">
            <label for="job_title"><strong>{% trans 'Title' %}</strong></label>
            <div class="ui input fluid">
                <input class="ui fluid" id="job_title" type="text" value="{{ job.name }}">
            </div>
            {% if job_id %}
                <br>
                <label for="job_parent_identifier"><strong>{% trans 'Parent identifier' %}</strong></label>
                <div class="ui input fluid">
                    <input id="job_parent_identifier" maxlength="32" type="text"{% if parent_id %} value="{{ parent_id }}"{% endif %}>
                </div>
            {% else %}
                <input id="job_parent_identifier" type="hidden" value="{{ parent_id }}">
            {% endif %}
            <br>
            {% if not job_id %}
                <div class="ui toggle checkbox">
                    <input type="checkbox" id="safe_marks_checkbox"{% if safe_marks %} checked{% endif %}>
                    <label for="safe_marks_checkbox">{% trans 'Safe marks' %}</label>
                </div>
                <br><br>
            {% endif %}
            <label style="width: 100%;"><strong>{% trans 'Description' %}</strong></label>
            <textarea id="job_description" rows="10" style="resize: none" placeholder="{% trans 'Description' %}">{{ job.description }}</textarea>
        </div>
    {% if not job_id %}
        </div>
        <div class="nine wide column">
    {% endif %}

        <div class="ui green segment">
            <div class="ui grid">
                <div class="eight wide column">
                    <label for="job_global_roles"><strong>{% trans 'Role for all users' %}</strong></label>
                    <div class="ui small input fluid">
                        <select id="job_global_roles" class="ui dropdown mini fluid">
                            {% for jr in job_roles %}
                                <option value="{{ jr.0 }}"{% if roles.global.0 == jr.0 %} selected{% endif %} >{{ jr.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="eight wide column">
                    <div id="job_user_role_div">
                        <label for="job_available_users"><strong>{% trans 'Add role to user' %}</strong></label>
                        <div class="ui small action input fluid">
                            <select id="job_available_users" class="ui dropdown fluid">
                                {% for au in roles.available_users %}
                                    <option value="{{ au.id }}">{{ au.name }}</option>
                                {% endfor %}
                            </select>
                            <button id="add_user_for_role" class="ui green button">{% trans 'Add' %}</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div id="all_user_roles">
                {% for ur in roles.user_roles %}
                    <div class="ui grid segment" id="job_user_role__{{ ur.user.id }}">
                        <div class="six wide column right aligned">
                            <label for="job_user_role_select__{{ ur.user.id }}"><strong>{{ ur.user.name }}</strong></label>
                        </div>
                        <div class="eight wide column fluid">
                            <select id="job_user_role_select__{{ ur.user.id }}" class="ui dropdown fluid">
                                {% for jr in job_roles %}
                                    <option value="{{ jr.0 }}"{% if ur.role.val == jr.0 %} selected{% endif %}>{{ jr.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="two wide column">
                            <button id="remove_user_role__{{ ur.user.id }}" class="ui icon red basic button"><i class="remove icon"></i></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% include 'jobs/filesTree.html' %}
    {% if not job_id %}
            </div>
        </div>
    {% endif %}
        {% if job_id %}
            <label for="job_comment"><strong>{% trans "Change comment" %}</strong></label>
            <div class="ui input fluid">
                <input id="job_comment" type="text" placeholder="{% trans 'Comment' %}">
            </div>
        {% endif %}
        <br>
        <button id="save_job_btn" type="submit" class="ui olive button">{% trans 'Save' %}</button>
        {% if job_id %}
            <button id="cancel_edit_job_btn" class="ui violet button" style="float: right">{% trans 'Cancel' %}</button>
        {% endif %}
    </form>
</div>

<!-- Templates for jQuery -->
<div id="template__user_role" hidden>
    <div class="six wide column right aligned">
        <strong><label for="job_user_role_select__"></label></strong>
    </div>
    <div class="eight wide column">
        <select id="job_user_role_select__">
            {% for jr in job_roles %}
                <option value="{{ jr.0 }}"{% if ur.role.val == jr.0 %} selected{% endif %}>{{ jr.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="two wide column">
        <button id="remove_user_role__" class="ui icon red basic button"><i class="remove icon"></i></button>
    </div>
</div>
<div id="error__title_required" hidden>{% trans 'Title is required' %}</div>
