{% load i18n %}
<div class="file-tree"></div>

{# Upload file modal #}
<div id="filetree_upload_model" class="ui small dinamic modal">
    <div class="ui header">{% trans 'New file' %}</div>
    <div class="content">
        <div class="modal-form">
            <div class="ui left action input">
                <span class="ui violet button btn-file">{% trans 'Browse' %}<input name="file" type="file"></span>
                <input type="text" name="name" placeholder="{% trans 'Name' %}">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui grid">
            <div class="eight wide column left aligned">
                <button class="ui violet button modal-cancel">{% trans 'Cancel' %}</button>
            </div>
            <div class="eight wide column right aligned">
                <button class="ui orange button modal-confirm">{% trans 'Upload' %}</button>
            </div>
        </div>
    </div>
</div>

{# Replace file modal #}
<div id="filetree_replace_modal" class="ui small dinamic modal">
    <div class="ui header">{% trans 'Replace' %} '<span class="modal-title"></span>'</div>
    <div class="content">
        <div class="modal-form">
            <div class="ui left action input">
                <button class="ui violet button btn-file">{% trans 'Browse' %}<input name="file" type="file"></button>
                <input type="text" name="name" placeholder="{% trans 'Name' %}">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui grid">
            <div class="eight wide column left aligned">
                <button class="ui violet button modal-cancel">{% trans 'Cancel' %}</button>
            </div>
            <div class="eight wide column right aligned">
                <button class="ui orange button modal-confirm">{% trans 'Replace' %}</button>
            </div>
        </div>
    </div>
</div>
