{% load i18n %}

{% if reportdata.view_data.unsafes|length or reportdata.unsafes_total or reportdata.view_data.safes|length or reportdata.safes_total or reportdata.view_data.unknowns|length %}
    <div class="ui grid">
        {% if reportdata.view_data.unsafes|length or reportdata.unsafes_total or reportdata.view_data.tags_unsafe|length %}
            <div class="eight wide column">
                <h4 class="header ui violet">{% trans 'Unsafes' %}{% if reportdata.unsafes_total %} (<a href="{{ reportdata.unsafes_total.1 }}">{{ reportdata.unsafes_total.0 }}</a>){% endif %}</h4>
                <div class="ui list">
                    {% for v in reportdata.view_data.unsafes %}
                        <div class="item">
                            <i class="pointing right mini icon"></i>
                            <div class="content">
                                <span{% if v.color %} style="color:{{ v.color }};"{% endif %}>{{ v.title }}: </span>
                                {% if v.href %}
                                    <a href="{{ v.href }}">{{ v.value }}</a>
                                {% else %}
                                    <a href="#">{{ v.value }}</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if reportdata.view_data.tags_unsafe|length %}
                    <h5 class="header ui orange">{% trans 'Tags' %}</h5>
                    <div class="ui list">
                        {% for t in reportdata.view_data.tags_unsafe %}
                            <div class="item" style="padding-left: {{ t.padding }}px;">
                                <i class="tag tiny orange icon"></i>
                                <div class="content">
                                    <span{% if t.description != '' %} id="tag_description_id_{{ t.id }}" class="tag-description-popup" data-variation="very wide" data-content="{{ t.description }}"{% endif %}>{{ t.name }}: </span><a href="{{ t.href }}">{{ t.number }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if reportdata.view_data.unsafes_attr_stat|length %}
                    <h5 class="header">{% trans 'Statistics' %}</h5>
                    <div class="ui small list">
                        {% for uas in reportdata.view_data.unsafes_attr_stat %}
                            <div class="item">
                                <i class="cube mini icon"></i>
                                <div class="content">{{ uas.0 }}</div>
                            </div>
                            <div class="item">
                                <div class="ui list">
                                    {% for uas_a in uas.1 %}
                                        <div class="item" style="margin-left: 20px;">
                                            <i class="pointing right mini icon"></i>
                                            <div class="content">{{ uas_a.0 }}: {% if uas_a.2 %}<a href="{{ uas_a.2 }}">{{ uas_a.1 }}</a>{% else %}{{ uas_a.1 }}{% endif %}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if reportdata.view_data.safes|length or reportdata.safes_total or reportdata.view_data.tags_safe|length %}
            <div class="eight wide column">
                <h4 class="header ui violet">{% trans 'Safes' %}{% if reportdata.safes_total %} ({% if reportdata.safes_total|length == 2 %}<a href="{{ reportdata.safes_total.1 }}">{{ reportdata.safes_total.0 }}</a>{% else %}{{ reportdata.safes_total.0 }}{% endif %}){% endif %}</h4>
                <div class="ui list">
                    {% for v in reportdata.view_data.safes %}
                        <div class="item">
                            <i class="pointing right mini icon"></i>
                            <div class="content">
                                <span{% if v.color %} style="color:{{ v.color }};"{% endif %}>{{ v.title }}: </span>
                                {% if v.href %}
                                    <a href="{{ v.href }}">{{ v.value }}</a>
                                {% else %}
                                    <a href="#">{{ v.value }}</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if reportdata.view_data.tags_safe|length %}
                    <h5 class="header ui green">{% trans 'Tags' %}</h5>
                    <div class="ui list">
                        {% for t in reportdata.view_data.tags_safe %}
                            <div class="item" style="padding-left: {{ t.padding }}px;">
                                <i class="tag green icon"></i>
                                <div class="content">
                                    <span{% if t.description != '' %} id="tag_description_id_{{ t.id }}" class="tag-description-popup" data-variation="very wide" data-content="{{ t.description }}"{% endif %}>{{ t.name }}: </span><a href="{{ t.href }}">{{ t.number }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if reportdata.view_data.safes_attr_stat|length %}
                    <h5 class="header">{% trans 'Statistics' %}</h5>
                    <div class="ui small list">
                        {% for sas in reportdata.view_data.safes_attr_stat %}
                            <div class="item">
                                <i class="cube mini icon"></i>
                                <div class="content">{{ sas.0 }}</div>
                            </div>
                            <div class="item">
                                <div class="ui list">
                                    {% for sas_a in sas.1 %}
                                        <div class="item" style="margin-left: 20px;">
                                            <i class="pointing right mini icon"></i>
                                            <div class="content">{{ sas_a.0 }}: {% if sas_a.2 %}<a href="{{ sas_a.2 }}">{{ sas_a.1 }}</a>{% else %}{{ sas_a.1 }}{% endif %}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endif %}

<div class="ui grid">
    {% if reportdata.view_data.resources|length %}
        <div class="ui nine wide column">
            <h4 class="header ui violet">{% trans 'Consumed resources' %}
                <i id="resources-note" class="ui blue help icon" data-content="{% trans "Wall time, CPU time and maximum memory size" %}"></i>
            </h4>
            <div class="ui list">
                {% for res_data in reportdata.view_data.resources %}
                    <div class="item">
                        <i class="laptop mini icon"></i>
                        <div class="content">
                            {% if reportdata.report.component.name == res_data.component %}
                                <strong style="color: #86188c;">{{ res_data.component }}:</strong>
                            {% else %}
                                {{ res_data.component }}:
                            {% endif %}<span style="color: darkblue">{{ res_data.val }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if reportdata.view_data.unknowns|length %}
        <div class="seven wide column">
            <h4 class="header ui violet">{% trans 'Unknowns' %}{% if reportdata.unknowns_total %} (<a href="{{ reportdata.unknowns_total.href }}">{{ reportdata.unknowns_total.num }}</a>){% endif %}</h4>
            <div class="ui small list">
                {% for comp in reportdata.view_data.unknowns %}
                    <div class="item">
                        <i class="cube mini icon"></i>
                        <div class="content">{{ comp.component }}{% for probl in comp.problems %}{% if probl.problem == 'total' %} (<a href="{{ probl.href }}">{{ probl.num }}</a>){% endif %}{% endfor %}</div>
                    </div>
                    <div class="item">
                        <div class="ui list">
                            {% for probl in comp.problems %}
                                {% if probl.problem != 'total' %}
                                <div class="item" style="margin-left: 20px;">
                                    <i class="pointing right mini icon"></i>
                                    <div class="content">{{ probl.problem }}: <a href="{{ probl.href }}">{{ probl.num }}</a></div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if reportdata.view_data.unknowns_attr_stat|length %}
                <h5 class="header">{% trans 'Statistics' %}</h5>
                <div class="ui small list">
                    {% for uas in reportdata.view_data.unknowns_attr_stat %}
                        <div class="item">
                            <i class="cube mini icon"></i>
                            <div class="content">{{ uas.0 }}</div>
                        </div>
                        <div class="item">
                            <div class="ui list">
                                {% for uas_a in uas.1 %}
                                    <div class="item" style="margin-left: 20px;">
                                        <i class="pointing right mini icon"></i>
                                        <div class="content">{{ uas_a.0 }}: {% if uas_a.2 %}<a href="{{ uas_a.2 }}">{{ uas_a.1 }}</a>{% else %}{{ uas_a.1 }}{% endif %}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
<br><br>
<div id="dfc_modal" class="ui small dinamic modal">
    <div class="ui header">{% trans 'Choose filters' %}</div>
    <div class="content">
        <div class="ui grid">
            <div class="seven wide column">
                {% if reportdata.view_data.unsafes|length or reportdata.unsafes_total or reportdata.view_data.tags_unsafe|length %}
                    <div class="ui checkbox">
                        <label for="dfc__u">{% trans 'Unsafes' %}</label>
                        <input id="dfc__u" type="checkbox">
                    </div>
                    <br>
                {% endif %}
                {% if reportdata.view_data.safes|length or reportdata.safes_total or reportdata.view_data.tags_safe|length %}
                    <div class="ui checkbox">
                        <label for="dfc__s">{% trans 'Safes' %}</label>
                        <input id="dfc__s" type="checkbox">
                    </div>
                    <br>
                {% endif %}
                {% if reportdata.view_data.unknowns|length %}
                    <div class="ui checkbox">
                        <label for="dfc__f">{% trans 'Unknowns' %}</label>
                        <input id="dfc__f" type="checkbox">
                    </div>
                    <br>
                {% endif %}
            </div>
            <div id="dfc_problems" class="nine wide column" style="display: none">
                {% for problem in reportdata.problems %}
                    <div class="ui checkbox">
                        <label for="dfc__p__{{ problem.1 }}">{{ problem.0 }}</label>
                        <input id="dfc__p__{{ problem.1 }}" type="checkbox" value="{{ problem.1 }}">
                    </div>
                    <br>
                {% endfor %}
            </div>
            <div class="sixteen wide column right aligned">
                <div class="ui buttons">
                    <button id="dfc__btn" class="ui green button">{% trans 'Download' %}</button>
                    <button id="dfc__cancel" class="ui blue button">{% trans 'Cancel' %}</button>
                </div>
            </div>
        </div>
    </div>
</div>