{% load i18n %}

{% if job.runhistory_set.all|length %}
    <div class="ui orange segment">
        <div class="ui top left attached orange large label">{% trans 'History of decisions' %}</div>
        <div class="ui form">
            <label for="run_history"></label>
            <select id="run_history" class="ui dropdown">
                {% for rh in job.runhistory_set.all|dictsortreversed:'date' %}
                    <option value="{{ rh.pk }}"{% if rh.pk|slugify == checked_option %} selected{% endif %}>{{ rh.get_status_display }}{% if rh.operator %} ({{ rh.operator.extended.last_name }} {{ rh.operator.extended.first_name }}){% endif %} - {{ rh.date }}</option>
                {% endfor %}
            </select>
            <button id="download_configuration" class="ui violet button">{% trans 'Download configuration file' %}</button>
        </div>
    </div>
{% endif %}