{% load i18n %}

{% if job.parent_id %}
    <div class="ui green segment">
        <div class="ui top left attached green large label">{% trans 'Parent identifier' %}</div>
        <p>{{ job.parent.identifier }}</p>
    </div>
{% endif %}
<div id="job_run_history_block">
    {% include 'jobs/jobRunHistory.html' with job=job %}
</div>

{% if description|length %}
    <div class="ui violet segment">
        <div class="ui top left attached violet large label">{% trans 'Description' %}</div>
        {{ description|safe }}
    </div>
{% endif %}
{% if filedata|length %}
    <div class="ui teal segment">
        <div class="ui top left attached teal large label">{% trans 'Files' %}</div>
        <div>
            {% include 'jobs/viewFileTable.html' %}
        </div>
    </div>
{% endif %}

<div class="ui violet segment">
    <div class="ui top left attached violet large label">{% trans 'Job access' %}</div>
    {% if roles.user_roles|length %}
        <ul>
            {% for u in roles.user_roles %}
                {% if u.user.id %}
                    <li><a href="{% url 'users:show_profile' u.user.id %}">{{ u.user.name }}</a>: {{ u.role.title }}</li>
                {% else %}
                    <li>{{ u.user.name }}: {{ u.role.title }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <p>{% blocktrans with global_role=roles.global.1 %}Other users have role "{{ global_role }}" for this job{% endblocktrans %}</p>
</div>

