{% extends 'jobs/base.html' %}

{% load i18n %}

{% block title %}{% trans 'Jobs Tree' %}{% endblock %}

{% block jobs_head_block %}<script src="/static/jobs/js/jobtree.js"></script>{% endblock %}

{% block body_block %}
    <div id="jobstree-first-big-part" class="ui form violet segment" style="display: none">
        <form autocomplete="off" onsubmit="return false">
            <div class="ui styled accordion fluid">
                <div class="title">
                    <i class="grid layout icon"></i>{% trans 'Columns' %}
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="six wide column field">
                            <div class="ui grid">
                                <div class="fourteen wide column">
                                    <label for="selected_columns">{% trans 'Selected columns' %}</label>
                                    <select id="selected_columns" style="height: 160px;" multiple>
                                        {% for col in FF.selected_columns %}
                                            <option  title="{{ col.title }}" value="{{ col.value }}">{{ col.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="two wide column">
                                    <div style="margin-top: 60px;" class="ui vertical mini basic icon purple buttons">
                                        <button id="move_columns_up" type="button" class="ui button"><i class="arrow up icon"></i></button>
                                        <button id="move_columns_down" type="button" class="ui button"><i class="arrow down icon"></i></button>
                                    </div>
                                    <br><br>
                                    <button id="remove_column_btn" type="button" class="ui mini basic red icon button"><i class="remove icon"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <div class="field fluid">
                                <label for="available_columns">{% trans 'Available columns' %}</label>
                                <div class="inline">
                                    <select id="available_columns" class="ui dropdown">
                                        {% for col in FF.available_columns %}
                                            <option  title="{{ col.title }}" value="{{ col.value }}">{{ col.title }}</option>
                                        {% endfor %}
                                    </select>
                                    <button id="add_column_btn" type="button" class="ui purple basic icon button"><i class="plus icon"></i></button>
                                </div>
                            </div>
                            <br>
                            <div id="available_orders_form" class="ui field fluid">
                                <label for="available_orders">{% trans 'Add order by' %}</label>
                                <div class="inline">
                                    <select id="available_orders" class="ui dropdown">
                                        {% for col in FF.available_orders %}
                                            <option  value="{{ col.value }}">{{ col.title }}</option>
                                        {% endfor %}
                                    </select>
                                    <button id="add_order_btn" type="button" class="ui purple basic icon button"><i class="plus icon"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <div id="all_selected_orders" style="margin-top: 15px;">
                                {% for so in FF.selected_orders %}
                                    <div class="inline fields" id="order__{{ so.value }}">
                                        <strong style="margin-right: 10px;"><span id="selected_order_title__{{ so.value }}">{{ so.title }}</span>:</strong>
                                        <div class="ui radio checkbox">
                                            <input id="order_checkbox_down__{{ so.value }}" class="hidden" type="radio" name="{{ so.value }}" value="down" {% if so.up == 0 %}checked{% endif %}>
                                            <label for="order_checkbox_down__{{ so.value }}"><i class="arrow down icon"></i></label>
                                        </div>
                                        <div class="ui radio checkbox">
                                            <input id="order_checkbox_up__{{ so.value }}" class="hidden" type="radio" name="{{ so.value }}" value="up" {% if so.up == 1 %}checked{% endif %}>
                                            <label for="order_checkbox_up__{{ so.value }}"><i class="arrow up icon"></i></label>
                                        </div>
                                        <button id="remove__order__{{ so.value }}" class="circular ui mini icon red basic button">
                                            <i class="icon remove"></i>
                                        </button>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title">
                    <i class="filter icon"></i>{% trans 'Filters' %}
                </div>
                <div class="content">
                    <div class="ui grid">
                        <div class="four wide column">
                            <div id="available_filters_form" class="ui field">
                                <label for="available_filters">{% trans 'Add filter by' %}</label>
                                <select id="available_filters" class="ui dropdown fluid">
                                    {% for fil in FF.available_filters %}
                                        <option  value="{{ fil.name }}">{{ fil.name_title }}</option>
                                    {% endfor %}
                                </select>
                                <button id="add_filter_btn" type="button" class="ui purple button fluid">{% trans 'Add' %}</button>
                            </div>
                        </div>
                        <div id="selected_filters_list" class="twelve wide column">
                    {% for fil in FF.selected_filters %}
                        {% if fil.name == 'name' %}
                            <div id="filter_form__name">
                                <div class="ui purple segment">
                                    <h4 class="header" id="filter_title__name">{{ fil.name_title }}</h4>
                                    <div class="ui grid">
                                        <div class="six wide column field">
                                            <label for="filter_type__name"></label>
                                            <select id="filter_type__name" class="ui dropdown">
                                                <option value="iexact"{% if fil.type == 'iexact' %} selected{% endif %}>{% trans 'is' %}</option>
                                                <option value="istartswith"{% if fil.type == 'istartswith' %} selected{% endif %}>{% trans 'starts with' %}</option>
                                                <option value="icontains"{% if fil.type == 'icontains' %} selected{% endif %}>{% trans 'contains' %}</option>
                                            </select>
                                        </div>
                                        <div class="eight wide column field">
                                            <label for="filter_value__name"></label>
                                            <input id="filter_value__name" type="text" value="{{ fil.value }}">
                                        </div>
                                        <div class="two wide column right aligned">
                                            <button id="remove__filter__name" class="ui icon red basic button">
                                                <i class="remove icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif fil.name == 'change_author' %}
                            <div id="filter_form__change_author">
                                <div class="ui purple segment">
                                    <h4 class="header"><span id="filter_title__change_author">{{ fil.name_title }}</span> {% trans 'is' %}</h4>
                                    <input type="hidden" value="is" id="filter_type__change_author">
                                    <div class="ui grid">
                                        <div class="fourteen wide column">
                                            <label for="filter_value__change_author"></label>
                                            <select class="ui dropdown" id="filter_value__change_author">
                                                {% for u in users %}
                                                    <option value="{{ u.pk }}"{% if u.pk|slugify == fil.value %} selected{% endif %}>{{ u.extended.last_name }} {{ u.extended.first_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="two wide column right aligned">
                                            <button id="remove__filter__change_author" class="ui icon red basic button">
                                                <i class="remove icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif fil.name == 'change_date' %}
                            <div id="filter_form__change_date">
                                <div class="ui purple segment">
                                    <h4 class="header" id="filter_title__change_date">{{ fil.name_title }}</h4>
                                    <div class="ui grid">
                                        <div class="four wide column">
                                            <label for="filter_type__change_date"></label>
                                            <select id="filter_type__change_date" class="ui dropdown">
                                                <option value="older"{% if fil.type == 'older' %} selected{% endif %}>{% trans 'older' %}</option>
                                                <option value="younger"{% if fil.type == 'younger' %} selected{% endif %}>{% trans 'younger' %}</option>
                                            </select>
                                        </div>
                                        <div class="two wide column center aligned">
                                            <h4>{% trans 'than' %}</h4>
                                        </div>
                                        <div class="three wide column">
                                            <label for="filter_value_1__change_date"></label>
                                            <input id="filter_value_1__change_date" type="number" min="0" value="{{ fil.value.valval }}">
                                        </div>
                                        <div class="five wide column">
                                            <label for="filter_value_0__change_date"></label>
                                            <select id="filter_value_0__change_date" class="ui dropdown">
                                                <option value="minutes"{% if fil.value.valtype == 'minutes' %} selected{% endif %}>{% trans 'minutes' %}</option>
                                                <option value="hours"{% if fil.value.valtype == 'hours' %} selected{% endif %}>{% trans 'hours' %}</option>
                                                <option value="days"{% if fil.value.valtype == 'days' %} selected{% endif %}>{% trans 'days' %}</option>
                                                <option value="weeks"{% if fil.value.valtype == 'weeks' %} selected{% endif %}>{% trans 'weeks' %}</option>
                                            </select>
                                        </div>
                                        <div class="two wide column right aligned">
                                            <button id="remove__filter__change_date" class="ui icon red basic button">
                                                <i class="remove icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif fil.name == 'status' %}
                            <div id="filter_form__status">
                                <div class="ui purple segment">
                                    <h4 class="header" id="filter_title__status">{{ fil.name_title }}</h4>
                                    <div class="ui grid">
                                        <div class="fourteen wide column">
                                            <div id="filter_value__status">
                                                {% for status in statuses %}
                                                    <div class="ui checkbox" style="margin-right: 30px;margin-top: 10px;">
                                                        <input id="filter_value__status__{{ status.0 }}" type="checkbox" value="{{ status.0 }}"{% if status.0 in fil.value %} checked{% endif %}>
                                                        <label for="filter_value__status__{{ status.0 }}">{{ status.1 }}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="two wide column right aligned">
                                            <button id="remove__filter__status" class="ui icon red basic button">
                                                <i class="remove icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif fil.name == 'resource_component' %}
                            <div id="filter_form__resource_component">
                                <div class="ui purple segment">
                                    <h4 class="header" id="filter_title__resource_component">{{ fil.name_title }}</h4>
                                    <div class="ui grid">
                                        <div class="six wide column">
                                            <label for="filter_type__resource_component"></label>
                                            <select id="filter_type__resource_component" class="ui dropdown">
                                                <option value="iexact"{% if fil.type == 'iexact' %} selected{% endif %}>{% trans 'is' %}</option>
                                                <option value="istartswith"{% if fil.type == 'istartswith' %} selected{% endif %}>{% trans 'starts with' %}</option>
                                                <option value="icontains"{% if fil.type == 'icontains' %} selected{% endif %}>{% trans 'contains' %}</option>
                                            </select>
                                        </div>
                                        <div class="eight wide column">
                                            <label for="filter_value__resource_component"></label>
                                            <input id="filter_value__resource_component" type="text" value="{{ fil.value }}">
                                        </div>
                                        <div class="two wide column right aligned">
                                            <button id="remove__filter__resource_component" class="ui icon red basic button">
                                                <i class="remove icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif fil.name == 'problem_component' %}
                            <div id="filter_form__problem_component">
                                <div class="ui purple segment">
                                    <h4 class="header" id="filter_title__problem_component">{{ fil.name_title }}</h4>
                                    <div class="ui grid">
                                        <div class="six wide column">
                                            <label for="filter_type__problem_component"></label>
                                            <select id="filter_type__problem_component" class="ui dropdown">
                                                <option value="iexact"{% if fil.type == 'iexact' %} selected{% endif %}>{% trans 'is' %}</option>
                                                <option value="istartswith"{% if fil.type == 'istartswith' %} selected{% endif %}>{% trans 'starts with' %}</option>
                                                <option value="icontains"{% if fil.type == 'icontains' %} selected{% endif %}>{% trans 'contains' %}</option>
                                            </select>
                                        </div>
                                        <div class="eight wide column">
                                            <label for="filter_value__problem_component"></label>
                                            <input id="filter_value__problem_component" type="text" value="{{ fil.value }}">
                                        </div>
                                        <div class="two wide column right aligned">
                                            <button id="remove__filter__problem_component" class="ui icon red basic button">
                                                <i class="remove icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif fil.name == 'problem_problem' %}
                            <div id="filter_form__problem_problem">
                                <div class="ui purple segment">
                                    <h4 class="header" id="filter_title__problem_problem">{{ fil.name_title }}</h4>
                                    <div class="ui grid">
                                        <div class="six wide column">
                                            <label for="filter_type__problem_problem"></label>
                                            <select id="filter_type__problem_problem" class="ui dropdown">
                                                <option value="iexact"{% if fil.type == 'iexact' %} selected{% endif %}>{% trans 'is' %}</option>
                                                <option value="istartswith"{% if fil.type == 'istartswith' %} selected{% endif %}>{% trans 'starts with' %}</option>
                                                <option value="icontains"{% if fil.type == 'icontains' %} selected{% endif %}>{% trans 'contains' %}</option>
                                            </select>
                                        </div>
                                        <div class="eight wide column">
                                            <label for="filter_value__problem_problem"></label>
                                            <input id="filter_value__problem_problem" type="text" value="{{ fil.value }}">
                                        </div>
                                        <div class="two wide column right aligned">
                                            <button id="remove__filter__problem_problem" class="ui icon red basic button">
                                                <i class="remove icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif fil.name == 'format' %}
                            <div id="filter_form__format">
                                <div class="ui purple segment">
                                    <h4 class="header"><span id="filter_title__format">{{ fil.name_title }}</span> {% trans 'is' %}</h4>
                                    <input type="hidden" value="is" id="filter_type__format">
                                    <div class="ui grid">
                                        <div class="three wide column">
                                            <label for="filter_value__format"></label>
                                            <input id="filter_value__format" type="text" value="{{ fil.value }}">
                                        </div>
                                        <div class="eleven wide column"></div>
                                        <div class="two wide column right aligned">
                                            <button id="remove__filter__format" class="ui icon red basic button">
                                                <i class="remove icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif fil.name == 'priority' %}
                            <div id="filter_form__priority">
                                <div class="ui purple segment">
                                    <h4 class="header" id="filter_title__priority">{{ fil.name_title }}</h4>
                                    <div class="ui grid">
                                        <div class="seven wide column">
                                            <label for="filter_type__priority"></label>
                                            <select id="filter_type__priority" class="ui dropdown">
                                                <option value="le"{% if fil.type == 'le' %} selected{% endif %}>{% trans 'not greater than' %}</option>
                                                <option value="e"{% if fil.type == 'e' %} selected{% endif %}>{% trans 'is' %}</option>
                                                <option value="me"{% if fil.type == 'me' %} selected{% endif %}>{% trans 'not less than' %}</option>
                                            </select>
                                        </div>
                                        <div class="seven wide column">
                                            <label for="filter_value__priority"></label>
                                            <select id="filter_value__priority" class="ui dropdown">
                                                {% for pr in priorities %}
                                                    <option value="{{ pr.0 }}"{% if fil.value == pr.0 %} selected{% endif %}>{{ pr.1 }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="two wide column right aligned">
                                            <button id="remove__filter__priority" class="ui icon red basic button">
                                                <i class="remove icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="ui grid">
                <div class="ten wide column">
                    <button id="show_unsaved_view_btn" type="button" class="ui violet small button">{% trans 'Show' %}</button>
                </div>
                <div class="six wide column right aligned">
                    <div class="ui small action fluid input">
                        <input id="new_view_name_input" type="text" placeholder="{% trans 'New view name' %}">
                        <button id="save_view_btn" type="button" class="ui small olive button">{% trans 'Save' %}</button>
                    </div>
                </div>
            </div>
            <br>
            <div class="ui grid">
                <div class="sixteen wide column center aligned">
                    <div class="ui small action input">
                        <label for="available_views"></label>
                        <select id="available_views" class="ui dropdown">
                            <option value="default">{% trans 'Default' %}</option>
                            {% for v in FF.user_views %}
                                <option title="{{ v.title }}" value="{{ v.id }}"{% if v.selected %} selected{% endif %}>{{ v.title }}</option>
                            {% endfor %}
                        </select>
                        <button id="show_view_btn" type="button" class="ui small teal button">{% trans 'Show' %}</button>
                        <button id="make_preferable_view_btn" type="button" class="ui small green button">{% trans 'Make preferred' %}</button>
                        <button id="update_view_btn" type="button" class="ui small pink button">{% trans 'Update' %}</button>
                        <button id="remove_view_btn" type="button" class="ui small orange button">{% trans 'Delete' %}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="ui mini basic icon buttons">
        <button class="ui button violet normal-popup" id="compare_reports_btn"><i class="ui columns icon"></i></button>
        <div class="ui popup">
            <p style="white-space: nowrap">{% trans 'Compare reports' %}</p>
        </div>
        <button class="ui olive button normal-popup" id="download_selected_jobs"><i class="ui download icon"></i></button>
        <div class="ui popup">
            <p style="white-space: nowrap">{% trans 'Download selected jobs' %}</p>
        </div>
        <button class="ui red button normal-popup" id="show_remove_jobs_popup"><i class="ui remove icon"></i></button>
        <div class="ui popup">
            <p style="white-space: nowrap">{% trans 'Delete selected jobs' %}</p>
        </div>
    </div>

    <button type="button" class="ui mini violet icon basic button" id="jobstree-fullscreen-btn" style="float:right;margin-right: 10px;">
        <i class="setting icon"></i>
    </button>
    <div class="ui popup bottom right transition hidden">
        <span>{% trans 'View' %}</span> ({% if FF.view_id == 'default' %}{% trans 'Default' %}{% elif FF.view_id %}{% for v in FF.user_views %}{% if v.id == FF.view_id %}{{ v.title }}{% endif %}{% endfor %}{% else %}{% trans 'unsaved' %}{% endif %})
    </div>
    <br><br>
    <div class="tableScroll" id="jobtable">
        {% include 'jobs/treeTable.html' %}
    </div>

    <div id="remove_jobs_popup" class="ui basic modal">
        <div class="ui icon header">
            <i class="warning sign icon"></i>
            {% trans 'Are you sure' %}?
        </div>
        <div class="content">
            <div class="ui center aligned grid">
                <p>{% trans 'All versions and all data of the selected jobs will be deleted' %}!</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui center aligned grid">
                <button id="cancel_remove_jobs" type="button" class="ui blue basic inverted button">{% trans 'Cancel' %}</button>
                <button id="delete_jobs_btn" type="button" class="ui red basic inverted button">{% trans 'Delete' %}</button>
            </div>
        </div>
    </div>
    {% include 'jobs/treeTmp.html' %}
    <span id="error__no_jobs_to_download" hidden>{% trans 'Please select jobs you want to download' %}</span>
    <span id="error__no_jobs_to_delete" hidden>{% trans 'Please select jobs you want to delete' %}</span>
    <span id="error__no_jobs_to_compare" hidden>{% trans 'Please select exatly two jobs you want to compare' %}</span>
{% endblock %}
