{% extends 'jobs/base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Jobs Tree' %}{% endblock %}

{% block jobs_head_block %}<script src="{% static 'jobs/js/jobtree.js' %}"></script>{% endblock %}

{% block body_block %}
    <button type="button" class="ui mini violet icon basic button" id="view_show_form_btn_{{ TableData.view.type }}" data-content="{{ TableData.view.viewtitle }}" data-position="bottom right" style="float:right;margin-right: 10px;"><i class="setting icon"></i></button>
    <div class="ui mini basic icon buttons">
        <button class="ui violet button note-popup" id="compare_reports_btn" data-position="bottom left" data-content="{% trans 'Compare reports' %}"><i class="ui columns icon"></i></button>
        <button class="ui purple button note-popup" id="compare_files_btn" data-position="bottom left" data-content="{% trans 'Compare files' %}"><i class="ui columns icon"></i></button>
        <button class="ui olive button note-popup" id="download_selected_jobs" data-position="bottom left" data-content="{% trans 'Download selected jobs' %}"><i class="ui download icon"></i></button>
        {# Only managers can upload trees (USER_ROLES[2][0]) #}
        {% if user.extended.role == '2' %}
            <button class="ui olive button note-popup" id="download_selected_trees" data-position="bottom left" data-content="{% trans 'Download selected trees' %}"><i class="ui sitemap icon"></i></button>
        {% endif %}
        <button class="ui red button note-popup" id="show_remove_jobs_popup" data-position="bottom left" data-content="{% trans 'Delete selected jobs' %}"><i class="ui remove icon"></i></button>
    </div>
    <br>
    <div id="view_form_segment_{{ TableData.view.type }}" class="ui form yellow segment" style="display: none">
        {% include 'users/views/jobTree.html' with view=TableData.view selected_columns=TableData.selected_columns available_columns=TableData.available_columns %}
    </div>
    <br>

    <div class="tableScroll" id="jobtable">
        {% include 'jobs/treeTable.html' %}
    </div>

    <div id="remove_jobs_popup" class="ui basic modal">
        <div class="ui icon header">
            <i class="warning sign icon"></i>
            {% trans 'Are you sure' %}?
        </div>
        <div class="content">
            <div class="ui center aligned grid">
                <p>{% trans 'All versions and all data of the selected jobs will be deleted' %}! {% trans 'If any job has children they will also be deleted' %}!</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui center aligned grid">
                <button id="cancel_remove_jobs" type="button" class="ui blue basic inverted button">{% trans 'Cancel' %}</button>
                <button id="delete_jobs_btn" type="button" class="ui red basic inverted button">{% trans 'Delete' %}</button>
            </div>
        </div>
    </div>
    <span id="error__no_jobs_to_download" hidden>{% trans 'Please select jobs you want to download' %}</span>
    <span id="error__no_jobs_to_delete" hidden>{% trans 'Please select jobs you want to delete' %}</span>
    <span id="error__no_jobs_to_compare" hidden>{% trans 'Please select exactly two jobs which reports you want to compare' %}</span>
{% endblock %}
