{% extends 'bridge/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Upload Log' %}{% endblock %}
{% block body_block %}
    {% if log_content %}
        <button id="clear_log_btn" class="ui mini violet button">{% trans 'Clear' %}</button>
        <div class="ui divider"></div>
    {% endif %}
    <div class="ui violet segment">
        {% if log_content %}
            <div class="filecontent" style="max-height: 80vh;overflow: auto;">{{ log_content }}</div>
        {% else %}
            <h5 class="ui red header">{% trans 'The log does not exist yet' %}</h5>
        {% endif %}
    </div>
    <script type="application/javascript">
        jQuery(function () {
            $('#clear_log_btn').click(function () {
                $.ajax({
                    url: "{% url 'jobs:api-clear-upload-log' %}",
                    method: 'DELETE',
                    data: {},
                    success: function () {
                        window.location.replace('');
                    }
                })
            })
        });
    </script>
{% endblock %}