{% extends 'jobs/base.html' %}

{% load i18n %}

{% load tz %}

{% block jobs_head_block %}<script src="/static/jobs/js/editjob.js"></script>{% endblock %}

{% block title %}{% trans 'Job' %}{% endblock %}

{% block body_block %}
    {% if job %}
    <div class="ui grid">
        <div id="view_job_1st_part" class="eight wide column">
            <div class="ui small icon buttons top attached">
                <button id="copy_job_btn" class="ui teal button normal-popup{% if not can_create %} disabled{% endif %}"><i class="file outline icon"></i></button>
                <div class="ui popup">
                    <p style="white-space: nowrap">{% trans 'Make copy' %}</p>
                </div>
                <button id="load_job_btn" class="ui olive button normal-popup{% if not can_download %} disabled{% endif %}"><i class="download icon"></i></button>
                <div class="ui popup">
                    <p style="white-space: nowrap">{% trans 'Download' %}</p>
                </div>
                <a id="decide_job_btn" href="{% url 'jobs:prepare_run' job.pk %}" class="ui purple button normal-popup{% if not can_decide %} disabled{% endif %}"><i class="play icon"></i></a>
                <div class="ui popup">
                    <p style="white-space: nowrap">{% trans 'Start decision' %}</p>
                </div>
                <button id="fast_job_start" class="ui pink button normal-popup{% if not can_decide %} disabled{% endif %}"><i class="play forward icon"></i></button>
                <div class="ui popup">
                    <p style="white-space: nowrap">{% trans 'Start decision with default values' %}</p>
                </div>

                <button id="stop_job_btn" class="ui orange button normal-popup{% if not can_stop %} disabled{% endif %}"><i class="stop icon"></i></button>
                <div class="ui popup">
                    <p style="white-space: nowrap">{% trans 'Stop decision' %}</p>
                </div>
                <button id="edit_job_btn" class="ui blue button normal-popup{% if not can_edit %} disabled{% endif %}"><i class="write icon"></i></button>
                <div class="ui popup">
                    <p style="white-space: nowrap">{% trans 'Edit' %}</p>
                </div>
                <button id="edit_versions" class="ui brown button normal-popup{% if not can_edit %} disabled{% endif %}"><i class="recycle icon"></i></button>
                <div class="ui popup">
                    <p style="white-space: nowrap">{% trans 'Delete versions' %}</p>
                </div>
                <button id="show_remove_job_popup" class="ui red button normal-popup{% if not can_delete %} disabled{% endif %}"><i class="remove icon"></i></button>
                <div class="ui popup">
                    <p style="white-space: nowrap">{% trans 'Delete' %}</p>
                </div>
            </div>
            <table class="ui selectable compact inverted violet table attached">
                <thead>
                    <tr>
                        <th class="center aligned" colspan="2">
                            <span class="ui olive header">{{ job.name }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="right aligned">{% trans 'Class' %}</th>
                        <td>{{ job.get_type_display }}</td>
                    </tr>
                    <tr>
                        <th class="right aligned">{% trans 'Format' %}</th>
                        <td>{{ job.format }}</td>
                    </tr>
                    <tr>
                        <th class="right aligned">{% trans 'Identifier' %}</th>
                        <td>{{ job.identifier }}</td>
                    </tr>
                    {% if created_by %}
                        <tr>
                            <th class="right aligned">{% trans 'Created by' %}</th>
                            <td><a class="violet-link" href="{% url 'users:show_profile' created_by.pk %}">{{ created_by.extended.last_name }} {{ created_by.extended.first_name }}</a></td>
                        </tr>
                    {% endif %}
                    {% if parents %}
                        <tr>
                            <th class="right aligned">{% trans 'Parents' %}</th>
                            <td>
                                {% for parent in parents %}
                                    <div class="ui bulleted list"><div class="item">
                                    {% if parent.pk %}
                                        <a class="violet-link" href="{% url 'jobs:job' parent.pk %}">{{ parent.name }}</a>
                                    {% else %}
                                        <ins>{{ parent.name }}</ins>
                                    {% endif %}
                                {% endfor %}
                                {% for parent in parents %}
                                    </div></div>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if children %}
                        <tr>
                            <th class="right aligned">{% trans 'Children' %}</th>
                            <td>
                                <div class="ui bulleted list">
                                    {% for child in children %}
                                        <div class="item">
                                            {% if child.pk %}
                                                <a class="violet-link" href="{% url 'jobs:job' child.pk %}">{{ child.name }}</a>
                                            {% else %}
                                                <span><ins>{{ child.name }}</ins></span>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th class="right aligned">{% trans 'Last change' %}</th>
                        <td>
                            {% timezone user.extended.timezone %}
                                {{ last_version.change_date|date:'d.m.y H:i:s' }}
                            {% endtimezone %}
                            {% if last_version.change_author %}
                                (<a class="violet-link" href="{% url 'users:show_profile' last_version.change_author.pk %}">{{ last_version.change_author.extended.last_name }} {{ last_version.change_author.extended.first_name }}</a>)
                            {% endif %}
                            {% if last_version.comment|length %}
                                <p><span class="italic">{% trans 'Comment' %}:</span> <small>"{{ last_version.comment }}"</small></p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr id="job_status_popup_activator">
                        <th class="right aligned">{% trans 'Decision status' %}</th>
                        <td>
                            {% if reportdata.report %}
                                <a id="job_status_link" class="
                                {% if job.status == '0' %}
                                    status-link status0-link
                                {% elif job.status == '1' %}
                                    status-link status1-link
                                {% elif job.status == '2' %}
                                    status-link status2-link
                                {% elif job.status == '3' %}
                                    status-link status3-link
                                {% elif job.status == '4' %}
                                    status-link status4-link
                                {% elif job.status == '5' %}
                                    status-link status5-link
                                {% elif job.status == '6' %}
                                    status-link status6-link
                                {% elif job.status == '7' %}
                                    status-link status7-link
                                {% endif %}
                                " href="{% url 'reports:component' job.pk reportdata.report.pk %}">{{ job.get_status_display }}</a>
                            {% else %}
                                <p id="job_status_p" style="color: #f1ffff">{{ job.get_status_display }}</p>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" id="job_pk" value="{{ job.pk }}">
            {% if job.solvingprogress.error %}
                <div id="job_status_popup" class="ui inverted popup wide hidden">
                    <div class="ui red header">{{ job.solvingprogress.error }}</div>
                </div>
            {% endif %}
            <br>
            {% include 'jobs/viewJobFilters.html' %}
            <br>
            <div id="job_data_div">
                {% if reportdata %}
                    {% include 'jobs/jobData.html' %}
                {% endif %}
            </div>
        </div>
        <div id="edit_job_div" class="eight wide column"></div>
    </div>
        {% if can_delete %}
            <div id="remove_job_popup" class="ui basic modal">
                <div class="ui icon header">
                    <i class="warning sign icon"></i>
                    {% trans 'Are you sure' %}?
                </div>
                <div class="content">
                    <div class="ui center aligned grid">
                        <p>{% trans 'All versions and all data of this job will be deleted' %}!</p>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui center aligned grid">
                        <button id="cancel_remove_job" type="button" class="ui blue basic inverted button">{% trans 'Cancel' %}</button>
                        <button id="remove_job_btn" type="button" class="ui red basic inverted button">{% trans 'Delete' %}</button>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
