{% load i18n %}

<div class="ui styled accordion fluid">
    <div class="title"><i class="clock outline icon"></i>{% trans 'Job versions' %}</div>
    <div class="content">
        {% for version in versions %}
            <div class="version-line">
                <div class="ui checkbox">
                    <input id="checkbox_version__{{ version.version }}" type="checkbox">
                    <label for="checkbox_version__{{ version.version }}">{{ version.title }}</label>
                </div>
                <br><br>
            </div>
        {% endfor %}
        <div class="ui bottom attached buttons">
            <button id="compare_versions" class="ui violet button">{% trans 'Compare' %}</button>
            <button id="show_remove_versions_modal" class="ui red button">{% trans 'Delete' %}</button>
        </div>
        <div>&nbsp;<span id="cant_remove_vers" class="small-text" style="display: none;float: right;padding-top: 5px;">*{% trans "You can't remove first and last versions" %}</span></div>
    </div>
</div>

<div id="remove_versions_popup" class="ui basic modal">
    <div class="ui icon header">
        <i class="warning sign icon"></i>
        {% trans 'Are you sure' %}?
    </div>
    <div class="content">
        <div class="ui center aligned grid">
            <p>{% trans "You won't be able to restore deleted versions" %}</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui center aligned grid">
            <button id="cancel_remove_versions" type="button" class="ui blue basic inverted button">{% trans 'Cancel' %}</button>
            <button id="delete_versions_btn" type="button" class="ui red basic inverted button">{% trans 'Delete' %}</button>
        </div>
    </div>
</div>

<div id="version_comparison_modal" class="ui dinamic modal">
    <button id="close_comparison_view" class="ui icon red button" style="float:right;margin:10px;"><i class="remove icon"></i></button>
    <div class="content"></div>
</div>

<div hidden>
    <span id="error__no_vers_selected" hidden>{% trans "Nothing to delete" %}</span>
    <span id="error__select_two_vers" hidden>{% trans "Please select exactly two versions to compare" %}</span>
</div>
