{% load staticfiles %}
{% load i18n %}

<table id="file_tree_table" class="ui compact teal table tree">
    <tbody>
    {% for f in filedata %}
        <tr class="treegrid-{{ f.id }}{% if f.parent %} treegrid-parent-{{ f.parent }}{% endif %}{% if f.type == 0 %} success{% endif %}">
            <td>
                {% if f.type == 1 %}
                    <span id="file_title__{{ f.type }}__{{ f.id }}"><a href="{% url 'jobs:download_file' f.id %}">{{ f.title }}</a></span>
                {% else %}
                    <span>{{ f.title }}</span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div id="file_content_modal" class="ui small dinamic large modal">
    <div class="content">
        <div class="ui grid">
            <div class="two wide column left aligned">
                <button id="download_file_form_view" class="ui icon olive button"><i class="download icon"></i></button>
            </div>
            <div class="twelve wide column ui header center aligned" id="file_content_name"></div>
            <div class="two wide column right aligned">
                <button id="close_file_view" class="ui icon red button"><i class="remove icon"></i></button>
            </div>
        </div>
        <div class="filecontent ui olive segment" id="file_content"></div>
    </div>
</div>