#etv-trace___et1 {
    position: absolute;
    left: 0;
    top: 0;
    height: 55%;
    width: 45%;
    background-color: #fff8e9;
}

#etv-trace___et2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 45%;
    height: 44.5%;
    background-color: #fff8e9;
}
#etv-divider-3 {
    position: absolute;
    left: 0;
    top: 55%;
    height: 0.5%;
    width: 45%;
    background-color: #f2711c;
    cursor: move;
}
.ETV_error_trace_2 {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    line-height: normal;
    font-size: 12px;
    font-family: monospace;
    overflow: auto;
    white-space: nowrap
}
