.TableTitle {
    color: black;
    font-weight: bold;
    width: 1%;
}

.TableRawEven
{
  background-color: #E0E0E0;
}

.TableRawOdd
{
  background-color: #FFFFFF;
}

.RootReportTable
{
  border: 1px solid black;
  border-collapse: collapse;
  overflow: auto;
  text-align: left;
  width: 100%;
}

.Title
{
  color: black;
  font-weight: bold;
}