{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Mark' %}{% endblock %}

{% block head_block %}
    <link href="{% static 'marks/css/marks.css' %}" rel="stylesheet">
    <link href="{% static 'marks/css/tagsmap.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'marks/js/tags.js' %}"></script>
    <script type="text/javascript" src="{% static 'marks/js/markForm.js' %}"></script>
    <script type="text/javascript" src="{% static 'marks/js/marks.js' %}"></script>
{% endblock %}