{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Create mark' %}{% endblock %}

{% block head_block %}
    <link href="{% static 'marks/css/tagsmap.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'marks/js/tags.js' %}"></script>
    <script type="text/javascript" src="{% static 'marks/js/markForm.js' %}"></script>
    <script type="text/javascript" src="{% static 'marks/js/createMark.js' %}"></script>
{% endblock %}

{% block body_block %}
{% if markdata.type == 'unsafe' %}
    <form autocomplete="off" onsubmit="return false">
        <div class="ui grid">
            <div class="ten wide column">
                <div class="ui horizontal segments">
                    <div class="ui segment" style="max-width: 50%;">
                        <div class="ui top attached teal label">{% trans 'Error traces comparison function' %}</div>
                        <div>
                            <label for="compare_function"></label>
                            <select id="compare_function" class="ui dropdown">
                                {% for f in markdata.comparison %}
                                    <option value="{{ f.id }}"{% if f.id == markdata.selected_func.id %} selected{% endif %}>{{ f.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="ui divider"></div>
                            <p id="compare_function_description" class="func-description" style="margin: 0">{{ markdata.selected_func.description }}</p>
                        </div>
                    </div>
                    <div class="ui segment" style="max-width: 50%;">
                        <div class="ui top attached teal label">{% trans 'Error traces conversion function' %}</div>
                        <div>
                            <p id="convert_function_name" class="bold-text">{{ markdata.selected_func.convert.name }}</p>
                            <div class="ui divider"></div>
                            <p id="convert_function_description" class="func-description" style="margin: 0">{{ markdata.selected_func.convert.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="ui blue segment">
                    <h4 class="header ui blue">{% trans 'Description' %}</h4>
                    <div class="ui form">
                        <label for="mark_description"></label>
                        <textarea id="mark_description" rows="5" style="resize:none">{{ markdata.description }}</textarea>
                    </div>
                </div>
                <input id="report_pk" type="hidden" value="{{ report.pk }}">
                <input id="report_type" type="hidden" value="{{ markdata.type }}">
            </div>
            <div class="six wide column">
                <div></div>
                <div class="ui green segment">
                    <div class="ui two column grid">
                        <div class="column">
                            <h4 class="ui green header">{% trans 'Verdict' %}</h4>
                            <div>
                                {% for v in markdata.verdicts %}
                                    <div class="ui radio checkbox">
                                        <input id="selected_verdict__{{ v.value }}" type="radio" name="selected_verdict" value="{{ v.value }}"{% if v.checked %} checked{% endif %}>
                                        <label for="selected_verdict__{{ v.value }}" style="color: {{ v.color }}">{{ v.title }}</label>
                                    </div>
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="column">
                            <h4 class="ui green header">{% trans 'Status' %}</h4>
                            <div>
                                {% for s in markdata.statuses %}
                                    <div class="ui radio checkbox">
                                        <input id="selected_status__{{ s.value }}" type="radio" name="selected_status" value="{{ s.value }}"{% if s.checked %} checked{% endif %}>
                                        <label for="selected_status__{{ s.value }}" style="color: {{ s.color }}">{{ s.title }}</label>
                                    </div>
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui pink segment">
                    <h4 class="header ui pink">{% trans 'Tags' %}</h4>
                    {% include 'marks/MarkTags.html' with tags=markdata.tags.table available=markdata.tags.available selected=markdata.tags.selected %}
                </div>
                <div class="ui styled accordion fluid">
                    <div class="title">
                        <i class="grid layout icon"></i>{% trans 'Attributes' %}
                    </div>
                    <div class="content">
                        <div style="overflow-x:auto;">
                            <table class="ui celled compact purple table">
                                <tbody>
                                    {% for v in markdata.attributes %}
                                        <tr>
                                            <th>{{ v.0 }}</th>
                                            <td class="collapsing">
                                                <div class="ui small checkbox">
                                                    <label for="attr_checkbox__{{ v.0 }}">{{ v.1 }}</label>
                                                    <input id="attr_checkbox__{{ v.0 }}" type="checkbox" value="{{ v.0 }}"{% if v.2 %} checked{% endif %}>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                {% if access.can_freeze %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="is_modifiable" checked>
                        <label for="is_modifiable">{% trans 'Editable' %}</label>
                    </div>
                    <br><br>
                {% endif %}
                <a href="{% url 'reports:unsafe' report.pk %}" class="ui blue button" style="float: right">{% trans 'Cancel' %}</a>
                <button id="save_new_mark_btn" class="ui green button">{% trans 'Save' %}</button>
            </div>
        </div>
    </form>
{% elif markdata.type == 'safe' %}
    <form autocomplete="off" onsubmit="return false">
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui green segment">
                    <h4 class="ui green header">{% trans 'Verdict' %}</h4>
                    {% for v in markdata.verdicts %}
                        <div class="ui radio checkbox">
                            <input id="selected_verdict__{{ v.value }}" type="radio" name="selected_verdict" value="{{ v.value }}"{% if v.checked %} checked{% endif %}>
                            <label for="selected_verdict__{{ v.value }}" style="color: {{ v.color }}">{{ v.title }}</label>
                        </div>
                        <br>
                    {% endfor %}
                    <input id="report_pk" type="hidden" value="{{ report.pk }}">
                    <input id="report_type" type="hidden" value="{{ markdata.type }}">
                    <h4 class="ui green header">{% trans 'Status' %}</h4>
                    {% for s in markdata.statuses %}
                        <div class="ui radio checkbox">
                            <input id="selected_status__{{ s.value }}" type="radio" name="selected_status" value="{{ s.value }}"{% if s.checked %} checked{% endif %}>
                            <label for="selected_status__{{ s.value }}" style="color: {{ s.color }}">{{ s.title }}</label>
                        </div>
                        <br>
                    {% endfor %}
                </div>
            </div>
            <div class="seven wide column">
                <div class="ui pink segment">
                    <h4 class="header ui pink">{% trans 'Tags' %}</h4>
                    {% include 'marks/MarkTags.html' with tags=markdata.tags.table available=markdata.tags.available selected=markdata.tags.selected %}
                </div>
                <br>
                <div class="ui styled accordion fluid">
                    <div class="title">
                        <i class="grid layout icon"></i>{% trans 'Attributes' %}
                    </div>
                    <div class="content">
                        <div style="overflow-x:auto;">
                            <table class="ui celled compact purple table">
                                <tbody>
                                    {% for v in markdata.attributes %}
                                        <tr>
                                            <th>{{ v.0 }}</th>
                                            <td class="collapsing">
                                                <div class="ui small checkbox">
                                                    <label for="attr_checkbox__{{ v.0 }}">{{ v.1 }}</label>
                                                    <input id="attr_checkbox__{{ v.0 }}" type="checkbox" value="{{ v.0 }}"{% if v.2 %} checked{% endif %}>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui blue segment">
                    <h4 class="header ui blue">{% trans 'Description' %}</h4>
                    <div class="ui form">
                        <label for="mark_description"></label>
                        <textarea id="mark_description" rows="6" style="resize:none">{{ markdata.description }}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% if access.can_freeze %}
            <div class="ui toggle checkbox">
                <input type="checkbox" id="is_modifiable" checked>
                <label>{% trans 'Editable' %}</label>
            </div>
            <br><br>
        {% endif %}
        <a href="{% url 'reports:safe' report.pk %}" class="ui blue button" style="float: right">{% trans 'Cancel' %}</a>
        <button id="save_new_mark_btn" class="ui green button">{% trans 'Save' %}</button>
    </form>
{% elif markdata.type == 'unknown' %}
    <form autocomplete="off" onsubmit="return false">
        <h1 class="header ui violet">{{ report.component.name }}</h1>
        <input id="report_pk" type="hidden" value="{{ report.pk }}">
        <input id="report_type" type="hidden" value="{{ markdata.type }}">
        <div class="ui grid">
            <div class="eight wide column">
                <div class="ui red segment">
                    <div class="ui grid">
                        <div class="five wide column">
                            <h4 class="ui green header">{% trans 'Status' %}</h4>
                            {% for s in markdata.statuses %}
                                <div class="ui radio checkbox">
                                    <input id="selected_status__{{ s.value }}" type="radio" name="selected_status" value="{{ s.value }}"{% if s.checked %} checked{% endif %}>
                                    <label for="selected_status__{{ s.value }}" style="color: {{ s.color }}">{{ s.title }}</label>
                                </div>
                                <br>
                            {% endfor %}
                        </div>
                        <div class="eleven wide column">
                            <div class="ui checkbox">
                                <input type="checkbox" id="is_regexp">
                                <label for="is_regexp">{% trans 'Regular expression' %}</label>
                            </div>
                            <br><br>
                            <label for="unknown_function" class="purple-title">{% trans 'Pattern' %}</label>
                            <div class="ui form">
                                <textarea id="unknown_function" rows="5" style="resize:none" placeholder="{% trans 'Pattern' %}"></textarea>
                            </div>
                            <br>
                            <label for="unknown_problem_pattern" class="purple-title">{% trans 'Problem' %}</label>
                            <div class="ui input fluid">
                                <input id="unknown_problem_pattern" type="text">
                            </div>
                            <br>
                            <label for="unknown_link" class="purple-title">{% trans 'Link to detailed description' %}</label>
                            <div class="ui input fluid">
                                <input id="unknown_link" type="url">
                            </div>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <button id="test_unknown_mark" class="ui mini teal button" style="float: right">{% trans 'Test pattern' %}</button>
                    <br>
                    <div id="test_mark_result_div" style="display: none">
                        <h5>{% trans 'Problem' %}: <span id="test_mark_problem" style="color: #a2443f"></span></h5>
                        <h5>{% trans 'Matched text' %}:</h5>
                        <div id="test_mark_result" class="filecontent code-text"></div>
                    </div>
                    <div id="test_mark_nomatch_div" style="display: none">
                        <h4 class="ui red header">{% trans 'No matches found' %}</h4>
                        <div id="regexp_err_result" class="filecontent error-text" style="display: none"></div>
                    </div>
                </div>
                <div class="ui blue segment">
                    <h4 class="header ui blue">{% trans 'Description' %}</h4>
                    <div class="ui form">
                        <label for="mark_description"></label>
                        <textarea id="mark_description" rows="5" style="resize:none">{{ markdata.description }}</textarea>
                    </div>
                </div>

                {% if access.can_freeze %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="is_modifiable" checked>
                        <label>{% trans 'Editable' %}</label>
                    </div>
                    <br><br>
                {% endif %}
                <a href="{% url 'reports:unknown' report.pk %}" class="ui blue button" style="float: right">{% trans 'Cancel' %}</a>
                <button id="save_new_mark_btn" class="ui green button">{% trans 'Save' %}</button>
            </div>
            <div class="eight wide column">
                <div class="ui red segment filecontent" style="min-height:100%;max-height:80vh;">{{ problem_description }}</div>
            </div>
        </div>
    </form>
    <span id="error__function_required" hidden>{% trans 'The pattern is required' %}</span>
    <span id="error__problem_required" hidden>{% trans 'The problem is required' %}</span>
{% endif %}
{% endblock %}