{% extends 'marks/Mark.html' %}

{% load i18n %}

{% load staticfiles %}

{% block mark_head_block %}
    <script type="text/javascript" src="{% static 'marks/js/editMark.js' %}"></script>
{% endblock %}

{% block edit_mark_block %}
    {% if versions|length %}
        <label for="mark_version_selector" class="purple-title">{% trans 'You can choose one of the previous versions' %}</label>
        <select id="mark_version_selector" class="ui dropdown fluid">
            {% for mv in versions %}
                <option value="{{ mv.version }}">{{ mv.title }}</option>
            {% endfor %}
        </select>
    {% endif %}
    <div class="ui divider"></div>

    <div id="mark_data_div">
        {% if markdata.type == 'unknown' %}
            {% include 'marks/MarkUnknownData.html' with markdata=markdata %}
        {% else %}
            {% include 'marks/MarkAddData.html' with markdata=markdata tags=markdata.tags %}
        {% endif %}
    </div>
    <br>
    <div class="ui grid">
    {% if access.can_freeze %}
        <div class="seven wide column">
            <div class="ui toggle checkbox">
                <input type="checkbox" id="is_modifiable" {% if mark.is_modifiable %}checked{% endif %}>
                <label for="is_modifiable">{% trans 'Editable' %}</label>
            </div>
        </div>
    {% endif %}
        <div class="nine wide column">
            <div class="ui toggle checkbox">
                <input type="checkbox" id="autoconfirm">
                <label for="autoconfirm">{% trans "Preserve confirmations of associations if possible" %}</label>
            </div>
        </div>
    </div>
    <br>
    <label for="edit_mark_comment"></label>
    <div class="ui action input fluid">
        <input id="edit_mark_comment" type="text" placeholder="{% trans 'Comment' %}">
        <button id="save_mark_btn" style="float:right" class="ui green button">{% trans 'Save' %}</button>
        <a href="{% url 'marks:mark' markdata.type 'view' mark.pk %}" class="ui blue button">{% trans 'Cancel' %}</a>
    </div>
{% endblock %}
