{% load i18n %}

<div class="ui grid">
    <div class="eight wide column">
        <h3>{% trans 'Columns' %}</h3>

        <div class="ui grid">
            <div class="seven wide column">
                <h5>{% trans 'Number of elements in table' %}</h5>
                <input id="view_data_{{ view_type }}__elements" value="list" data-list="elements" type="hidden">
                <label for="view_{{ view_type }}__elements"></label>
                <div class="ui input"><input id="view_{{ view_type }}__elements" type="number"{% if 'elements' in view %} value="{{ view.elements.0 }}"{% endif %}></div>
            </div>
            <div class="nine wide column">
                {# Columns checkboxes #}
                <h5 class="header">{% trans 'Columns' %}</h5>
                <input id="view_data_{{ view_type }}__columns" value="checkboxes" type="hidden">
                <div class="ui checkbox">
                    <input type="checkbox" id="view_{{ view_type }}__columns__num_of_links"{% if 'num_of_links' in view.columns %} checked{% endif %}>
                    <label for="view_{{ view_type }}__columns__num_of_links">{% trans 'The number of associated leaf reports' %}</label>
                </div>
                <br>
            {% if view_type == '9' %}
                <div class="ui checkbox">
                    <input type="checkbox" id="view_{{ view_type }}__columns__component"{% if 'component' in view.columns %} checked{% endif %}>
                    <label for="view_{{ view_type }}__columns__component">{% trans 'Component' %}</label>
                </div>
                <br>
            {% else %}
                <div class="ui checkbox">
                    <input type="checkbox" id="view_{{ view_type }}__columns__verdict"{% if 'verdict' in view.columns %} checked{% endif %}>
                    <label for="view_{{ view_type }}__columns__verdict">{% trans 'Verdict' %}</label>
                </div>
                <br>
                <div class="ui checkbox">
                    <input type="checkbox" id="view_{{ view_type }}__columns__tags"{% if 'tags' in view.columns %} checked{% endif %}>
                    <label for="view_{{ view_type }}__columns__tags">{% trans 'Tags' %}</label>
                </div>
                <br>
            {% endif %}
                <div class="ui checkbox">
                    <label for="view_{{ view_type }}__columns__status">{% trans 'Status' %}</label>
                    <input type="checkbox" id="view_{{ view_type }}__columns__status"{% if 'status' in view.columns %} checked{% endif %}>
                </div>
                <br>
                <div class="ui checkbox">
                    <input type="checkbox" id="view_{{ view_type }}__columns__author"{% if 'author' in view.columns %} checked{% endif %}>
                    <label for="view_{{ view_type }}__columns__author">{% trans 'Last change author' %}</label>
                </div>
                <br>
                <div class="ui checkbox">
                    <input type="checkbox" id="view_{{ view_type }}__columns__change_date"{% if 'change_date' in view.columns %} checked{% endif %}>
                    <label for="view_{{ view_type }}__columns__change_date">{% trans 'Last change date' %}</label>
                </div>
                <br>
                <div class="ui checkbox">
                    <input type="checkbox" id="view_{{ view_type }}__columns__format"{% if 'format' in view.columns %} checked{% endif %}>
                    <label for="view_{{ view_type }}__columns__format">{% trans 'Format' %}</label>
                </div>
                <br>
            {% if view_type == '9' %}
                <div class="ui checkbox">
                    <input type="checkbox" id="view_{{ view_type }}__columns__pattern"{% if 'pattern' in view.columns %} checked{% endif %}>
                    <label for="view_{{ view_type }}__columns__pattern">{% trans 'Problem pattern' %}</label>
                </div>
                <br>
            {% endif %}
                <div class="ui checkbox">
                    <input type="checkbox" id="view_{{ view_type }}__columns__source"{% if 'source' in view.columns %} checked{% endif %}>
                    <label for="view_{{ view_type }}__columns__source">{% trans 'Source' %}</label>
                </div>
                <br>
            </div>
        </div>

        {# Order #}
        <h4 class="header">{% trans 'Order' %}</h4>
        <input id="view_data_{{ view_type }}__order" value="list_null" data-list="radio_order_value__radio_order{% if view_type != '9' %}__order_attr{% endif %}" type="hidden">
        <div class="ui grid">
            <div class="two wide column">
                <div class="ui radio checkbox">
                    <input id="order_value_up_{{ view_type }}" name="view_{{ view_type }}__radio_order_value" type="radio" value="up" {% if view.order.0 == 'up' %} checked{% endif %}>
                    <label for="order_value_up_{{ view_type }}"><i class="ui arrow up icon"></i></label>
                </div>
                <br>
                <div class="ui radio checkbox">
                    <input id="order_value_down_{{ view_type }}" name="view_{{ view_type }}__radio_order_value" type="radio" value="down" {% if view.order.0 == 'down' %} checked{% endif %}>
                    <label for="order_value_down_{{ view_type }}"><i class="ui arrow down icon"></i></label>
                </div>
            </div>
            <div class="fourteen wide column">
                <div class="ui radio checkbox">
                    <input id="view_{{ view_type }}__radio_change_date" type="radio" name="view_{{ view_type }}__radio_order" value="change_date"{% if view.order.1 == 'change_date' %} checked{% endif %}>
                    <label for="view_{{ view_type }}__radio_change_date">{% trans 'Order by last change date' %}</label>
                </div>
                <br>
                <div class="ui radio checkbox">
                    <input id="view_{{ view_type }}__radio_repnum_order" type="radio" name="view_{{ view_type }}__radio_order" value="num_of_links"{% if view.order.1 == 'num_of_links' %} checked{% endif %}>
                    <label for="view_{{ view_type }}__radio_repnum_order">{% trans 'Order by the number of associated leaf reports' %}</label>
                </div>
            {% if view_type != '9' %}
                <br>
                <div class="ui radio checkbox">
                    <input id="view_{{ view_type }}__radio_attr_order" type="radio" name="view_{{ view_type }}__radio_order" value="attr"{% if view.order.1 == 'attr' %} checked{% endif %}>
                    <label for="view_{{ view_type }}__radio_attr_order">{% trans 'Order by attribute' %}</label>
                </div>
                <label for="view_{{ view_type }}__order_attr"></label>
                <div class="ui fluid input">
                    <input id="view_{{ view_type }}__order_attr" type="text"{% if view.order.1 != 'num_of_links' %} value="{{ view.order.2 }}"{% endif %}>
                </div>
                <small style="color: #656565">{% trans 'Enter the full name of the attribute' %}, {% trans 'e.g.' %} <i>Linux kernel:Version</i></small><br>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="eight wide column">
        <h3>{% trans 'Filters' %}</h3>

        <input id="view_data_{{ view_type }}__status" value="list_if_status_enable" data-list="status_type__status_value" type="hidden">
        <div class="ui grid">
            <div class="five wide column">
                <div class="ui checkbox">
                    <input type="checkbox" id="view_condition_{{ view_type }}__status_enable"{% if 'status' in view %} checked{% endif %}>
                    <label for="view_condition_{{ view_type }}__status_enable">{% trans 'Status' %}</label>
                </div>
            </div>
            <div class="four wide column">
                <label for="view_{{ view_type }}__status_type"></label>
                <select id="view_{{ view_type }}__status_type" class="ui dropdown fluid">
                    <option value="is"{% if 'status' in view and view.status.0 == 'is' %} selected{% endif %}>{% trans 'is' %}</option>
                    <option value="isnot"{% if 'status' in view and view.status.0 == 'isnot' %} selected{% endif %}>{% trans 'is not' %}</option>
                </select>
            </div>
            <div class="seven wide column">
                <label for="view_{{ view_type }}__status_value"></label>
                <select id="view_{{ view_type }}__status_value" class="ui dropdown fluid">
                    {% for status in statuses %}
                        <option value="{{ status.0 }}"{% if 'status' in view and view.status.1 == status.0 %} selected{% endif %}>{{ status.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="ui divider"></div>

    {% if view_type == '9' %}
        <input id="view_data_{{ view_type }}__component" value="list_if_component_enable" data-list="component_type__component_value" type="hidden">
        <div class="ui grid">
            <div class="five wide column">
                <div class="ui checkbox">
                    <input type="checkbox" id="view_condition_{{ view_type }}__component_enable"{% if 'component' in view %} checked{% endif %}>
                    <label for="view_condition_{{ view_type }}__component_enable">{% trans 'Component' %}</label>
                </div>
            </div>
            <div class="four wide column">
                <label for="view_{{ view_type }}__component_type"></label>
                <select id="view_{{ view_type }}__component_type" class="ui dropdown fluid">
                    <option value="is"{% if 'component' in view and view.component.0 == 'is' %} selected{% endif %}>{% trans 'is' %}</option>
                    <option value="startswith"{% if 'component' in view and view.component.0 == 'startswith' %} selected{% endif %}>{% trans 'starts with' %}</option>
                </select>
            </div>
            <div class="seven wide column">
                <label for="view_{{ view_type }}__component_value"></label>
                <div class="ui fluid input"><input id="view_{{ view_type }}__component_value" type="text"{% if 'component' in view %} value="{{ view.component.1 }}"{% endif %}></div>
            </div>
        </div>
        <div class="ui divider"></div>
    {% else %}

        <input id="view_data_{{ view_type }}__verdict" value="list_if_verdict_enable" data-list="verdict_type__verdict_value" type="hidden">
        <div class="ui grid">
            <div class="five wide column">
                <div class="ui checkbox">
                    <input type="checkbox" id="view_condition_{{ view_type }}__verdict_enable"{% if 'verdict' in view %} checked{% endif %}>
                    <label for="view_condition_{{ view_type }}__verdict_enable">{% trans 'Verdict' %}</label>
                </div>
            </div>
            <div class="four wide column">
                <label for="view_{{ view_type }}__verdict_type"></label>
                <select id="view_{{ view_type }}__verdict_type" class="ui dropdown fluid">
                    <option value="is"{% if 'verdict' in view and view.verdict.0 == 'is' %} selected{% endif %}>{% trans 'is' %}</option>
                    <option value="isnot"{% if 'verdict' in view and view.verdict.0 == 'isnot' %} selected{% endif %}>{% trans 'is not' %}</option>
                </select>
            </div>
            <div class="seven wide column">
                <label for="view_{{ view_type }}__verdict_value"></label>
                <select id="view_{{ view_type }}__verdict_value" class="ui dropdown fluid">
                    {% for verdict in verdicts %}
                        <option value="{{ verdict.0 }}"{% if 'verdict' in view and view.verdict.1 == verdict.0 %} selected{% endif %}>{{ verdict.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="ui divider"></div>
    {% endif %}

        <input id="view_data_{{ view_type }}__author" value="list_if_author_enable" data-list="author_id" type="hidden">
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui checkbox">
                    <input type="checkbox" id="view_condition_{{ view_type }}__author_enable"{% if 'author' in view %} checked{% endif %}>
                    <label for="view_condition_{{ view_type }}__author_enable">{% trans 'Author' %}</label><br>
                </div>
            </div>
            <div class="five wide column center aligned">
                <h4 class="header">{% trans 'is' %}</h4>
            </div>
            <div class="seven wide column">
                <label for="view_{{ view_type }}__author_id"></label>
                <select id="view_{{ view_type }}__author_id" class="ui dropdown fluid">
                    {% for author in authors %}
                        <option value="{{ author.id }}"{% if 'author' in view and view.author.0 == author.pk|slugify %} selected{% endif %}>{{ author.get_full_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="ui divider"></div>

        <input id="view_data_{{ view_type }}__source" value="list_if_source_enable" data-list="source_type__source_value" type="hidden">
        <div class="ui grid">
            <div class="five wide column">
                <div class="ui checkbox">
                    <input type="checkbox" id="view_condition_{{ view_type }}__source_enable"{% if 'source' in view %} checked{% endif %}>
                    <label for="view_condition_{{ view_type }}__source_enable">{% trans 'Source' %}</label>
                </div>
            </div>
            <div class="four wide column">
                <label for="view_{{ view_type }}__source_type"></label>
                <select id="view_{{ view_type }}__source_type" class="ui dropdown fluid">
                    <option value="is"{% if 'source' in view and view.source.0 == 'is' %} selected{% endif %}>{% trans 'is' %}</option>
                    <option value="isnot"{% if 'source' in view and view.source.0 == 'isnot' %} selected{% endif %}>{% trans 'is not' %}</option>
                </select>
            </div>
            <div class="seven wide column">
                <label for="view_{{ view_type }}__source_value"></label>
                <select id="view_{{ view_type }}__source_value" class="ui dropdown fluid">
                    {% for mtype in mark_types %}
                        <option value="{{ mtype.0 }}"{% if 'source' in view and view.source.1 == mtype.0 %} selected{% endif %}>{{ mtype.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

    {% if view_type != '9' %}
        <div class="ui divider"></div>

        {# Tags #}
        <input id="view_data_{{ view_type }}__tags" value="list_if_tags" data-list="tags_value" type="hidden">
        <div class="ui checkbox">
            <input type="checkbox" id="view_condition_{{ view_type }}__tags"{% if 'tags' in view %} checked{% endif %}>
            <label for="view_condition_{{ view_type }}__tags">{% trans 'With tags' %}</label>
        </div>
        <div class="field fluid" style="margin-left: 15px;">
            <label for="view_{{ view_type }}__tags_value">&nbsp;</label>
            <input id="view_{{ view_type }}__tags_value" type="text"{% if 'tags' in view %} value="{{ view.tags.0 }}"{% endif %}>
        </div>
        <small style="color: #656565">{% trans 'Enter full names of tags separated by comma' %}</small>
        <div class="ui divider"></div>

        {# Attribute #}
        <input id="view_data_{{ view_type }}__attr" value="list_if_attr" data-list="attr_name__attr_type__attr_value" type="hidden">
        <div class="ui checkbox">
            <input type="checkbox" id="view_condition_{{ view_type }}__attr"{% if 'attr' in view %} checked{% endif %}>
            <label for="view_condition_{{ view_type }}__attr">{% trans 'Attribute' %}</label>
        </div>
        <br><br>
        <div class="inline fields" style="margin-left: 15px;">
            <div class="field">
                <label for="view_{{ view_type }}__attr_name">&nbsp;</label>
                <input id="view_{{ view_type }}__attr_name" type="text"{% if 'attr' in view %} value="{{ view.attr.0 }}"{% endif %} style="width: 15vw;" placeholder="{% trans 'Attribute name' %}">
            </div>
            <div class="field">
                <label for="view_{{ view_type }}__attr_type">&nbsp;</label>
                <select id="view_{{ view_type }}__attr_type" class="ui dropdown">
                    <option value="iexact"{% if 'attr' in view and view.attr.1 == 'iexact' %} selected{% endif %}>{% trans 'is' %}</option>
                    <option value="istartswith"{% if 'attr' in view and view.attr.1 == 'istartswith' %} selected{% endif %}>{% trans 'starts with' %}</option>
                    <option value="iendswith"{% if 'attr' in view and view.attr.1 == 'iendswith' %} selected{% endif %}>{% trans 'ends with' %}</option>
                </select>
            </div>
            <div class="field">
                <label for="view_{{ view_type }}__attr_value">&nbsp;</label>
                <input id="view_{{ view_type }}__attr_value" type="text"{% if 'attr' in view %} value="{{ view.attr.2 }}"{% endif %} style="width: 15vw;" placeholder="{% trans 'Attribute value' %}">
            </div>
        </div>
        <small style="color: #656565">{% trans 'Enter the full name of the attribute' %}, {% trans 'e.g.' %} <i>Linux kernel:Version</i></small>
    {% endif %}
    </div>
</div>
<div class="ui divider"></div>
<div class="ui grid">
    <div class="four wide column"></div>
    <div class="seven wide column center aligned">
        {% include 'viewButtons.html' with view_type=view_type view_id=view_id views=views %}
    </div>
</div>
