{% load i18n %}

<table>
    {% for row in tags %}
        <tr>
        {% for cell in row %}
            {% if cell|value_type == "<class 'str'>" %}
                <td class="line line-{{ cell }}">&nbsp;</td>
            {% elif cell|value_type == "<class 'marks.tags.TagData'>" %}
                <td id="tag_id_{{ cell.id }}" class="mark-tag {{ tags_type }}">{{ cell.name }}{% if can_edit %}<i id="remove_tag_{{ cell.id }}" class="ui icon remove remove-tag-from-mark"></i>{% endif %}</td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
</table>
<input id="tags_type" type="hidden" value="{{ tags_type }}">
<div class="popups">
    {% for row in tags %}
        {% for cell in row %}
            {% if cell|value_type == "<class 'marks.tags.TagData'>" and cell.description != '' %}
                <div id="tag_popup_{{ cell.id }}" class="ui popup" style="min-width: 250px;">
                    <div class="content">{{ cell.description|safe }}</div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>