{% load i18n %}

{% if markdata.type == 'unsafe' %}
    <div class="ui teal segment">
        <h4 class="header ui teal">{% trans 'Error traces comparison function' %}</h4>
        <div class="ui grid">
            <div class="six wide column">
                <label for="compare_function" class="purple-title"></label>
                <select id="compare_function" class="ui dropdown fluid top attached">
                    {% for f in markdata.comparison %}
                        <option value="{{ f.id }}"{% if f.id == markdata.selected_func.id %} selected{% endif %}>{{ f.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="ten wide column">
                <div class="ui teal segment func-description" id="compare_function_description">{{ markdata.selected_func.description }}</div>
                <br>
            </div>
        </div>
    </div>
    <div class="ui blue segment">
        <h4 class="header ui blue">{% trans 'Converted error trace' %}</h4>
        <div class="ui form">
            <label for="mark_error_trace"></label>
            <textarea id="mark_error_trace" rows="15" style="resize:none">{{ error_trace }}</textarea>
        </div>
    </div>

{% endif %}
<div class="ui green segment">
    <div class="ui grid">
        <div class="eight wide column">
            <h4 class="header ui green">{% trans 'Verdict' %}</h4>
            <div style="margin-left: 25px">
                {% for v in markdata.verdicts %}
                    <div class="ui radio checkbox">
                        <input id="selected_verdict__{{ v.value }}" type="radio" name="selected_verdict" value="{{ v.value }}"{% if v.checked %} checked{% endif %}>
                        <label for="selected_verdict__{{ v.value }}" style="color: {{ v.color }}">{{ v.title }}</label>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
        <div class="eight wide column">
            <h4 class="header ui green">{% trans 'Status' %}</h4>
            <div style="margin-left: 25px">
                {% for s in markdata.statuses %}
                    <div class="ui radio checkbox">
                        <input id="selected_status__{{ s.value }}" type="radio" name="selected_status" value="{{ s.value }}"{% if s.checked %} checked{% endif %}>
                        <label for="selected_status__{{ s.value }}" style="color: {{ s.color }}">{{ s.title }}</label>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="ui blue segment">
    <h4 class="header ui blue">{% trans 'Description' %}</h4>
    <div class="ui form">
        <label for="mark_description"></label>
        <textarea id="mark_description" rows="5" style="resize:none">{{ markdata.description }}</textarea>
    </div>
</div>
<div class="ui pink segment">
    <h4 class="header ui pink">{% trans 'Tags' %}</h4>
    {% include 'marks/MarkTags.html' with tags=tags.table available=tags.available selected=tags.selected %}
</div>

{% if markdata.type == 'unsafe' or markdata.type == 'safe' %}
    <div class="ui styled accordion fluid">
        <div class="title">
            <i class="grid layout icon"></i>{% trans 'Attributes' %}
        </div>
        <div class="content">
            <div style="overflow-x:auto;">
                <table class="ui celled compact purple table">
                    <tbody>
                        {% for v in markdata.attributes %}
                            <tr>
                                <th class="collapsing">{{ v.0 }}</th>
                                <td class="collapsing">
                                    <div class="ui small checkbox">
                                        <label for="attr_checkbox__{{ v.0 }}">{{ v.1 }}</label>
                                        <input id="attr_checkbox__{{ v.0 }}" type="checkbox" value="{{ v.0 }}"{% if v.2 %} checked{% endif %}>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}