{% load i18n %}

<div class="ui horizontal segments">
    <div class="ui green segment" style="max-width: 33%">
        <h4 class="header ui green">{% trans 'Status' %}</h4>
        {% for s in markdata.statuses %}
            <div class="ui radio checkbox">
                <input id="selected_status__{{ s.value }}" type="radio" name="selected_status" value="{{ s.value }}"{% if s.checked %} checked{% endif %}>
                <label for="selected_status__{{ s.value }}" style="color: {{ s.color }}">{{ s.title }}</label>
            </div>
            <br>
        {% endfor %}
    </div>
    <div class="ui teal segment" style="max-width: 67%">
        <h4 class="header ui teal">{% trans 'Description' %}</h4>
        <div class="ui form">
            <label for="mark_description"></label>
            <textarea id="mark_description" rows="5" style="resize:none" placeholder="{% trans 'Description' %}">{{ markdata.description }}</textarea>
        </div>
    </div>
</div>
<div class="ui purple segment">
    <div class="ui checkbox">
        <input type="checkbox" id="is_regexp"{% if markdata.unknown_data.3 %} checked{% endif %}>
        <label for="is_regexp">{% trans 'Regular expression' %}</label>
    </div>
    <br><br>
    <label for="unknown_function" class="purple-title">{% trans 'Pattern' %}</label>
    <div class="ui form">
        <textarea id="unknown_function" rows="5" style="resize:none" placeholder="{% trans 'Pattern' %}">{{ markdata.unknown_data.0 }}</textarea>
    </div>
    <br>
    <label for="unknown_problem_pattern" class="purple-title">{% trans 'Problem' %}</label>
    <div class="ui input fluid">
        <input id="unknown_problem_pattern" type="text" value="{{ markdata.unknown_data.1 }}" maxlength="15">
    </div>
    <br>
    <label for="unknown_link" class="purple-title">{% trans 'Link to detailed description' %}</label>
    <div class="ui input fluid">
        <input id="unknown_link" type="url" {% if markdata.unknown_data.2 %}value="{{ markdata.unknown_data.2 }}"{% endif %}>
    </div>
</div>
