{% extends 'bridge/base.html' %}

{% load staticfiles %}

{% block head_block %}
    <script type="text/javascript" src="http://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="{% static 'marks/js/tags-tree.js' %}"></script>
    <style>
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node {
  font: 10px sans-serif;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
</style>
{% endblock %}

{% block body_block %}
    <div class="ui grid">
        <div class="four wide column">
            <div id="tree_container"></div>
        </div>
        <div class="six wide column"></div>
    </div>
{% endblock %}