{% extends 'marks/base.html' %}
{% load i18n %}
{% block title %}{% trans 'Changes in associations of marks with leaf reports' %}{% endblock %}
{% block body_block %}
    {% if MarkTable.values|length %}
        <div style="overflow-x: auto; max-height: 80vh; overflow-y: auto;">
            <table class="ui celled compact pink selectable table alternate-color">
                <thead>
                    {% for column_row in header %}
                        <tr>
                        {% for coldata in column_row %}
                            <th colspan="{{ coldata.columns }}" rowspan="{{ coldata.rows }}">{{ coldata.title }}</th>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for row_data in MarkTable.values %}
                        <tr>
                            {% for v in row_data %}
                                <td class="collapsing">
                                    {% if v.href %}
                                        <a href="{{ v.href }}">{{ v.value }}</a>
                                    {% else %}
                                        <span{% if v.color %} style="color: {{ v.color }}"{% endif %}>{{ v.value|safe }}</span>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {%  endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h1 class="header" style="text-align:center;">{% trans 'No changes in associations of marks with leaf reports' %}</h1>
    {% endif %}
    <br>
    <a href="{% url 'marks:view_mark' MarkTable.mark_type MarkTable.mark_id %}" class="ui green button" style="float: right">{% trans 'Show mark' %}</a>
{% endblock %}
