{% extends 'marks/Mark.html' %}

{% load i18n %}
{% load staticfiles %}

{% block mark_head_block %}
    <script type="text/javascript" src="{% static 'marks/js/viewMark.js' %}"></script>
{% endblock %}

{% block edit_mark_block %}
    {% if markdata.type == 'unknown' %}
        <div class="ui horizontal segments">
            <div class="ui purple segment" style="max-width: 60%;">
                <div class="ui top left attached purple label">{% trans 'Pattern' %}{% if markdata.unknown_data.3 %} (regexp){% endif %}</div>
                <div class="filecontent">{{ markdata.unknown_data.0 }}</div>
            </div>
            <div class="ui purple segment" style="max-width: 20%;">
                <div class="ui top left attached purple label">{% trans 'Problem' %}</div>
                <div>
                {% if markdata.unknown_data.2 %}
                    <a href="{{ markdata.unknown_data.2 }}">{{ markdata.unknown_data.1 }}</a>
                {% else %}
                    <span>{{ markdata.unknown_data.1 }}</span>
                {% endif %}
                </div>
            </div>
            <div class="ui green segment" style="max-width: 20%;">
                <div class="ui top left attached green label">{% trans 'Status' %}</div>
                <div>
                {% for s in markdata.statuses %}
                    {% if s.checked %}<strong style="color: {{ s.color }}">{{ s.title }}</strong>{% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="ui horizontal segments">
            <div class="ui green segment">
                <span class="header ui green"><small>{% trans 'Verdict' %}:</small> </span>
                {% for v in markdata.verdicts %}
                    {% if v.checked %}<strong style="color: {{ v.color }}">{{ v.title }}</strong>{% endif %}
                {% endfor %}
                <div class="ui hidden divider"></div>
                <span class="header ui green"><small>{% trans 'Status' %}:</small> </span>
                {% for s in markdata.statuses %}
                    {% if s.checked %}<strong style="color: {{ s.color }}">{{ s.title }}</strong>{% endif %}
                {% endfor %}
            </div>
            <div class="ui pink segment">
                <h4 class="header ui pink">{% trans 'Tags' %}</h4>
                {% include 'marks/MarkTags.html' with tags=markdata.tags.table available=markdata.tags.available selected=markdata.tags.selected %}
            </div>
        </div>
        {% if markdata.type == 'unsafe' %}
            <div class="ui teal segment">
                <h4 class="header ui teal">{% trans 'Error traces comparison function and converted error trace' %}</h4>
                <div class="ui teal raised segment">
                    <span class="ui teal ribbon label">{{ markdata.selected_func.name }}</span>
                    <p class="func-description">{{ markdata.selected_func.description }}</p>
                    <h5>{{ markdata.selected_func.convert.name }}</h5>
                    <p class="func-description">{{ markdata.selected_func.convert.description }}</p>
                </div>
                <div class="ui teal raised segment">
                    <div class="filecontent" style="max-height:40vh;">{{ markdata.error_trace }}</div>
                </div>
            </div>
        {% endif %}
        <div class="ui styled accordion fluid">
            <div class="title">
                <i class="grid layout icon"></i>{% trans 'Attributes' %}
            </div>
            <div class="content">
                <div style="overflow-x:auto;">
                    <table class="ui celled compact purple table">
                        <tbody>
                            {% for v in markdata.attributes %}
                                <tr>
                                    <th class="collapsing">{{ v.0 }}</th>
                                    <td class="collapsing">
                                        {% if v.2 %}
                                            <i class="ui green small checkmark icon"></i>
                                        {% else %}
                                            <i class="ui red small remove icon"></i>
                                        {% endif %}
                                        {{ v.1 }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
    {% if markdata.description|length > 0 %}
        <div class="ui blue segment">
            <div class="ui blue top left attached label">{% trans 'Description' %}</div>
            <div>{{ markdata.description|safe }}</div>
        </div>
    {% endif %}
{% endblock %}