{% extends 'base.html' %}

{% load i18n %}

{% block body_block %}

    {% if username and password %}
        <h1>{% trans 'A new Manager was created' %}</h1>
        <p>{% trans 'Username' %}: {{ username }}</p>
        <p>{% trans 'Password' %}: {{ password }}</p>
        <p>{% trans 'Please save this data and give it to the user who will be the Manager' %}</p>
    {% else %}
        <h1>{% trans 'Welcome to Omega!' %}</h1>
        <h4>{% trans 'You need to populate the database before start working, please, press the button below' %}</h4>
        <hr>
        <form method="post">
            {% csrf_token %}
            <button type="submit" id="populate_button" class="btn btn-success">{% trans 'Populate' %}</button>
        </form>
    {% endif %}
{% endblock %}
