{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Population' %}{% endblock %}

{% block body_block %}
    {% if population %}
        {% if population.manager_password %}
            <h1>{% trans 'A new Manager was created' %}</h1>
            <p>{% trans 'Username' %}: {{ population.manager_username }}</p>
            <p>{% trans 'Password' %}: {{ population.manager_password }}</p>
            <p>{% trans 'Please save this data and give it to the user who will be the Manager' %}</p>
        {% endif %}
        {% if population.functions_updated %}
            <h1>{% trans 'Error traces conversion and comparison functions were updated' %}</h1>
        {% endif %}
        {% if population.jobs_updated %}
            <h1>{% trans 'New jobs were uploaded' %}</h1>
        {% endif %}
        {% if not population.something_changed %}
            <h1>{% trans 'Nothing changed' %}</h1>
        {% endif %}
    {% else %}
        <h1>{% trans 'Welcome to Omega!' %}</h1>
        <h4>{% trans "Create the Manager with the specified username and jobs of all classes on behalf of that Manager" %}</h4>
        <hr>
        <form method="post">
            {% csrf_token %}
            <label for="manager_username">{% trans 'Manager username' %}</label>
            <input id="manager_username" name="manager_username" type="text">
            <button type="submit" id="populate_button" class="btn btn-success">{% trans 'Populate' %}</button>
        </form>
    {% endif %}
{% endblock %}
