<table class="ui compact table" style="{% if auto %}width:auto;{% endif %}">
    <thead>
        {% for column_row in data.header %}
            <tr class="info">
            {% for coldata in column_row %}
                <th colspan="{{ coldata.columns }}" rowspan="{{ coldata.rows }}">{{ coldata.title }}</th>
            {% endfor %}
            </tr>
        {% endfor %}
    </thead>
    <tbody>
        {% for row_data in data.values %}
            <tr>
                {% for v in row_data %}
                    <td class="text-nowrap">
                        {% if v.href %}
                            <a href="{{ v.href }}">{{ v.value }}</a>
                        {% else %}
                            <span{% if v.color %} style="color:{{ v.color }}"{% endif %}>{{ v.value }}</span>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {%  endfor %}
    </tbody>
</table>
