[Unit]
Description=Celery Beat Service
After=network.target

[Service]
Type=simple
User=vladimir
Group=vladimir
EnvironmentFile=/etc/conf.d/celery
WorkingDirectory=/home/vladimir/klever/bridge
ExecStart=/bin/sh -c '${CELERY_BIN} beat \
  -A ${CELERY_APP} --pidfile=${CELERYBEAT_PID_FILE} \
  --logfile=${CELERYBEAT_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL}'

[Install]
WantedBy=multi-user.target