{% extends 'jobs/base.html' %}

{% load i18n %}

{% block title %}{% trans 'Create Job' %}{% endblock %}

{% block head_block %}
    <script src="/static/jobs/js/notify.min.js"></script>
    <script src="/static/jobs/js/jquery.treegrid.js"></script>
    <script src="/static/jobs/js/common.js"></script>
    <script src="/static/jobs/js/editjob.js"></script>
    <link href="/static/jobs/css/style.css" rel="stylesheet">
    <link href="/static/jobs/css/jquery.treegrid.css" rel="stylesheet">
{% endblock %}

{% block body_block %}
    <div id="create_job_global_div">
        {% include "jobs/editJob.html" %}
    </div>
{% endblock %}
