{% extends 'jobs/base.html' %}

{% load i18n %}

{% block title %}{% trans 'Create Job' %}{% endblock %}

{% block body_block %}
    <div class="row">
    <div class="col-md-4">
        <p>Type: {{ parent_job. }}</p>
    </div>
    <div class="col-md-8">

    </div>
    </div>
    <form method="post" action="{% url 'jobs:create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ job_form.as_p }}
    {{ file_form.as_p }}
    <button type="submit" class="btn btn-primary">{% trans 'Create' %}</button>
    </form>
{% endblock %}
