{% load i18n %}

<form id="edit_job_form" autocomplete="off" onsubmit="return false">

    {% if job.id %}
        <input id="job_id_input" type="hidden" value="{{ job.id }}">
    {% endif %}

    {% if job_versions|length %}
        <label for="job_version_selector" class="show-job-title">{% trans 'You can choose one of the previous versions' %}</label>
        <select id="job_version_selector" class="form-control">
            {% for jv in job_versions %}
                <option title="{{ jv.comment }}" value="{{ jv.version }}"{% if jv.version == version %} selected{% endif %}>{{ jv.title }}</option>
            {% endfor %}
        </select>
        <label class="show-job-title">{% trans 'or change the job' %}:</label>
        <br>
    {% endif %} 

    <label style="width: 100%;">
        {% trans 'Title' %}:<input class="form-control" id="job_title" type="text" value="{{ job.name }}">
    </label>

    {% if job_versions|length %}
        <label for="job_parent_identifier">{% trans 'Parent identifier' %}:</label>
        <input class="form-control" id="job_parent_identifier" type="text"{% if job.parent_id %} value="{{ job.parent_id }}"{% endif %}>
    {% else %}
        {% if job.parent_id %}
            <input id="job_parent_identifier" type="hidden" value="{{ job.parent_id }}">
        {% endif %}
    {% endif %}


    <label style="width: 100%;">
        {% trans 'Description' %}:<textarea id="job_description" class="form-control" style="resize: none" placeholder="{% trans 'Description' %}">{{ job.description }}</textarea>
    </label>

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-inline">
                        <label for="job_global_roles">{% trans 'Role for all users' %}:</label><br>
                        <select id="job_global_roles" class="form-control">
                            {% for jr in roles.job_roles %}
                                <option value="{{ jr.value }}"{% if roles.global == jr.value %} selected{% endif %} >{{ jr.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="job_user_role_div" class="form-inline">
                        <label for="job_available_users">{% trans 'Add role to user' %}:</label><br>
                        <select id="job_available_users" class="form-control">
                            {% for au in roles.available_users %}
                                <option value="{{ au.id }}">{{ au.name }}</option>
                            {% endfor %}
                        </select>
                        <button id="add_user_for_role" class="btn btn-primary">{% trans 'Add' %}</button>
                    </div>
                </div>
            </div>
            <br>
            <table class="table" id="all_user_roles">
                {% for ur in roles.user_roles %}
                    <tr id="job_user_role__{{ ur.user.id }}">
                        <td>
                            <label for="job_user_role_select__{{ ur.user.id }}">{{ ur.user.name }}</label>
                        </td>
                        <td>
                            <select id="job_user_role_select__{{ ur.user.id }}" class="form-control">
                                {% for jr in roles.job_roles %}
                                    <option value="{{ jr.value }}"{% if ur.role.val == jr.value %} selected{% endif %}>{{ jr.title }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <button id="remove_user_role__{{ ur.user.id }}" class="btn-close-x"><span class="glyphicon glyphicon-remove"></span></button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </li>
    </ul>
    <label style="width: 100%;">{% trans 'Configuration' %}:<textarea id="job_config" class="form-control" style="resize: none" placeholder="{% trans 'Configuration' %}">{{ job.configuration }}</textarea></label>
    <h4>{% trans 'Files' %}</h4>
    {% include 'jobs/filesTree.html' %}
    <hr>
    {% if job_versions|length %}
        <label style="width: 100%;">{% trans "Change's comment" %}:<input id="job_comment" type="text" class="form-control" placeholder="{% trans 'Comment' %}"></label>
    {% endif %}
    <button id="save_job_btn" type="submit" class="btn btn-success">{% trans 'Save' %}</button>
    {% if job_versions|length %}
        <button id="cancel_edit_job_btn" class="btn btn-primary" style="float: right">{% trans 'Cancel' %}</button>
    {% endif %}
</form>

<!-- Templates for jQuery -->
<div id="template__user_role" hidden>
    <label for="job_user_role_select__"></label>
    <select id="job_user_role_select__" class="form-control">
        {% for jr in roles.job_roles %}
            <option value="{{ jr.value }}">{{ jr.title }}</option>
        {% endfor %}
    </select>
    <button id="remove_user_role__" class="btn-close-x"><span class="glyphicon glyphicon-remove"></span></button>
</div>
<div id="comment_required_div" hidden>{% trans "Change's comment is required" %}</div>
<div id="title_required_div" hidden>{% trans 'Title is required' %}</div>
