<form id="edit_job_form" autocomplete="off" onsubmit="return false">

    {% if job.id %}
        <input id="job_id_input" type="hidden" value="{{ job.id }}">
    {% endif %}

    {% if job_versions|length %}
        <label for="job_version_selector" class="show-job-title">You can choose old Verification Job version</label>
        <select id="job_version_selector" class="form-control">
            {% for jv in job_versions %}
                <option value="{{ jv.version }}"{% if jv.version == version %} selected{% endif %} >{{ jv.title }}</option>
            {% endfor %}
        </select>
        <label class="show-job-title">or change it:</label>
        <br>
    {% endif %} 

    <label style="width: 100%;">
        Title: <input class="form-control" id="job_title" type="text" value="{{ job.name }}">
    </label>

    {% if job.parent_id %}
        <br><label>Parent identifier:</label>
        <span style="color: #15c46b"> {{ job.parent_id }}</span>
        <input id="job_parent_identifier" type="hidden" value="{{ job.parent_id }}">
    {% endif %}

    <label style="width: 100%;">
        Comment: <textarea id="job_comment" class="form-control" style="resize: none" placeholder="Comment">{{ job.comment }}</textarea>
    </label>

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-inline">
                        <label for="job_global_roles">Global roles:</label><br>
                        <select id="job_global_roles" class="form-control">
                            {% for jr in roles.job_roles %}
                                <option value="{{ jr.value }}"{% if roles.global == jr.value %} selected{% endif %} >
                                    {{ jr.title }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    {% if roles.available_users|length > 0 %}
                        <div id="job_user_role_div" class="form-inline">
                            <label for="job_available_users">Add role to user:</label><br>
                            <select id="job_available_users" class="form-control">
                                {% for au in roles.available_users %}
                                    <option value="{{ au.id }}">{{ au.name }}</option>
                                {% endfor %}
                            </select>
                            <button id="add_user_for_role" class="btn btn-primary">Add</button>
                        </div>
                    {% endif %}
                </div>
            </div>
            <br>
            <table class="table" id="all_user_roles">
                {% for ur in roles.user_roles %}
                    <tr id="job_user_role__{{ ur.user.id }}">
                        <td>
                            <label for="job_user_role_select__{{ ur.user.id }}">{{ ur.user.name }}</label>
                        </td>
                        <td>
                            <select id="job_user_role_select__{{ ur.user.id }}" class="form-control">
                                {% for jr in roles.job_roles %}
                                    <option value="{{ jr.value }}"{% if ur.role.val == jr.value %} selected{% endif %}>{{ jr.title }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <button id="remove_user_role__{{ ur.user.id }}" class="btn-close-x">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </li>
    </ul>

    <label style="width: 100%;">Configuration: <textarea id="job_config" class="form-control" style="resize: none" placeholder="Comment">{{ job.configuration }}</textarea></label>
    <hr>
    <button id="save_job_btn" class="btn btn-success">Save</button>
    {% if job_versions|length %}
        <button id="cancel_edit_job_btn" class="btn btn-primary" style="float: right">Cancel</button>
    {% endif %}

</form>

<!-- Templates for jQuery -->
<div id="template__user_role" hidden>
    <label for="job_user_role_select__"></label>
    <select id="job_user_role_select__" class="form-control">
        {% for jr in roles.job_roles %}
            <option value="{{ jr.value }}">{{ jr.title }}</option>
        {% endfor %}
    </select>
    <button id="remove_user_role__" class="btn-close-x">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>
