{% load i18n %}

<table id="file_tree_table" class="ui compact teal table tree attached">
    <tbody>
    {% for f in filedata %}
        <tr id="filerow__{{ f.type }}__{{ f.id }}" class="treegrid-{{ f.id }}{% if f.parent %} treegrid-parent-{{ f.parent }}{% endif %}"{% if f.type == 0 %} style="background: #a3edef;"{% endif %}>
            <td class="one wide right aligned">
                <div class="ui radio checkbox">
                    <label for="selected_filerow__{{ f.type }}__{{ f.id }}"></label>
                    <input id="selected_filerow__{{ f.type }}__{{ f.id }}" type="radio" name="selected_filerow" value="{{ f.type }}__{{ f.id }}">
                </div>
            </td>
            <td>
                <span id="file_title__{{ f.type }}__{{ f.id }}">{% if f.type == 1 %}<a href="{% url 'jobs:download_file' f.id %}">{{ f.title }}</a>{% else %}{{ f.title }}{% endif %}</span>
                {% if f.type == 1 %}<span id="file_hash_sum__{{ f.type }}__{{ f.id }}" hidden>{{ f.hash_sum }}</span>{% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="ui tiny buttons bottom attached fluid">
    <button id="new_folder_btn" type="button" class="ui brown button">{% trans 'New folder' %}</button>
    <button id="new_file_btn" type="button" class="ui olive button">{% trans 'New file' %}</button>
    <button id="rename_file_btn" type="button" class="ui pink button">{% trans 'Rename' %}</button>
{% if job_id %}
</div>
<div class="ui tiny buttons bottom attached fluid">
{% endif %}
    <button id="move_file_btn" type="button" class="ui blue button">{% trans 'Move file' %}</button>
    <button id="replace_file_btn" type="button" class="ui orange button">{% trans 'Replace file' %}</button>
    <button id="remove_obj_btn" type="button" class="ui red button">{% trans 'Delete' %}</button>
</div>
<div id="files_for_upload" hidden></div>
<div id="edit_files_form"></div>

<div id="new_folder_modal" class="ui small dinamic modal">
    <div class="ui header">{% trans 'New folder' %}</div>
    <div class="content">
        <div class="ui grid">
            <div class="eight wide column">
                <label for="new_folder_name"><strong>{% trans 'Folder Name' %}</strong></label>
                <div class="ui input fluid">
                    <input id="new_folder_name" type="text" class="ui ">
                </div>
            </div>
            <div class="eight wide column">
                <label for="new_folder_parent"><strong>{% trans 'Subfolder of' %}</strong></label>
                <select id="new_folder_parent" class="ui dropdown fluid">
                    <option value="root">{% trans 'Root' %}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui grid">
            <div class="eight wide column left aligned">
                <button type="button" class="ui violet button clear-modal">{% trans 'Cancel' %}</button>
            </div>
            <div class="eight wide column right aligned">
                <button id="create_new_folder_btn" type="button" class="ui brown button">{% trans 'Create' %}</button>
            </div>
        </div>
    </div>
</div>

<div id="rename_modal" class="ui small dinamic modal">
    <div class="ui header">{% trans 'New folder' %}</div>
    <div class="content">
        <div class="ui grid">
            <div class="six wide column">
                <label for="object_name"><strong>{% trans 'New name' %}</strong></label>
                <div class="ui input fluid"><input id="object_name" type="text"></div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui grid">
            <div class="eight wide column left aligned">
                <button type="button" class="ui violet button clear-modal">{% trans 'Cancel' %}</button>
            </div>
            <div class="eight wide column right aligned">
                <button id="change_name_btn" type="button" class="ui pink button">{% trans 'Rename' %}</button>
            </div>
        </div>
    </div>
</div>

<div id="move_file_modal" class="ui small dinamic modal">
    <div class="ui header">{% trans 'Move' %} '<span id="moving_object_title"></span>'  {% trans 'to' %}</div>
    <div class="content">
        <label for="move_object_parent"></label>
        <div class="ui grid">
            <div class="eight wide column">
                <select id="move_object_parent" class="ui dropdown fluid">
                    <option value="root">{% trans 'Root' %}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui grid">
            <div class="eight wide column left aligned">
                <button type="button" class="ui violet button clear-modal">{% trans 'Cancel' %}</button>
            </div>
            <div class="eight wide column right aligned">
                <button id="move_obj_btn" type="button" class="ui blue button">{% trans 'Move' %}</button>
            </div>
        </div>
    </div>
</div>

<div id="remove_object_modal" class="ui small dinamic modal">
    <div class="ui header">"<span id="remove_object_title"></span>"  {% trans 'will be deleted. Do you want to continue?' %}</div>
    <div class="actions">
        <div class="ui grid">
            <div class="eight wide column left aligned">
                <button type="button" class="ui violet button clear-modal">{% trans 'Cancel' %}</button>
            </div>
            <div class="eight wide column right aligned">
                <button id="remove_object_btn" type="button" class="ui red button">{% trans 'Delete' %}</button>
            </div>
        </div>
    </div>
</div>

<div id="new_file_modal" class="ui small dinamic modal">
    <div class="ui header">{% trans 'New file' %}</div>
    <div class="content">
        <div class="ui grid">
            <div class="three wide column">
                <br>
                <span id="new_file_input_btn" class="ui violet button btn-file">{% trans 'Browse' %}<input id="new_file_input" type="file"></span>
            </div>
            <div class="seven wide column">
                <label for="new_file_name"><strong>{% trans 'Name' %}</strong></label>
                <div class="ui input fluid">
                    <input id="new_file_name" type="text">
                </div>
            </div>
            <div class="six wide column">
                <label for="new_file_parent"><strong>{% trans 'Upload to folder' %}</strong></label>
                <select id="new_file_parent" class="ui dropdown fluid">
                    <option value="root">{% trans 'Root' %}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui grid">
            <div class="eight wide column left aligned">
                <button type="button" class="ui violet button clear-modal">{% trans 'Cancel' %}</button>
            </div>
            <div class="eight wide column right aligned">
                <button id="save_new_file_btn" type="button" class="ui olive button">{% trans 'Add' %}</button>
            </div>
        </div>
    </div>
</div>

<div id="replace_file_modal" class="ui small dinamic modal">
    <div class="ui header">{% trans 'Replace' %} "<span id="replaced_file_name"></span>"</div>
    <div class="content">
        <div class="ui grid">
            <div class="ten wide column right aligned">
                <label for="new_file_name"></label>
                <div class="ui action input">
                    <div class="ui input">
                        <input id="replace_file_name" type="text" placeholder="{% trans 'Name' %}">
                    </div>
                    <span id="replace_file_input_btn" class="ui violet button btn-file">{% trans 'Browse' %}<input id="replace_file_input" type="file"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui grid">
            <div class="eight wide column left aligned">
                <button type="button" class="ui violet button clear-modal">{% trans 'Cancel' %}</button>
            </div>
            <div class="eight wide column right aligned">
                <button id="replace_file_confirm" type="button" class="ui orange button">{% trans 'Replace' %}</button>
            </div>
        </div>
    </div>
</div>

<div id="file_content_modal" class="ui small dinamic large modal">
    <div class="content">
        <div class="ui grid">
            <div class="two wide column left aligned">
                <button id="download_file_form_view" class="ui icon olive button"><i class="download icon"></i></button>
            </div>
            <div class="twelve wide column ui header center aligned" id="file_content_name"></div>
            <div class="two wide column right aligned">
                <button id="close_file_view" class="ui icon red button"><i class="remove icon"></i></button>
            </div>
        </div>
        <div class="filecontent ui olive segment" id="file_content" style="height: 700px;"></div>
    </div>
</div>

<span id="error__name_required" hidden>{% trans 'Name is required' %}</span>
<span id="error__file_not_uploaded" hidden>{% trans 'One of the files was not uploaded' %}</span>
<span id="error__cant_replace_folder" hidden>{% trans "The folder can't be replaced with the file" %}</span>
<span id="error__noselected_replace" hidden>{% trans "Choose the file you want to replace" %}</span>
<span id="error__cant_move_dir" hidden>{% trans "You can't move folder, please choose the file you want to move" %}</span>
<span id="error__cant_move_file" hidden>{% trans "Please choose the file you want to move" %}</span>
<span id="error__nofile_selected" hidden>{% trans "Please choose the file" %}</span>
<span id="error__noobj_to_rename" hidden>{% trans "Please choose the file or folder you want to rename" %}</span>
<span id="error__noobj_to_delete" hidden>{% trans "Please choose the file or folder you want to delete" %}</span>
<span id="error__filename_not_ascii" hidden>{% trans "Names with non-ASCII characters must be less than 30 characters" %}</span>
