{% load i18n %}

<table id="file_tree_table" class="table tree table-fixed" style="width:400px;">
    <tbody>
    {% for f in filedata %}
        <tr id="filerow__{{ f.type }}__{{ f.id }}" class="treegrid-{{ f.id }}{% if f.parent %} treegrid-parent-{{ f.parent }}{% endif %}{% if f.type == 0 %} success{% endif %}">
            <td class="col-sm-1"><label><input id="selected_filerow__{{ f.type }}__{{ f.id }}" type="radio" name="selected_filerow" value="{{ f.type }}__{{ f.id }}"></label></td>
            <td>
                <span id="file_title__{{ f.type }}__{{ f.id }}">{% if f.type == 1 %}<a href="{% url 'jobs:download_file' f.id %}">{{ f.title }}</a>{% else %}{{ f.title }}{% endif %}</span>
                {% if f.type == 1 %}<span id="file_hash_sum__{{ f.type }}__{{ f.id }}" hidden>{{ f.hash_sum }}</span>{% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="btn-group">
    <button id="new_folder_btn" type="button" class="btn btn-info">{% trans 'New folder' %}</button>
    <button id="new_file_btn" type="button" class="btn btn-info">{% trans 'New file' %}</button>
    <button id="rename_file_btn" type="button" class="btn btn-primary">{% trans 'Rename' %}</button>
    <button id="move_file_btn" type="button" class="btn btn-primary">{% trans 'Move file' %}</button>
    <button id="replace_file_btn" type="button" class="btn btn-warning">{% trans 'Replace file' %}</button>
    <button id="remove_file_btn" type="button" class="btn btn-danger">{% trans 'Delete' %}</button>
</div>
<div id="files_for_upload" hidden></div>
<div id="edit_files_form"></div>

<div id="new_folder_template" hidden>
    <hr>
    <label for="new_folder_name">{% trans 'Folder name' %}</label>
        <input id="tmp___new_folder_name" type="text" class="form-control" placeholder="{% trans 'Name' %}">
    <br>
    <label for="tmp___new_folder_parent">{% trans 'Subfolder of' %}</label>
    <select id="tmp___new_folder_parent" class="form-control">
        <option value="root">{% trans 'Root' %}</option>
    </select>
    <br>
    <button id="tmp___create_new_folder_btn" type="button" class="btn btn-success">{% trans 'Create' %}</button>
    <button id="tmp___clear_file_form" style="float: right" type="button" class="btn btn-primary">{% trans 'Cancel' %}</button>
</div>
<div id="rename_template" hidden>
    <hr>
    <label for="tmp___object_name">{% trans 'New name' %}</label>
    <input id="tmp___object_name" type="text" class="form-control">
    <br>
    <button id="tmp___change_name_btn" type="button" class="btn btn-success">{% trans 'Rename' %}</button>
    <button id="tmp___clear_file_form" style="float: right" type="button" class="btn btn-primary">{% trans 'Cancel' %}</button>
</div>
<div id="move_object_template" hidden>
    <hr>
    <label for="tmp___move_object_parent">{% trans 'Move' %} '<span id="tmp___moving_object_title"></span>' {% trans 'to' %}</label>
    <select id="tmp___move_object_parent" class="form-control">
        <option value="root">{% trans 'Root' %}</option>
    </select>
    <br>
    <button id="tmp___move_obj_btn" type="button" class="btn btn-success">{% trans 'Move' %}</button>
    <button id="tmp___clear_file_form" style="float: right" type="button" class="btn btn-primary">{% trans 'Cancel' %}</button>
</div>
<div id="remove_object_template" hidden>
    <hr>
    <p>"<span id="tmp___remove_object_title"></span>" {% trans 'will be deleted. Do you want to continue?' %}</p>
    <button id="tmp___remove_object_btn" class="btn btn-warning" type="button">{% trans 'Delete' %}</button>
    <button id="tmp___clear_file_form" style="float: right" type="button" class="btn btn-primary">{% trans 'Cancel' %}</button>
</div>
<div id="new_file_template" hidden>
    <hr>
    <span class="btn btn-warning btn-file">{% trans 'Browse' %}<input id="tmp___new_file_input" type="file"></span>
    <br><br>
    <label for="tmp___new_file_name">{% trans 'Name' %}</label>
    <input id="tmp___new_file_name" type="text" class="form-control">
    <br>
    <label for="tmp___new_file_parent">{% trans 'Upload to folder' %}</label>
    <select id="tmp___new_file_parent" class="form-control">
        <option value="root">{% trans 'Root' %}</option>
    </select>
    <br>
    <button id="tmp___save_new_file_btn" class="btn btn-success" type="button">{% trans 'Add' %}</button>
    <button id="tmp___clear_file_form" style="float: right" type="button" class="btn btn-primary">{% trans 'Cancel' %}</button>
</div>
<div id="replace_file_template" hidden>
    <hr>
    <span class="btn btn-warning btn-file">{% trans 'Browse' %}<input id="tmp___new_file_input" type="file"></span>
    <br><br>
    <label for="tmp___new_file_name">{% trans 'Name' %}</label>
    <input id="tmp___new_file_name" type="text" class="form-control">
    <br>
    <button id="tmp___save_new_file_btn" class="btn btn-success" type="button">{% trans 'Replace' %}</button>
    <button id="tmp___clear_file_form" style="float: right" type="button" class="btn btn-primary">{% trans 'Cancel' %}</button>
</div>

<div id="file_content_div" class="file-view-div">
    <button id="close_file_view" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
    <button id="download_file_form_view" class="btn btn-success"><span class="glyphicon glyphicon-download"></span></button>
    <div></div>
</div>
<span id="error__name_required" hidden>{% trans 'Name is required' %}</span>
<span id="error__file_not_uploaded" hidden>{% trans 'One of the files was not uploaded' %}</span>
<span id="error__cant_replace_folder" hidden>{% trans "The folder can't be replaced with the file" %}</span>
<span id="error__noselected_replace" hidden>{% trans "Choose the file you want to replace" %}</span>