{% load i18n %}

{% include 'jobs/viewJobFilters.html' %}
<div class="row">
    {% if reportdata.view_data.unsafes|length %}
        <div class="col-sm-6">
            <span class="purple-title"><b>{% trans 'Unsafes' %}: </b></span>
            <ul>
                {% for v in reportdata.view_data.unsafes %}
                    <li><span style="color:{{ v.color }};">{{ v.title }}: </span><a href="#">{{ v.value }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if reportdata.view_data.safes|length %}
        <div class="col-sm-6">
            <span class="purple-title"><b>{% trans 'Safes' %}:</b></span>
            <ul>
                {% for v in reportdata.view_data.safes %}
                    <li><span style="color:{{ v.color }};">{{ v.title }}: </span><a href="#">{{ v.value }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>

{% if reportdata.view_data.unknowns|length %}
    <span class="purple-title"><b>{% trans 'Unknowns' %}</b></span>
    {% if reportdata.unknowns_total %}(<a href="#">{{ reportdata.unknowns_total }}</a>){% endif %}
    <ul>
        {% for comp in reportdata.view_data.unknowns %}
            <li>{{ comp.component }}</li>
            <ul>
            {% for probl in comp.problems %}
                <li>{{ probl.problem }}: <a href="#">{{ probl.num }}</a></li>
            {% endfor %}
            </ul>
        {% endfor %}

    </ul>
{% endif %}

{% if reportdata.view_data.resources|length %}
    <span id="resource_title_span" class="purple-title"><b>{% trans 'Resources' %}*</b></span>
    <ul>
        {% for res_data in reportdata.view_data.resources %}
            <li>{{ res_data.component }}: <span style="color: darkblue">{{ res_data.val }}</span></li>
        {% endfor %}
    </ul>
{% endif %}

{% if reportdata.show_tags %}
    {% if reportdata.view_data.tags_unsafe|length or reportdata.view_data.tags_safe|length %}
        <br><span class="purple-title"><b>{% trans 'Tags' %}</b></span>
        <div class="row">
            {% if reportdata.view_data.tags_unsafe|length %}
                <div class="col-sm-6">
                    <span class="purple-title"><small>{% trans 'Unsafe' %}: </small></span>
                    <ul>
                        {% for t in reportdata.view_data.tags_unsafe %}
                            <li><span>{{ t.name }}: </span><a href="{{ t.href }}">{{ t.number }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if reportdata.view_data.tags_safe|length %}
                <div class="col-sm-6">
                    <span class="purple-title"><small>{% trans 'Safe' %}: </small></span>
                    <ul>
                        {% for t in reportdata.view_data.tags_safe %}
                            <li><span>{{ t.name }}: </span><a href="{{ t.href }}">{{ t.number }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endif %}

<div id="resource_star_div">
    <hr>
    <small style="color: #868686">*{% trans "Resources (wall time, CPU time and maximum memory) are shown for each component and totally" %}</small>
</div>