{% load i18n %}

{% if description|length %}
    <div class="ui violet segment">
        <div class="ui top left attached violet large label">{% trans 'Description' %}</div>
        {{ description|safe }}
    </div>
{% endif %}
{% if job.parent_id %}
    <div class="ui green segment">
        <div class="ui top left attached green large label">{% trans 'Parent identifier' %}</div>
        <p>{{ job.parent.identifier }}</p>
    </div>
{% endif %}
{% if filedata|length %}
    <div class="ui teal segment">
        <div class="ui top left attached teal large label">{% trans 'Files' %}</div>
        <div>
            {% include 'jobs/viewFileTable.html' %}
        </div>
    </div>
{% endif %}
