{% load i18n %}

{% if description|length %}
    <div class="ui violet segment">
        <h4 class="header ui violet">{% trans 'Description' %}</h4>
        {{ description|safe }}
    </div>
{% endif %}
{% if job.parent_id %}
    <div class="ui green segment">
        <h4 class="header ui green">{% trans 'Parent identifier' %}</h4>
        <p>{{ job.parent.identifier }}</p>
    </div>
{% endif %}
{% if filedata|length %}
    <div class="ui teal segment">
        <h4 class="header ui teal">{% trans 'Files' %}</h4>
        {% include 'jobs/viewFileTable.html' %}
    </div>
{% endif %}
