{% load i18n %}

{% load tz %}

{% if TableData.values|length %}
    {% timezone user.extended.timezone %}
    <table class="ui celled striped compact teal table tree">
        <thead>
            {% for column_row in TableData.header %}
                <tr>
                {% for coldata in column_row %}
                    <th style="background: #cafdff" colspan="{{ coldata.columns }}" rowspan="{{ coldata.rows }}">{{ coldata.title }}</th>
                {% endfor %}
                </tr>
            {% endfor %}
        </thead>
        <tbody>
            {% for row_data in TableData.values %}
                <tr class="treegrid-{{ row_data.id }}{% if row_data.parent %} treegrid-parent-{{ row_data.parent }}{% endif %}"
                    style="{% if TableData.counter.dark %}background: #e8f9fe;{% endif %}{% if row_data.black %}color: silver;{% endif %}">
                <td id="value__{{ row_data.id }}">
                    <div class="ui checkbox">
                        <input type="checkbox" id="job_checkbox__{{ row_data.id }}">
                        <label for="job_checkbox__{{ row_data.id }}"></label>
                    </div>
                </td>
                {% for v in row_data.values %}
                    <td id="value__{{ v.id }}__{{ row_data.id }}" class="collapsing">
                        {% if v.href %}
                            <a href="{{ v.href }}">{{ v.value }}</a>
                        {% else %}
                            <span>{{ v.value }}</span>
                        {% endif %}
                    </td>
                {% endfor %}
                <span hidden>{{ TableData.counter.increment }}</span>
                </tr>
            {%  endfor %}
        </tbody>
    {% if TableData.footer|length %}
        <tr style="background: #cafdff">
            <th class="right aligned" colspan="{{ TableData.footer_title_length }}">{% trans 'All' %}</th>
            {% for fc in TableData.footer %}
                <td id="all__{{ fc }}">-</td>
            {% endfor %}
        </tr>
        <tr style="background: #cafdff">
            <th class="right aligned" colspan="{{ TableData.footer_title_length }}">{% trans 'All for checked' %}</th>
            {% for fc in TableData.footer %}
                <td id="checked__{{ fc }}">-</td>
            {% endfor %}
        </tr>
    {% endif %}
    </table>
    {% endtimezone %}
{% else %}
    <h1>{% trans 'There are no jobs, please, populate them' %}</h1>
{% endif %}