{% extends 'jobs/base.html' %}

{% load i18n %}

{% load tz %}

{% block jobs_head_block %}<script src="/static/jobs/js/editjob.js"></script>{% endblock %}

{% block title %}{% trans 'Job' %}{% endblock %}

{% block body_block %}
    {% if job %}
    <div class="row">
        <div class="col-sm-5">
            <div class="form-inline">
                <div class="btn-group" role="group">
                    {% if can_create %}<button id="copy_job_btn" class="btn btn-info">{% trans 'Make copy' %}</button>{% endif %}
                    <button id="load_job_btn" class="btn btn-success">{% trans 'Download' %}</button>
                    {% if user.extended.role == '2' and job.status == '1' %}
                        <button id="stop_job_btn" class="btn btn-warning">{% trans 'Stop decision' %}</button>
                    {% endif %}
                    {% if can_edit %}
                        <button id="edit_job_btn" class="btn btn-primary">{% trans 'Edit' %}</button>
                        <button id="edit_versions" class="btn btn-warning">{% trans 'Delete versions' %}</button>
                    {% endif %}
                    {% if can_delete %}<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#remove_job_popup">{% trans 'Delete' %}</button>{% endif %}
                </div>
                <span id="job_pk" hidden>{{ job.pk }}</span>
            </div>

            <h4><span class="show-job-name purple-title"><ins>{{ job.name }}</ins></span></h4>

            <span class="purple-title">{% trans 'Class' %}:</span> {{ job.get_type_display }}
            <br>
            <span class="purple-title">{% trans 'Format' %}: </span> {{ job.format }}
            <br>
            <span class="purple-title">{% trans 'Identifier' %}:</span> <span style="color: #15c46b">{{ job.identifier }}</span>
            {% if created_by %}
                <br><span class="purple-title">{% trans 'Created by' %}: </span>
            <a href="{% url 'users:show_profile' created_by.pk %}">{{ created_by.extended.last_name }} {{ created_by.extended.first_name }}</a>
            {% endif %}
            <br>
            {% if parents %}
                <span class="purple-title">{% trans 'Parents' %}</span>
                {% for parent in parents %}
                    <ul><li>
                    {% if parent.pk %}
                        <a href="{% url 'jobs:job' parent.pk %}">{{ parent.name }}</a>
                    {% else %}
                        <ins>{{ parent.name }}</ins>
                    {% endif %}
                {% endfor %}
                {% for parent in parents %}
                    </li></ul>
                {% endfor %}
            {% endif %}

            {% if children %}
                <span class="purple-title">{% trans 'Children' %}</span>
                <ul>
                {% for child in children %}
                    <li>
                        {% if child.pk %}
                            <a href="{% url 'jobs:job' child.pk %}">{{ child.name }}</a>
                        {% else %}
                            <span><ins>{{ child.name }}</ins></span>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}

            <span class="purple-title">{% trans 'Last change' %}</span>
            <br>
            {% if job.change_author %}
                <span class="green-subtitle">{% trans 'Author' %}: </span><a href="{% url 'users:show_profile' job.change_author.pk %}">{{ job.change_author.extended.last_name }} {{ job.change_author.extended.first_name }}</a>
                <br>
            {% endif %}

            <span class="green-subtitle">{% trans 'Date' %}: </span>
            {% timezone user.extended.timezone %}
                {{ job.change_date|date:'d.m.y H:i:s' }}
            {% endtimezone %}
            {% if comment|length %}
                <br>
                <span class="green-subtitle">{% trans 'Comment' %}:</span> <small>"{{ comment }}"</small><br>
            {% endif %}
            <br>
            <span class="purple-title">{% trans 'Decision status' %}: </span>
            {% if reportdata %}
                <a href="{% url 'reports:component' job.pk reportdata.report.pk %}">{{ job.get_status_display }}</a>
            {% else %}
                <ins>{{ job.get_status_display }}</ins>
            {% endif %}
            {% if reportdata %}
                {% include 'jobs/jobData.html' %}
            {% endif %}
        </div>
        <div id="edit_job_div" class="col-sm-7"></div>
    </div>
        {% if can_delete %}
            <div id="remove_job_popup" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{% trans 'Are you sure' %}?</h4>
                        </div>
                        <div class="modal-body">
                            <p>{% trans 'All versions and all data of this job will be deleted' %}</p>
                        </div>
                        <div class="modal-footer">
                            <button id="remove_job_btn" type="button" class="btn btn-warning" style="float: left;" data-dismiss="modal">{% trans 'Delete' %}</button>
                            <button type="button" class="btn btn-info" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
