{% extends 'jobs/base.html' %}

{% load i18n %}

{% load tz %}

{% block head_block %}
    <script src="/static/jobs/js/notify.min.js"></script>
    <script src="/static/jobs/js/jquery.treegrid.js"></script>
    <script src="/static/jobs/js/common.js"></script>
    <script src="/static/jobs/js/editjob.js"></script>
    <link href="/static/jobs/css/style.css" rel="stylesheet">
    <link href="/static/jobs/css/jquery.treegrid.css" rel="stylesheet">
{% endblock %}

{% block title %}{% trans 'Verification Job' %}{% endblock %}

{% block body_block %}
    {% if job %}
    <div class="row">
        <div class="col-sm-5">
            <div class="form-inline">
                <div class="btn-group" role="group">
                    {% if can_create %}<button id="copy_job__{{ job.pk }}" class="btn btn-info">{% trans 'Make copy' %}</button>{% endif %}
                    <button id="load_job__{{ job.pk }}" class="btn btn-success">{% trans 'Download' %}</button>
                    {% if can_delete %}<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#remove_job_popup">{% trans 'Remove' %}</button>{% endif %}
                </div>
                <span id="job_pk" hidden>{{ job.pk }}</span>
            </div>

            <h4><span class="show-job-name show-job-title"><ins>{{ job.name }}</ins></span></h4>

            <span class="show-job-title">{% trans 'Type' %}:</span> {{ job.get_type_display }}
            <br>
            <span class="show-job-title">{% trans 'ID' %}:</span> <span style="color: #15c46b">{{ job.identifier }}</span>
            <br><span class="show-job-title">{% trans 'Created by' %}: </span>
            <a href="{% url 'users:show_profile' created_by.pk %}">{{ created_by.extended.last_name }} {{ created_by.extended.first_name }}</a>
            <br>
            {% if parents %}
                <span class="show-job-title">{% trans 'Job parents' %}:</span>
                {% for parent in parents %}
                    <ul><li>
                    {% if parent.pk %}
                        <a href="{% url 'jobs:job' parent.pk %}">{{ parent.name }}</a>
                    {% else %}
                        <ins>{{ parent.name }}</ins>
                    {% endif %}
                {% endfor %}
                {% for parent in parents %}
                    </li></ul>
                {% endfor %}
            {% endif %}

            {% if children %}
                <span class="show-job-title">{% trans 'Job children' %}:</span>
                <ul>
                {% for child in children %}
                    <li>
                        {% if child.pk %}
                            <a href="{% url 'jobs:job' child.pk %}">{{ child.name }}</a>
                        {% else %}
                            <span><ins>{{ child.name }}</ins></span>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}

            <span class="show-job-title">{% trans 'Last change' %}: </span>
            <br>
            <span class="job-subtitle">{% trans 'Author' %}: </span><a href="{% url 'users:show_profile' job.change_author.pk %}">{{ job.change_author.extended.last_name }} {{ job.change_author.extended.first_name }}</a>
            <br>
            <span class="job-subtitle">{% trans 'Date' %}: </span>
            {% if user_tz %}
                {% timezone user_tz %}
                    {{ job.change_date|date:'d.m.y H:i:s' }}
                {% endtimezone %}
            {% else %}
                {{ job.change_date|date:'d.m.y H:i:s' }}
            {% endif %}
            {% if change_comment|length %}
                <br>
                <span class="job-subtitle">{% trans 'Comment' %}:</span> <small>"{{ change_comment }}"</small><br>
            {% endif %}
            <br>
            <span class="show-job-title">{% trans 'Status' %}: </span>
            {% if job.jobstatus %}
                <span style="color:
                        {% if job.jobstatus.status == '0' %}
                            #887AB8
                        {% elif job.jobstatus.status == '1' %}
                            #FF8533
                        {% elif job.jobstatus.status == '2' %}
                            #335CD6
                        {% elif job.jobstatus.status == '3' %}
                            #00E600
                        {% elif job.jobstatus.status == '4' %}
                            #CC0000
                        {% endif %}
                ">
                    {% if job.reportroot %}
                        <a href="{% url 'reports:report_root' job.reportroot.id %}">{{ job.jobstatus.get_status_display }}</a>
                    {% else %}
                        <ins>{{ job.jobstatus.get_status_display }}</ins>
                    {% endif %}
                </span>
            {% else %}
                -
            {% endif %}
            <br><br>
            {% if job.verdict %}
                <div class="row">
                    <div class="col-sm-6">
                        <span class="show-job-title"><b>{% trans 'Unsafes' %}: </b></span>
                        <ul>
                            {% for v in verdict.unsafes %}
                                <li><span style="color:{{ v.color }};">{{ v.title }}: </span><a href="#">{{ v.value }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <span class="show-job-title"><b>{% trans 'Safes' %}: </b></span>
                        <ul>
                            {% for v in verdict.safes %}
                                <li><span style="color:{{ v.color }};">{{ v.title }}: </span><a href="#">{{ v.value }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            {% endif %}

            {% if unknowns %}
                <span class="show-job-title"><b>{% trans 'Problems' %}</b></span>
                {% if verdict %}(<a href="#">{{ verdict.unknowns }}</a>){% endif %}
                <ul>
                    {% for comp in unknowns %}
                        <li>{{ comp.component }}</li>
                        <ul>
                        {% for probl in comp.problems %}
                            <li>{{ probl.problem }}: <a href="#">{{ probl.num }}</a></li>
                        {% endfor %}
                        </ul>
                    {% endfor %}

                </ul>
            {% endif %}

            {% if resources %}
                <span id="resource_title_span" class="show-job-title"><b>{% trans 'Resources' %}*</b></span>
                <ul>
                    {% for res_data in resources %}
                        <li>{{ res_data.component }}: <span style="color: darkblue">{{ res_data.val }}</span></li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div id="resource_star_div"><hr><small style="color: #868686">*{% trans "For each component and 'total' the format of resources is [(wall time) (cpu time) (maximum memory)]" %}</small></div>
        </div>
        {% if can_edit %}
            <div id="edit_job_div" class="col-sm-7"></div>
        {% else %}
            <div id="show_job_div" class="col-sm-7"></div>
        {% endif %}
    </div>
        {% if can_delete %}
            <div id="remove_job_popup" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{% trans 'Are you sure?' %}</h4>
                        </div>
                        <div class="modal-body">
                            <p>{% trans 'All versions and all data connected to this verification job will be deleted!' %}</p>
                        </div>
                        <div class="modal-footer">
                            <button id="remove_job__{{ job.pk }}" type="button" class="btn btn-warning" style="float: left;" data-dismiss="modal">{% trans 'Remove' %}</button>
                            <button type="button" class="btn btn-info" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
