{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% block title %}{% trans 'Sign in' %}{% endblock %}

{% block head_block %}
    <link href="/static/users/css/login.css" rel="stylesheet">
{% endblock %}

{% block body_block %}
    <form class="form-signin" role="form" id="login_form" method="post" action="{% url 'users:login' %}{% if request.GET %}?next={{ request.GET.next }}{% endif %}">
        {% csrf_token %}
        <div class="ui violet segment">
        {% if login_errors %}
            <p style="color: #e64d44;">{{ login_errors }}</p>
        {% endif %}
        <div class="ui form large">
            <input placeholder="{% trans 'Username' %}" id="id_username" maxlength="254" name="username" type="text" required autofocus="">
            <br><br>
            <input placeholder="{% trans 'Password' %}" id="id_password" maxlength="254" name="password" type="password" required>
            <br><br>
            <button class="ui fluid large violet button" type="submit" value="Submit">{% trans 'Sign in' %}</button>
        </div>
        </div>
    </form>
{% endblock %}
