/*
 * Copyright (c) 2018 ISP RAS (http://www.ispras.ru)
 * Ivannikov Institute for System Programming of the Russian Academy of Sciences
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#include <ldv/linux/common.h>
#include <ldv/verifier/common.h>
#include <ldv/verifier/nondet.h>

// for arg_sign in spinlock_arg_signs
static int ldv_spin{{ arg_sign.id }} = 1;
static int ldv_spin_save{{ arg_sign.id }} = 1;

void ldv_spin_lock{{ arg_sign.id }}(void)
{
	if (ldv_spin{{ arg_sign.id }} != 1)
		/* ASSERT Spinlock{{ arg_sign.text }} must be unlocked */
		ldv_assert();

	/* NOTE Cut all infeasible paths */
	ldv_assume(ldv_spin{{ arg_sign.id }} == 1);
	/* NOTE Lock spinlock{{ arg_sign.text }} */
	ldv_spin{{ arg_sign.id }} = 2;
}

void ldv_spin_unlock{{ arg_sign.id }}(void)
{
	if (ldv_spin{{ arg_sign.id }} != 2)
		/* ASSERT Spinlock{{ arg_sign.text }} must be locked */
		ldv_assert();

	/* NOTE Cut all infeasible paths */
	ldv_assume(ldv_spin{{ arg_sign.id }} == 2);
	/* NOTE Unlock spinlock{{ arg_sign.text }} */
	ldv_spin{{ arg_sign.id }} = 1;
}

int ldv_spin_trylock{{ arg_sign.id }}(void)
{
	int is_spin_held_by_another_thread;

	if (ldv_spin{{ arg_sign.id }} != 1)
		/* ASSERT It may be bug if spinlock{{ arg_sign.text }} is locked at this point */
		ldv_assert();

	/* NOTE Cut all infeasible paths */
	ldv_assume(ldv_spin{{ arg_sign.id }} == 1);

	/* NOTE Construct nondetermined result */
	is_spin_held_by_another_thread = ldv_undef_int();

	/* NOTE Nondeterministically lock spinlock{{ arg_sign.text }} */
	if (is_spin_held_by_another_thread) {
		/* NOTE Spinlock{{ arg_sign.text }} was not locked. Finish with fail */
		return 0;
	}
	else {
		/* NOTE Lock spinlock{{ arg_sign.text }} */
		ldv_spin{{ arg_sign.id }} = 2;
		/* NOTE Finish with success */
		return 1;
	}
}

void ldv_spin_unlock_wait{{ arg_sign.id }}(void)
{
	if (ldv_spin{{ arg_sign.id }} != 1)
		/* ASSERT Spinlock{{ arg_sign.text }} must not be locked by current thread */
		ldv_assert();

	/* NOTE Cut all infeasible paths */
	ldv_assume(ldv_spin{{ arg_sign.id }} == 1);
}

int ldv_spin_is_locked{{ arg_sign.id }}(void)
{
	int is_spin_held_by_another_thread;

	/* NOTE Construct nondetermined result */
	is_spin_held_by_another_thread = ldv_undef_int();

	/* NOTE Nondeterministically understand whether spinlock{{ arg_sign.text }} was locked */
	if(ldv_spin{{ arg_sign.id }} == 1 && !is_spin_held_by_another_thread) {
		/* NOTE Spinlock{{ arg_sign.text }} is not locked */
		return 0;
	}
	else {
		/* NOTE Spinlock{{ arg_sign.text }} was locked */
		return 1;
	}
}

int ldv_spin_can_lock{{ arg_sign.id }}(void)
{
	/* NOTE Inverse function for spin_is_locked() */
	return !ldv_spin_is_locked{{ arg_sign.id }}();
}

int ldv_spin_is_contended{{ arg_sign.id }}(void)
{
	int is_spin_contended;

	/* NOTE Construct nondetermined result */
	is_spin_contended = ldv_undef_int();

	/* NOTE Nondeterministically understand whether spinlock{{ arg_sign.text }} is contended */
	if(is_spin_contended) {
		/* NOTE Spinlock{{ arg_sign.text }} is contended */
		return 0;
	}
	else {
		/* NOTE Spinlock{{ arg_sign.text }} is not contended */
		return 1;
	}
}

int ldv_atomic_dec_and_lock{{ arg_sign.id }}(void)
{
	int atomic_value_after_dec;

	if (ldv_spin{{ arg_sign.id }} != 1)
		/* ASSERT Spinlock{{ arg_sign.text }} must be unlocked (since we may lock it in this function) */
		ldv_assert();

	/* NOTE Cut all infeasible paths */
	ldv_assume(ldv_spin{{ arg_sign.id }} == 1);

	/* NOTE Assign result of atomic decrement */
	atomic_value_after_dec = ldv_undef_int();

	/* NOTE Atomic decrement result is zero */
	if (atomic_value_after_dec == 0) {
		/* NOTE Lock spinlock{{ arg_sign.text }} */
		ldv_spin{{ arg_sign.id }} = 2;
		/* NOTE Finish with success */
		return 1;
	}

	/* NOTE Atomic decrement result is not zero. Finish with fail without locking spin{{ arg_sign.text }} */
	return 0;
}
// endfor

void ldv_check_final_state(void)
{
	// for arg_sign in spinlock_arg_signs
	if (ldv_spin{{ arg_sign.id }} != 1)
		/* ASSERT Spinlock{{ arg_sign.text }} must be unlocked before finishing operation */
		ldv_assert();
	// endfor
}

/* For 'linux:alloc:spinlock' requirement */
int ldv_exclusive_spin_is_locked(void)
{
	// for arg_sign in spinlock_arg_signs
	/* NOTE Nondeterministically understand whether spinlock{{ arg_sign.text }} was locked */
	if(ldv_spin{{ arg_sign.id }} == 2) {
		/* NOTE Spinlock{{ arg_sign.text }} is locked */
		return 1;
	}
	// endfor
	/* NOTE None of the spinlocks are locked */
	return 0;
}

void ldv_save_spinlocks_schedule(void) {
  	/* NOTE save spinlocks */
	// for arg_sign in spinlock_arg_signs
  	ldv_spin_save{{ arg_sign.id }} = ldv_spin{{ arg_sign.id }};
 	ldv_spin{{ arg_sign.id }} = 1;
  	// endfor
}

void ldv_restore_spinlocks_schedule(void) {
  	/* NOTE restore spinlocks */
	// for arg_sign in spinlock_arg_signs
  	ldv_spin{{ arg_sign.id }} = ldv_spin_save{{ arg_sign.id }};
  	// endfor
}
