{% extends 'service/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Jobs' %}{% endblock %}

{% block body_block %}
    <span class="ui header">{% trans 'Operator' %}: <a href="{% url 'users:show_profile' target.pk %}">{{ target.extended.last_name }} {{ target.extended.first_name }}</a></span>
    <div class="ui toggle checkbox" style="float: right">
        <input id="autoupdate" type="checkbox">
        <label for="autoupdate">{% trans 'Update automatically' %}</label>
    </div>
    <input type="hidden" id="user_id" value="{{ user.pk }}">
    <br><br>
    <div id="jobs_table">{% include 'service/jobs_table.html' with data=data %}</div>
{% endblock %}