{% load i18n %}
{% load tz %}
{% timezone user.extended.timezone %}
    <div class="ui divider"></div>
    <div class="ui grid">
        <div class="seven wide column">
            <span class="header ui violet">{% trans 'Scheduler' %}: <a href="{% url 'service:scheduler' data.scheduler.pk %}">{{ data.scheduler.name }}</a></span>
        </div>
    </div>
    <div style="width:100%;max-width: 100%; overflow-x: auto;max-height: 350px;overflow-y: auto">
        <table class="ui celled compact blue selectable table">
            <thead>
                <tr>
                    <th>{% trans 'Operator' %}</th>
                    <th>{% trans 'Job' %}</th>
                    <th>{% trans 'Priority' %}</th>
                    <th class="collapsing">{% trans 'Start date' %}</th>
                    <th class="collapsing">{% trans 'Finish date' %}</th>
                    <th class="collapsing">{% trans 'Solution wall time' %}</th>
                    <th>{% trans 'Finished tasks' %}</th>
                    <th>{% trans 'Unknown tasks' %}</th>
                    <th>{% trans 'Error tasks' %}</th>
                    <th>{% trans 'Total tasks' %}</th>
                    <th class="collapsing four wide column">{% trans 'Progress' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data.data %}
                    <tr>
                        <td class="collapsing"><a href="{% url 'users:show_profile' row.session.job.reportroot.user_id %}">{{ row.session.job.reportroot.user.extended.last_name }} {{ row.session.job.reportroot.user.extended.first_name }}</a></td>
                        <td class="collapsing"><a class="get-schedulers-table" href="#">{{ row.session.job.name }}</a><span hidden>{{ row.session.pk }}</span></td>
                        <td class="collapsing">{{ row.session.get_priority_display }}</td>
                        <td class="collapsing">{{ row.session.start_date }}</td>
                        <td class="collapsing">{{ row.finish_date }}</td>
                        <td class="collapsing">{{ row.wall_time }}</td>
                        <td>{{ row.session.statistic.tasks_finished }}</td>
                        <td>{{ row.session.statistic.tasks_lost }}</td>
                        <td>{{ row.session.statistic.tasks_error }}</td>
                        <td>{{ row.session.statistic.tasks_total }}</td>
                        <td class="four wide column">
                            <div style="min-width: 200px;" class="ui indicating progress {% if row.progress != 100 %}active{% endif %}" data-percent="{{ row.progress }}">
                                <div class="bar" style="transition-duration: 300ms; width: {{ row.progress }}%;">
                                    <div class="progress">{{ row.progress_text }}</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endtimezone %}
