{% extends 'service/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Scheduler' %}{% endblock %}

{% block body_block %}
    <table class="ui compact olive table">
        <thead>
            <tr>
                <th class="five wide column center aligned">{{ data.scheduler.name }}</th>
                <th class="five wide column center aligned">
                    {% if data.scheduler.status == 'HEALTHY' %}
                        <span style="color:green">{% trans 'Available' %}</span>
                    {% elif data.scheduler.status == 'AILING' %}
                        <span style="color:red">{% trans 'Ailing' %}</span>
                    {% elif data.scheduler.status == 'DISCONNECTED' %}
                        <span style="color:red">{% trans 'Disconnected' %}</span>
                    {% endif %}
                </th>
                <th class="six wide column center aligned">
                    {% if data.scheduler.need_auth %}
                        <span style="color:red">{% trans 'Restricted access' %}</span>
                    {% else %}
                        <span style="color:green">{% trans 'Open access' %}</span>
                    {% endif %}
                </th>
            </tr>
        </thead>
    </table>
    <div class="ui grid">
        <div class="eight wide column">
            <table class="ui celled compact violet table selectable">
                <thead>
                    <tr>
                        <th class="ten wide column center aligned" colspan="2">{% trans 'Resources' %}</th>
                        <th class="six wide column center aligned">{% trans 'Occupied' %}/{% trans 'Total' %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="right aligned" colspan="2">{% trans 'Total RAM' %}</th>
                        <td class="right aligned">{{ data.scheduler_data.ram }}</td>
                    </tr>
                    <tr>
                        <th class="right aligned" colspan="2">{% trans 'Total disc space' %}</th>
                        <td class="right aligned">{{ data.scheduler_data.memory }}</td>
                    </tr>
                    <tr>
                        <th class="right aligned" rowspan="{{ data.scheduler_data.rowspan }}">{% trans 'CPU cores' %}</th>
                        <th class="right aligned">{% trans 'Total' %}</th>
                        <td class="right aligned">{{ data.scheduler_data.cores_total }}</td>
                    </tr>
                    {% for core in data.scheduler_data.cores %}
                        <tr>
                            <th class="right aligned">{{ core.name }}</th>
                            <td class="right aligned">{{ core.value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="eight wide column">
            <table class="ui celled compact violet table selectable">
                <thead>
                    <tr>
                        <th>{% trans 'Tool' %}</th>
                        <th>{% trans 'Version' %}</th>
                        <th>{% trans 'Used currently' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tool in data.tools %}
                        <tr>
                            <td>{{ tool.name }}</td>
                            <td>{{ tool.version }}</td>
                            <td>{{ tool.usage }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <table class="ui celled compact orange table selectable">
        <thead>
            <tr>
                <th>{% trans 'Node' %}</th>
                <th>{% trans 'Availability' %}</th>
                <th>{% trans 'CPU model' %}</th>
                <th>{% trans 'CPU cores' %}</th>
                <th>{% trans 'RAM' %}</th>
                <th>{% trans 'Disk space' %}</th>
                <th>{% trans 'Solving tasks' %}</th>
                <th>{% trans 'Solving jobs' %}</th>
                <th>{% trans 'Reserved for tasks' %}</th>
                <th>{% trans 'Reserved for jobs' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for node in data.nodes %}
                <tr>
                    <td>{{ node.hostname }}</td>
                    <td>{{ node.get_status_display }}</td>
                    <td>{{ node.config.cpu }}</td>
                    <td>{{ node.cores }}/{{ node.config.cores }}</td>
                    <td>{{ node.ram }}/{{ node.config.ram }}</td>
                    <td>{{ node.memory }}/{{ node.config.memory }}</td>
                    <td>{{ node.tasks }}</td>
                    <td>{{ node.jobs }}</td>
                    <td>{{ node.for_tasks }}</td>
                    <td>{{ node.for_jobs }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}