before: file ("$this")
{
struct clk;

// for arg_sign in clk_arg_signs
extern void ldv_clk_disable{{ arg_sign.id }}(struct clk *clk);
extern int ldv_clk_enable{{ arg_sign.id }}(void);
// endfor
}

around: call(static inline void clk_disable_unprepare(struct clk *clk))
{
	ldv_clk_disable{{ clk_arg_sign_patterns[1] }}(clk);
}

around: call(static inline int clk_prepare_enable(struct clk *clk)) ||
        call(int clk_enable(struct clk *clk))
{
	return ldv_clk_enable{{ clk_arg_sign_patterns[1] }}();
}

around: call(void clk_disable(struct clk *clk))
{
	ldv_clk_disable{{ clk_arg_sign_patterns[1] }}(clk);
}
