#include <verifier/common.h>
#include <verifier/nondet.h>
#include <linux/ldv/err.h>

struct clk;

// for arg_sign in clk_arg_signs
/* CHANGE_STATE Initialize counter to zero */
int ldv_counter{{ arg_sign.id }} = 0;

/* MODEL_FUNC_DEF Disable clock */
void ldv_clk_disable{{ arg_sign.id }}(struct clk *clk)
{
	/* OTHER Do not check for error or NULL pointers */
	if (ldv_is_err_or_null(clk))
		return;
	/* ASSERT The clk must be freed only once */
	ldv_assert("linux:clk::less initial decrement", ldv_counter{{ arg_sign.id }} == 1);
	/* CHANGE_STATE Disable clock */
	ldv_counter{{ arg_sign.id }} = 0;
}

/* MODEL_FUNC_DEF Enable clock */
int ldv_clk_enable{{ arg_sign.id }}(struct clk *clk)
{
	/* OTHER Do not perform enable for NULL clk */
	if (!clk)
		return 0;
	/* OTHER Nondeterministically model return value */
	int retval = ldv_undef_int();
	if (!retval) {
		/* CHANGE_STATE Enable clock */
		ldv_counter{{ arg_sign.id }} = 1;
	}
	return retval;
}
// endfor

/* MODEL_FUNC_DEF Check that all clocks are freed at the end */
void ldv_check_final_state(void)
{
	// for arg_sign in clk_arg_signs
	/* ASSERT All clk should be released before finishing operation */
	ldv_assert("linux:clk::more at exit", ldv_counter{{ arg_sign.id }} == 0);
	// endfor
}
