[Unit]
Description=Klever Celery Beat Development Service
After=network.target local-fs.target remote-fs.target

[Service]
Type=simple
EnvironmentFile=/etc/default/klever
ExecStartPre=/bin/sh -c "cd ${KLEVER_DEPLOYMENT_DIRECTORY}/klever/bridge"
ExecStart=/usr/local/python3-klever/bin/celery beat -A bridge --loglevel=info

[Install]
WantedBy=multi-user.target
