[Unit]
Description=Klever Native Scheduler Service

[Service]
Type=idle
User=klever
EnvironmentFile=/etc/default/klever
ExecStartPre=/bin/sh -c "sleep 10"
ExecStart=/usr/local/python3-klever/bin/python3 ${KLEVER_DEPLOYMENT_DIRECTORY}/klever/scheduler/bin/native-scheduler ${KLEVER_DEPLOYMENT_DIRECTORY}/klever-conf/native-scheduler.json

[Install]
WantedBy=multi-user.target
