{% load i18n %}

{% if report_tags|length %}
    <h5 class="ui {% if tags_type == 'safe' %}green{% else %}orange{% endif %} header">{% trans 'Tags' %}</h5>
    <div class="ui list">
        {% for rt in report_tags %}
            <div class="item">
                <i class="tag tiny {% if tags_type == 'safe' %}green{% else %}orange{% endif %} icon"></i>
                <div class="content">
                    <span{% if rt.description %} class="tag-description-popup" data-variation="very wide" data-content="{{ rt.description }}"{% endif %}>{{ rt.name }}: </span>
                    <a href="{{ rt.url }}">{{ rt.value }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}